[2021-04-22 06:43] ivankochin commented on #381
`zip_iterator` related interfaces were removed in oneTBB 2021.

You can obtain oneDPL [here](https://github.com/oneapi-src/oneDPL/releases).

On Linux, it has the same name as the TBB library (but a different SO version).

[2021-04-22 11:27] anton-potapov commented on #378
It seems that `zero_allocator` was removed by mistake.

However :
-     it seems that the only use case for it is the "waiting for element construction" in the concurrent_vector (as described in the developer guide), which in some cases might lead to Undefined Behavior in C++ and need to be better thought out / described
-     It is relatively small effort for user to implement it by themselves

S

[2021-04-22 22:34] kiplingw commented on #381
Hmm, that's good to know because it means my code will break after my distro releases oneTBB version 2021. But it also [looks](https://software.intel.com/content/www/us/en/develop/documentation/oneapi-dpcpp-library-guide/top/extension-api.html) like it should be as simple as replacing `tbb::make_zip_iterator` with `dpl::make_zip_iterator`. Otherwise I should not need to change anything about the b

[2021-04-23 17:00] gartung opened #384 "Stack traces are disconnected when using resumable tasks"
Since CMSSW moved to using resumable tasks the results of cpu usage with our profiler [Igprof](https://github.com/igprof/igprof) have been incorrect. The reported cpu usage is on the order of 10% of the actual cpu usage. Perf was also tried but the cumulative cpu usage for functions did not add up. Profiling was also done with vtune. While vtune correctly accounts for the total cpu usage, the top

[2021-04-23 17:11] gartung commented on #384
Some examples of Igprof output using TBB test executables
[test_resemable_tasks from TBB 2020U4](https://gartung.web.cern.ch/gartung/cgi-bin/igprof-navigator/igprof.test_resumable_tasks.exe.14068.1618500634.783341/cumulative)
[test_resumable_tasks from onTBB 2021.2](https://gartung.web.cern.ch/gartung/cgi-bin/igprof-navigator/igprof.test_resumable_tasks.27454.1618527749.254239/cumulative)
Igprof c

[2021-04-23 17:20] gartung commented on #384
Before the switch to Igprof reported the cumulative cpu usage correctly in [CMSSW_11_3_0_pre4](http://cms-reco-profiling.web.cern.ch/cms-reco-profiling/cgi-bin/igprof-navigator/releases/CMSSW_11_3_0_pre4/23434.21/step3/cpu_endjob) when counting from `_start_main`.

After the switch the resumable tasks Igprof reported the cumulative cpu usage incorrectly in [CMSSW_11_3_0_pre5](http://cms-reco-profi

[2021-04-23 17:28] gartung commented on #384
Example of vtune report
![image](https://user-images.githubusercontent.com/4292184/115908104-53b94100-a42f-11eb-9855-a83e1b3c27b3.png)

[2021-04-24 01:46] gartung commented on #384
The igprof trace with usleep(10) inserted in the dummy_body so more sampling could be done.
https://gartung.web.cern.ch/gartung/cgi-bin/igprof-navigator/igprof.test_resumable_tasks.15843.1619227899.482519/cumulative

[2021-04-26 15:06] isaevil commented on #370
@kloczek This issue will be fixed in the next release or update of the master branch.

[2021-04-26 15:28] ivankochin commented on #381
@capatober @reble could you please confirm or correct this statement?

If you aren't using any interfaces that were changed during the revamp, then it seems correct on Linux.

[2021-04-26 15:41] gartung commented on #384
From the [comment in the igprof code ](https://github.com/igprof/igprof/blob/03d16c15bd970256affcfde9e510a8404856b233/src/profile-perf.cc#L269) it seems that igprof does not count the time in clone().

[2021-04-26 15:45] gartung commented on #384
Vtune at least record the time under clone().
![image](https://user-images.githubusercontent.com/4292184/116111756-90c64300-a67c-11eb-8db4-4073266d523d.png)

[2021-04-26 16:34] capatober commented on #381
It's correct if you have oneDPL in your environment

[2021-04-26 18:06] kiplingw commented on #381
Ok perfect. Hopefully at the time my distro ships oneTBB 2021, oneDPL will come with it. Do you know of any distros that currently ship the latter?

[2021-04-26 18:40] alexey-katranov commented on #384
I suppose that resumable tasks involve stack manipulation with `ucontext`, it might cause unexpected issues with profiling tools. The issues can be caused  when the same thread is switching between different tasks that access the same tls inside the tool, i.e. the tool can observe unexpected order of tls changes.

[2021-04-26 23:18] gartung commented on #384
It looks like igprof implemented its own set_context function to swap back and forth from the igprof thread to the process thread.
https://github.com/igprof/igprof/blob/03d16c15bd970256affcfde9e510a8404856b233/src/hook.cc#L1135
 According this page early implementations of getcontext/setcontext used setjump/longjump
https://man7.org/linux/man-pages/man3/setcontext.3.html

[2021-04-26 23:43] gartung commented on #384
It appears that when the coroutine is created the parent context is set to 0
https://github.com/oneapi-src/oneTBB/blob/9e15720bc7744f85dff611d34d65e9099e077da4/src/tbb/co_context.h#L176
Whereas an example call to sets the parent context to the main context
https://en.wikipedia.org/wiki/Setcontext

[2021-04-26 23:52] gartung commented on #384
It appears that when the coroutine is created the parent context is not saved
https://github.com/oneapi-src/oneTBB/blob/9e15720bc7744f85dff611d34d65e9099e077da4/src/tbb/co_context.h#L176
I think this would explain the disconnected stack traces.

[2021-04-26 23:53] gartung commented on #384
https://man7.org/linux/man-pages/man3/makecontext.3.html

[2021-04-27 10:16] alexey-katranov commented on #384
In the example, `uc_link` is used to specify where the coroutine should return when its function is completed. In oneTBB runtime, we do not know where to return in advance because coroutines are executed independently from each other and successor depends on execution flow.

[2021-04-27 13:21] KOLANICH opened #385 "../src/tbb/scheduler_common.h:229:9: error: always_inline function '_tpause' requires target feature 'waitpkg', but would be inlined into function 'prolonged_pause' that is compiled without support for 'waitpkg' _tpause(0, time_stamp + 700)"
[code]

Compiler: clang++-13
OS: Ubuntu Hirsute

[2021-04-27 20:56] gartung commented on #384
I have changed igprof to track pthread_create from GLIBC_2.2. The test executable with usleep added now shows the same undercounting of time. Where the job takes 16s to run the cumulative cpu some 0.16s.
https://gartung.web.cern.ch/gartung/cgi-bin/igprof-navigator/igprof.test_resumable_tasks.4593.1619555720.824390/cumulative

[2021-04-28 06:03] alexey-katranov commented on #385
Consider #370

[2021-04-28 06:13] #385 closed

[2021-04-28 13:41] gartung commented on #384
Igprof does not handle the context swapping with the coroutines correctly. Google perftools profiler library produces output that correctly accounts for the context swapping.

[2021-04-28 13:41] #384 closed

[2021-04-29 22:19] pauljurczak opened #386 "v2021.2.0 build fails on Ubuntu 18.04 with gcc-10.3.0"
I'm building v2021.2.0 branch on Ubuntu 18.04 with gcc-10.3.0 and it fails with this error message:
[code]

[2021-04-29 22:37] pauljurczak commented on #386
I'm getting the same error with master branch:
[code]

[2021-04-30 03:42] gartung commented on #384
When the coroutine is create the parent link is set to 0
When the coroutine is swapped back the thread exits after running the task. (edited)
The IgProf threadWrapper sees the task return and disables the profiling timer.
https://github.com/igprof/igprof/blob/03d16c15bd970256affcfde9e510a8404856b233/src/profile.cc#L835
Gperftools does not ever disables the profiling timer on the main thread. Per t

[2021-04-30 05:34] alexey-katranov commented on #386
Thank you for the report. The issue will be fixed in one of future releases.

[2021-04-30 06:07] alexey-katranov commented on #383
Do you use [Red Hat Developer Toolset](https://access.redhat.com/documentation/en-us/red_hat_developer_toolset/9/html-single/user_guide/index)?

Can you please check if the issue persists when `TBB_ALLOCATOR_TRAITS_BROKEN` is defined (e.g. via cmake: `-DCMAKE_CXX_FLAGS=-DTBB_ALLOCATOR_TRAITS_BROKEN`)?

[2021-04-30 06:20] alexey-katranov commented on #382
I run the example and wait for several minutes. The consumed memory on my machine remained flat. Can you explain how do you detect the observed leak?

[2021-04-30 06:31] alexey-katranov commented on #375
`_ZN3tbb8internal25concurrent_vector_base_v3D2Ev` is relatively old symbol. It seems either really old TBB is somewhere available or TBB is not found at all. To check the first supposition you can try to find over your file system or installed packages that no any other libtbb.so.2 is present? Additionally, you can try [`strace`](https://man7.org/linux/man-pages/man1/strace.1.html) tool but it can

[2021-04-30 06:52] alexey-katranov commented on #374
Thank you for the report. @pavelkumbrasev, can you please look at the issue?

[2021-04-30 06:54] alexey-katranov commented on #373
@kboyarinov, can you please look at the issue and related pull request?

[2021-04-30 06:55] alexey-katranov commented on #372
@kboyarinov, can you please look at the issue?

[2021-04-30 06:57] alexey-katranov commented on #366
@AlexVeprev, can you please look at the issue?

[2021-04-30 07:07] alexey-katranov commented on #336
Just a simple idea, can you create a single item buffer that is constantly is overwritten by source activity and a timer that causes the processing activity to read from this single item buffer every 2000ms?

[2021-04-30 12:02] Amir-Arsalan commented on #375
Thank you. I installed a new version of TBB and things work fine now.

[2021-04-30 12:02] #375 closed

[2021-05-02 16:52] gbschenkel commented on #386
Getting error on test_malloc_overload.cpp

[code]

[2021-05-03 11:21] nkeemik commented on #382
Indeed, it is a non-issue. I was experimenting with project defines (/D "__TBB_SOURCE_DIRECTLY_INCLUDED") and accidentally enabled this setting for tbbmalloc.dll. DllMain@tbbmalloc.dll was never called and caused a leak on every thread shut down.

[2021-05-03 11:21] #382 closed

[2021-05-04 21:22] SuperV1234 opened #387 "Cannot build under MSYS2 + MinGW x64"
Attempting to build `oneTBB` with MSYS2 + MinGW x64 results in the following error:

[code]

It seems that `oneTBB` assumes that being on Windows means I'm going to use MSVC, which is not always the case:

[code]

The preprocessor should likely check for `_MSC_VER`, not `_WIN32` or `_WIN64`.

[2021-05-04 22:31] SuperV1234 commented on #387
Created a draft PR here: #388. The PR currently compiles and links, but most tests segfault on startup.

[2021-05-05 06:42] alexey-katranov commented on #387
MinGW support is going to be addressed with #351. If possible, can you please to try out the proposed pull request that it works for you?

[2021-05-05 07:11] alexey-katranov commented on #380
As for versions, there are four types of version and backward compatibility aspect:
1. The binary version is a part of the binary name or soname, e.g. 12. This version should be relatively stable. The previous change was around 2006. It provides the basic backward compatibility guarantee that you can update the binary without code recompilation.
2. The product version is year based, e.g. 2021. The

[2021-05-05 09:22] longnguyen2004 commented on #387
@SuperV1234 Can you test my MinGW support PR? I'll merge latest master when I have time, but for now you can test the slightly older version and see if it works.

[2021-05-05 16:14] e4lam opened #389 "Replacement for tbb::task:enqueue() that works in TBB 2019?"
I'm trying to prepare our code base for future oneTBB versions and we're not ready to upgrade from TBB 2019 yet. So we would first like to move to the modern interfaces in TBB 2019 before upgrading.

One thing I'm not sure about is how do we replace tbb::task::enqueue() for "fire and forget" tasks? The closest I seem to think seems to be `tbb::task_arena::enqueue()` but initialize it to attach to

[2021-05-05 19:43] SuperV1234 commented on #387
@longnguyen2004: see https://github.com/oneapi-src/oneTBB/pull/351#issuecomment-832958878

[2021-05-06 06:02] karl616 commented on #380
Thank you @alexey-katranov for the explanation

When digging further into this (and following in the footsteps of other), I learned that the two main channels I'm dependent on, conda-forge and bioconda will be pinning the oneTBB version. That should stop packages from being installed in an environment together with the wrong version of oneTBB. I will close this issue.

[2021-05-06 06:02] #380 closed

[2021-05-06 07:04] alexey-katranov commented on #389
Consider the following approach (similar to https://github.com/oneapi-src/oneTBB/pull/367/files#diff-fde67e470af2b8fe40395abc14e0b4f6faef97faaa4ac29151187e8a424b54b5R451-R454):
[code]

[2021-05-07 03:37] kunlinyu commented on #383
I have similar problem:

`[ 16%] Building CXX object test/CMakeFiles/test_malloc_shutdown_hang.dir/tbbmalloc/test_malloc_shutdown_hang.cpp.o
[ 16%] Linking CXX executable ../gnu_5.4_cxx11_64_relwithdebinfo/test_malloc_shutdown_hang
[ 16%] Built target test_malloc_shutdown_hang
Scanning dependencies of target test_malloc_init_shutdown
[ 16%] Building CXX object test/CMakeFiles/test_malloc_init_shut

[2021-05-07 03:50] e4lam commented on #389
That's what I was already doing. Thank you for the confirmation!

[2021-05-07 03:50] #389 closed

[2021-05-07 06:10] alexey-katranov commented on #383
It seems libstdc++ coming with GCC 5.4 is also broken. Currently, the macro is defined for GCC 5.3 and older:
[code]
However, it is not clear what libstdc++ version is used by @Hugh5632

[2021-05-07 08:05] AlexVeprev commented on #366
Hi @christofmuc,

Consider an approach with generator expression `$<TARGET_FILE:TBB::tbb>` in `add_custom_command`, here is an example based on [Fibonacci](https://github.com/oneapi-src/oneTBB/tree/master/examples/test_all/fibonacci):
[code]

Result with Visual Studio 2019:
[code]

[2021-05-07 15:43] phprus commented on #342
Commit https://github.com/oneapi-src/oneTBB/tree/6caecf9630a66fa08512eda86086aa25a4764504

```CC=gcc-7 CXX=g++-7 cmake -DCMAKE_VERBOSE_MAKEFILE=1 -DCMAKE_BUILD_TYPE=Release ../..```:

[code]

```CC=gcc-8 CXX=g++-8 cmake -DCMAKE_VERBOSE_MAKEFILE=1 -DCMAKE_BUILD_TYPE=Release ../..```:

[code]

```CC=gcc-9 CXX=g++-9 cmake -DCMAKE_VERBOSE_MAKEFILE=1 -DCMAKE_BUILD_TYPE=Release ../..```:

[code]

**Unex

[2021-05-07 16:14] alexey-katranov commented on #342
It seems similar to the issue with gcc-7. Can you try to extend the workaround in [exception.cpp:51](https://github.com/oneapi-src/oneTBB/blob/6caecf9630a66fa08512eda86086aa25a4764504/src/tbb/exception.cpp#L51) for gcc-8?

[2021-05-07 16:47] e4lam opened #391 "More details for oneTBB migration"
While the current documentation for migrating to oneTBB is good, I feel that it's still lacking some details. Perhaps a one to one port of the old https://www.threadingbuildingblocks.org/docs/help/index.htm#reference/task_scheduler/catalog_of_recommended_task_patterns.html to the new interfaces would help for some of the low-level API migration.

[2021-05-07 16:55] alexey-katranov commented on #391
@e4lam, can you please point which topics are the most important to start with?

Notify: @aleksei-fedotov

[2021-05-07 16:57] phprus commented on #342
After
[code]

```100% tests passed, 0 tests failed out of 131```

[2021-05-07 17:03] alexey-katranov commented on #342
@phprus , thank you. We will apply the fix.

[2021-05-07 17:32] phprus commented on #341
Fixed in current master.

[2021-05-07 17:32] #341 closed

[2021-05-07 20:29] diablodale commented on #342
@aleksei-fedotov I did not get a reply from you. I can open a separate issue at your request for the issue above I reported. Is that what you want?

[2021-05-07 21:38] alexey-katranov commented on #342
@diablodale , thank you for the reminder, it seems your issue was lost because of the first issue. I think it makes sense to open a new issue to avoid confusion with the current issue.
Aleksei is on vacation right now, I’ll contact him when he is back (in a week or two)

[2021-05-08 02:08] e4lam commented on #391
For, it would be the "Recycling Parent as Continuation" and "Recycling Parent as Child" sections. It strikes me that the new API unnecessarily induces extra heap allocation that didn't occur before?

[2021-05-08 16:39] e4lam opened #393 "Porting from tbb::task to tbb::task_group for non-const execute() methods?"
In the old tbb::task API, execute() methods were not marked as const. Therefore, it could mutate state within itself. This was often just needed for the duration of the execute method. eg. for calling different non-const methods on an data member that it owned.

In the oneTBB migration docs, it suggests that we use functors instead with tbb::task_group. However, a naïve conversion does not work si

[2021-05-11 08:47] AlexVeprev commented on #366
@christofmuc, I see your 👍 and consider the issue as resolved. Feel free to reopen it if you still have problems. Thanks!

[2021-05-11 08:47] #366 closed

[2021-05-12 01:45] e4lam commented on #393
The callable will see the side effects _within_ itself because it's operating on a class data member. Consider something like this except far more convoluted because it's been evolved TBB usage for over a decade:
[code]
It's not that `doAlgorithm()` cares about the state of `Functor::obj_`, `Functor::operator()` is the one that actually cares.

[2021-05-12 09:34] ivankochin commented on #187
@e4lam do you still have this concern regard this interface?

[2021-05-12 13:20] e4lam commented on #187
I do. For debug builds, I only _sometimes_ want malloc replacement. Most of the time I link without tbbmalloc_proxy in order to take advantage of the extra runtime checks provided by MSVC's debug allocator ([details](https://docs.microsoft.com/en-us/visualstudio/debugger/crt-debug-heap-details?view=vs-2019#BKMK_Find_buffer_overruns_with_debug_heap) [1]). So I would like to have the code that queri

[2021-05-13 18:59] alexey-katranov commented on #393
It seems that some time ago (~5 years ago) we considered it is a bug that non-const functor can be used:
https://github.com/oneapi-src/oneTBB/blob/tbb_2020/CHANGES#L930-L932

I believe that it was done for unification with task_group::run and to prevent the issue mentioned above.  I will try to dig into the past to understand if there were some other reasons that motivated us to change the behavio

[2021-05-14 09:02] alexey-katranov opened #396 "Possible arena object leak in single threaded environment"
The following code snippet might lead to the leak of internal arena object on a serial machine:
[code]
The root cause is that the internal arena expects a worker thread to clean up its state (change state from FULL to EMPTY) when initialized with more than zero workers. The initial design supposed that the number of workers cannot be dropped at zero in runtime. Therefore, after destruction of glob

[2021-05-17 11:49] alexey-katranov commented on #340
libtbbbind_2_4 is linked with hwloc 2.4 that supports for Intel(R) Hybrid Technology but hwloc 2.0 does not.

[2021-05-20 21:25] e4lam opened #405 "Strange interactions between task_scheduler_init / global_control / task_arena::enqueue"
Consider this program: https://godbolt.org/z/5c5eTY9PT
[code]

When I run it with debug TBB 2020 Update 3, I get:
[code]
When I comment out the static task_scheduler_init object, I get this output
[code]

Unfortunately, the 4 parts of this program (the use of task_scheduler_init, global_control, enqueue, task_arena) are in 4 separate libraries in our application that results in the debug output. I

[2021-05-20 21:45] e4lam commented on #405
Bizarrely, the (release?) TBB 2020.3 version on godbolt behaves differently when the task_scheduler_init object is commented out:
https://godbolt.org/z/Gh5dKvEzj
[code]

[2021-05-20 22:10] e4lam commented on #405
Note that if you're trying this on godbolt, it only runs in a VM of 2 threads (ie. `tbb::task_scheduler_init::default_num_threads()` returns 2).

So a side problem here is shouldn't `tbb::this_task_arena::max_concurrency()` return the effective value of how many threads can be used?

[2021-05-21 05:26] alexey-katranov commented on #405
There are really complex interoperability between those four interfaces:
1. `global_control` affects only the internal thread pool. `global_control::max_allowed_parallelism` specifies how many threads are allowed at a particular time (when the control is active).
2. `tbb::task_scheduler_init` affects the behavior of the current thread. It creates an implicit arena with the specified concurrency. S

[2021-05-21 05:42] aggieNick02 opened #406 "Guidance on assisting tbb cancellation? Feels like API is lacking"
When an exception is thrown during TBB or cancellation is otherwise requested, there can be an issue with the tbb algorithm terminating if code being run by TBB is in a state where it will not yield. Often all it takes to remedy this is the execution of algorithm-specific code to assist with the cancellation. Is there some part of the API that allows for registration of a callback when cancellatio

[2021-05-21 08:18] fourierwu commented on #406
i had face the same problem, and i make tbb::flow::graph to tbb::flow::graph*, it works,  just like below
`tbb::flow::graph* graph_tbb = new tbb::flow::graph();

  tbb::flow::input_node<int> src(*graph_tbb, [&](tbb::flow_control& fc) -> int {
    int i = 1;
    return i;
  });

  tbb::flow::function_node<int, int> func1(*graph_tbb, 1, [](int i) -> int {
    std::cout << i << "\n";
    return i;

[2021-05-21 15:41] e4lam commented on #405
Thanks, Alexey!

The purpose for `tbb::task_arena arena(tbb::this_task_arena::max_concurrency());` was so avoid using more concurrency than specified `task_scheduler_init` because it was observed that default values would end up using more threads than expected. All this in code prior to the introduction of `global_control`.

So what I'm hearing is that the effective max concurrency now is `min(gl

[2021-05-21 15:57] e4lam commented on #405
On second thought though, generally algorithms should care about `global_control` so it seems a bit odd that we're printing out a printf for this.

[2021-05-23 00:43] emaste opened #408 "Build fails on FreeBSD (13.0)"
[code]

Appears to be introduced in 4523a7615eaed49c4ed75654b349ca41b92c6381

[2021-05-25 14:52] aleksei-fedotov commented on #342
@diablodale, for some reason issue had been missing from my radars, sorry about that.

Regarding [the comment](https://github.com/oneapi-src/oneTBB/issues/342#issuecomment-772807836), you said you used default `limiter_node<T>`. This node does not have default value for threshold parameter. What value did you use as an argument?

As far as I understand from the description you provided, `limiter_n

[2021-05-25 20:19] aggieNick02 opened #414 "TBB_USE_EXCEPTIONS macro should be defined by build process"
`TBB_USE_EXCEPTIONS` is used in both headers and cpp files. This means that if you build TBB with it off and then want to use that built library, you need to make sure to also set it off in the client for the correct parts of the headers to be included.

If the client uses one value and the built library another, you will get wrong behavior/asserts/aborts. It would be great if the value used at li

[2021-05-26 18:45] mahrud opened #416 "missing parallel_do.h in tbb 2021"
I can't find any reference to this in the change logs, release notes, or the git history, and online documentation doesn't make any mention of any transitions or backwards incompatible changes involving this. Am I missing something?

[2021-05-27 04:20] alexey-katranov commented on #416
It was removed as a part of [TBB revamp](https://software.intel.com/content/www/us/en/develop/articles/tbb-revamp.html). The direct replacement is `parallel_for_each`. I hope it will not cause difficulties to replace.

[2021-05-27 06:45] mahrud commented on #416
I see, thank you! Certainly knowing the intended replacement for a deprecation helps. I was just surprised because I hadn't been seeing deprecation warnings about `parallel_do`, but now looking for "revamp" I definitely see references that I had missed.

[2021-05-27 06:45] #416 closed

[2021-05-27 07:39] alexey-katranov commented on #416
It seems we missed deprecation warnings in TBB 2020. The motivation was that `parallel_do` is almost duplication of `parallel_for_each` and was inefficient for random access iterators. Therefore, we extended `parallel_for_each` with feeder and `parallel_for_each` is optimized for random access iterators.

[2021-05-27 10:03] willkk opened #418 "Integrate static library failed"
I compiled static library by making modification like this :
![image](https://user-images.githubusercontent.com/17777977/119806134-7f3eb800-bf14-11eb-8e87-4e630c4e5659.png)

And then I integrated the 3 output files to my program: `libtbb.a`, `libtbbmalloc.a`, `libtbbmalloc_proxy.a`. But it complained this when linking:
[code]
After some checking, I found that `src/tbb/misc.cpp` did not use `assert

[2021-05-27 15:15] diablodale opened #419 "`limiter_node` fails to decrement/open with `continue_msg` yet works with `int`"
Using the default limiter_node<T> and sent continue_msg() via an edge to the limiter.decrementer() does not decrement and open again the limiter node. It stays closed and no messages pass.

I made a single code change to limiter_node<T, int> and sent (int)1 via the edges. Now I have no issues. The limiter_node works as I expect. 🤔

Related to discussion in https://github.com/oneapi-src/oneTBB/issu

[2021-05-27 16:02] aggieNick02 opened #420 "If a node marked as lightweight throws an exception, deadlock can occur. This should be documented or corrected"
I had a very simple multifunction node that just translated  incoming messages to outgoing messages that I had marked as lightweight. If the incoming message was non-sensical, it would throw an exception. When this happened, the graph would sometimes deadlock with the previous node trying to queue an incoming message to the lightweight node.

In hindsight, I can understand why an exception from a

[2021-05-27 16:21] aggieNick02 opened #421 "oneTBB documentation location is confusing/messy, documentation search gives many broken links"
Trying to find/use the up-to-date documentation for oneTBB is currently pretty frustrating. The following are the hurdles a user will hit:

1. Many google queries lead to a result that no longer exists and redirects to the main oneTBB github page (which doesn't have the info the user is seeking). For example "tbb flow lightweight" has top reasult of https://www.threadingbuildingblocks.org/docs/hel

[2021-05-27 16:23] aggieNick02 commented on #391
Note the link above no longer works, and just redirects to the main github page

[2021-05-27 18:38] AlexVeprev commented on #363
@jomeng, have you checked the latest available release?

[2021-05-27 22:30] e4lam commented on #391
New link courtesy of google:
https://scc.ustc.edu.cn/zlsc/tc4600/intel/2015.1.133/tbb/tbb_ugref/reference/task_scheduler/catalog_of_recommended_task_patterns.htm

[2021-05-28 02:18] willkk commented on #418
The definition and implementation can be put into separate files.

[2021-05-28 09:58] jomeng commented on #363
Hi, yes, the latest version has `TBBConfig.cmake` as well as `TBBConfigVersion.make`. Thanks!

[2021-05-31 05:33] alexey-katranov commented on #418
It will not help because the implementation is used for all three libraries (tbb, tbbmalloc, tbbmalloc_proxy) and we do not want them to have dependency on each others. I.e. even separated into special file, this file will be compiled into each of these libraries and symbols will be duplicated.

[2021-05-31 08:03] aleksei-fedotov commented on #420
I have a suspicion what might go wrong. Can you tell please what value of concurrency do you specify for such a multifunction node?

[2021-05-31 09:02] aleksei-fedotov commented on #419
Hi @diablodale. Thank you for opening up a separate issue to track this!

The specialization for `continue_msg` inherits `continue_receiver`, which has `try_put_task()` that calls the `execute()` method, which, in turn, calls `limiter_node<>::decrement_counter()` so that it adjusts the gate accordingly.

Please make sure multifunction nodes indeed send messages to the output ports that are connect

[2021-05-31 12:40] ivankochin commented on #408
Hi @emaste,
Could you please try out the following solution: https://github.com/oneapi-src/oneTBB/tree/fix-freebsd-testing ?

[2021-05-31 17:29] diablodale commented on #419
I have a reproducer with bulk private code removed. The framework/flow is still there which I would prefer not be public.
Do you have a process by which I can provide the reproducer privately to a verified Intel employee and Intel to keep it confidential ala NDA?

[2021-05-31 18:22] emaste commented on #408
Thanks, it resolves that error. Now getting this error:
[code]

and if I ignore that, one more:
[code]

I'm not sure where in the CMake this comes from, but it looks like we're passing hwloc's lib dir (just `/usr/local/lib`) rather than the linker flag (`-L/usr/local/lib`)

[2021-06-01 08:23] ivankochin commented on #408
@emaste, I have updated the branch with a new patch, could you please check it one more time?

[2021-06-01 09:51] aleksei-fedotov commented on #419
I have an idea what can go wrong - have you considered [buffering policy](https://spec.oneapi.com/versions/latest/elements/oneTBB/source/flow_graph/forwarding_and_buffering.html#buffering) of the limiter_node's predecessor(s) in your graph? Perhaps, some of the rejected messages by the `limiter_node` are simply lost?

Regarding the reproducer, you can use official inteltbbdevelopers@intel.com addr

[2021-06-01 11:26] omalyshe commented on #421
@aggieNick02 , thanks for your feedback.
threadingbuildingblocks.org site is deprecated. Unfortunately, Google cache that is still refering to it is out of our control.

The main GitHub page misses the link to [oneTBB Specification](https://spec.oneapi.com/versions/latest/elements/oneTBB/source/nested-index.html) where you can find information about lightweght policy - [search results ](https://sp

[2021-06-01 13:09] aleksei-fedotov commented on #420
Please note that when exception is thrown the `graph` would not process any new message until its `wait_for_all()` method is called. Is this the behavior you observe?

[2021-06-01 13:27] emaste commented on #408
That one is fixed. The hwloc linking error remains, and now this one:

[code]

[2021-06-01 13:49] emaste commented on #408
I added a cast in test_malloc_compliance.cpp and edited build.ninja to adjust the hwloc link lines and the build finished.

[2021-06-01 15:02] #363 closed

[2021-06-01 16:16] ivankochin commented on #408
I created the MR(#425) with the fix for FreeBSD. Could you please clarify how do you update the `test_malloc_compliance` to fix compilation?

Regards the linking with the HWLOC library. This library is required for the `TBBBind` library building. The `TBBbind` library is a library that helps TBB to parse system topology and provides information for the `tbb::info` related interfaces, but you may d

[2021-06-01 16:24] emaste commented on #408
I did this:
[code]
but this might not be right or might regress Linux; I will consider it more.

[2021-06-01 16:26] aggieNick02 commented on #420
So the multifunction node was serial. The behavior observed was that the wait_for_all method never returned or threw an exception (it should throw an exception). Simply removing the lightweight mark made the behavior correct. I'll post a short reproduction shortly.

[2021-06-01 16:27] robert-mijakovic commented on #341
@phprus can you comment on which commit fixed it so that I can extract the patch?

[2021-06-01 16:39] aggieNick02 commented on #420
Here's the reproduction. To make things simple, I just have two identical input nodes that both continually output 1 to an indexer node, which passes its output to a serial multifunction node marked lightweight. The multifunction node sleeps for 100ms just to ensure both input nodes have passed output to the indexer node, and then throws an exception. The flow graph hangs with the indexer node try

[2021-06-01 16:39] ivankochin commented on #31
This code was removed in one of the releases. Please, reopen the issue if you observe still observe it in oneTBB 2021.

[2021-06-01 16:39] #31 closed

[2021-06-01 16:47] ivankochin commented on #46
Thanks for reporting and sorry for the late response!

The full paths were removed from assertions, please try the fix that already available at the [master](https://github.com/oneapi-src/oneTBB/tree/master) branch. Please reopen the issue if this problem still exists or the fix isn't suitable for you.

[2021-06-01 16:47] #46 closed

[2021-06-01 16:50] ivankochin commented on #60
Closing the issue since the answer from the customer was not get and the building system was fully reworked in the oneTBB 2021 release. Please reopen the issue if you have any concerns.

[2021-06-01 16:50] #60 closed

[2021-06-01 16:59] ivankochin commented on #91
The library and examples build system was migrated to CMake in the oneTBB 2021 release so this point is irrelevant now. Please reopen the issue if you still have any concerns.

[2021-06-01 16:59] #91 closed

[2021-06-01 17:10] aggieNick02 commented on #421
Thanks for the quick response. Understood on the google cache issue. Hopefully the stale results will disappear eventually. I noticed today that while the old site is still the top result, the option to view the cached page is now gone, so it may just be a matter of time until it is gone completely. There may be steps the owners of threadingbuildingblocks.org could take to have it happen faster to

[2021-06-01 17:22] ivankochin commented on #408
I updated the MR by the fix for the `test_malloc_compliance`.

Could you please test the latest MR(#425) state and confirm that it solves all issues mentioned above?

[2021-06-02 00:43] diablodale commented on #419
Yes. I *want* to drop messages. My scenario is a graph that processes sensor frame data. If `n` number of frames are still within the graph, then the limiter should drop incoming frames. It is more important to have current frames and drop excess frames until the graph completes frames already inflight.

While further reducing, I got to a point I could run generate a trace for Flow Graph Analyzer.

[2021-06-02 05:56] alexey-katranov commented on #341
[The fix](https://github.com/oneapi-src/oneTBB/commit/478de5b1887c928e52f029d706af6ea640a877be#diff-39e4acc7b239a4903473b1f141a1cf12c7686d200891271fd6c22cce344ae97aL591-R591):
[code]

[2021-06-02 12:18] aleksei-fedotov commented on #420
Thank you for the code, we were able to reproduce the described behavior on our side! Indeed, the implementation of the `indexer_node` is incorrect in this regard. We will work on the issue resolution.

[2021-06-02 17:35] aggieNick02 commented on #420
Great to hear, thanks! Just let me know if you need anything else.

[2021-06-03 09:13] ivankochin commented on #406
If I understand your issue correctly, then you may try to pass the custom `tbb::task_group_context` instance to the graph object during the construction and then check `tbb::task_group_context::is_group_execution_cancelled()` before calling `abort()`. Something like this:

[code]

[2021-06-03 18:56] aggieNick02 commented on #406
Right, so something like that will work, but it feels really awkward and not in the spirit of TBB. I have to spawn a thread manually and poll constantly to figure out if the TBB flow graph needs help shutting down.

It would be a lot more natural, and not require a separate thread and polling, if TBB allowed nodes and/or a graph to specify a callback to assist with their shutdown when an exception

[2021-06-04 23:07] giordano opened #430 "Compilation for `powerpc64le-linux-gnu` fails"
Trying to cross-compile oneTBB with [BinaryBuilder](https://binarybuilder.org/) for PowerPC Linux, I get on current [`master`](https://github.com/oneapi-src/oneTBB/commit/fc9a3bbc78afb60b4017fdfa8dbecd20cbbdf5ad):
[code]
I git-bisected the error to https://github.com/oneapi-src/oneTBB/commit/478de5b1887c928e52f029d706af6ea640a877be.

[2021-06-08 19:53] pablorcum opened #439 "Add support for QNX Neutrino"

[2021-06-10 13:02] pkubaj commented on #186
Same issue happens on ppc:
[code]

[2021-06-15 21:42] zyrch commented on #88
How does one create a global observer? The blog link mentioned is not working and the [documentation](https://spec.oneapi.com/versions/latest/elements/oneTBB/source/task_scheduler/task_arena/task_scheduler_observer_cls.html)  says that the default constructor creates a observer to the owner thread's arena. On using arguments true or false gives a no matching constructor error. Please share if ther

[2021-06-16 05:48] alexey-katranov commented on #88
@zyrch, oneTBB does not support global observers, so there is no such argument (this thread is related to TBB).

Can you please describe the problem that you trying to solve?

[2021-06-16 10:07] zyrch commented on #88
It's the same as the one mentioned in this issue, binding threads to cores. However, since in an arena there is a max concurrency limit and also threads can join and leave multiple times, I was thinking a global observer would be much more efficient.

[2021-06-16 11:43] alexey-katranov commented on #88
You can add a flag into `thread_local` that a thread is already bound to the mask. However, pay attention to composability issues if you do not control the whole application and your library can be used with other libraries that also bind the threads.

[2021-06-16 12:50] zyrch commented on #88
Thanks. Can you share how does this approach handle the concurrency limit of the arena? I know that I can change the limit to any number I like while creating an arena, but I want this method to be dynamic.

[2021-06-16 13:28] alexey-katranov commented on #88
There is no possibility to change the limit for already created `task_arena` (beside destroying and creating with a new limit). However, you can set relatively big limit for the `task_arena` and apply `global_control` to limit the active number of worker threads. `global_control` can be used in dynamic.

[2021-06-17 09:39] mrodozov commented on #430
we have similar problem due to this:
https://github.com/oneapi-src/oneTBB/blob/8b6f831c68170231ad2748962d48e7d279d35084/src/tbbmalloc/frontend.cpp#L806-L819

[2021-06-17 14:21] zyrch commented on #88
Does oneTBB have methods defined to set affinity masks for threads? Something like mentioned [here](https://spec.oneapi.com/versions/latest/elements/oneTBB/source/task_scheduler/task_arena/task_scheduler_observer_cls.html) in the example at the bottom. Does ```src/tbbbind/tbb_bind.cpp``` has something to do with this?

[2021-06-17 20:38] BenFrantzDale commented on #267
@aleksei-fedotov this can be closed, right?

[2021-06-17 20:38] #267 closed

[2021-06-18 12:39] diablodale commented on #419
Hi. Checking back here to confirm that you received my email with the repo code. I sent it on the same day as above, 2 June 2021.

[2021-06-18 14:45] aleksei-fedotov commented on #419
Yes, we received it and did the analysis. We found two issues:
1. The documentation of the `limiter_node` is vague about the behavior of its specialization for the `continue_msg` type for the decrementer's template parameter. We are working on improving that part in [this PR](https://github.com/oneapi-src/oneAPI-spec/pull/338).
2. The calls to `graph::reset()` method are done in concurrent environ

[2021-06-18 15:16] diablodale commented on #419
In the sample code I provided, there is only one call to graph::reset(). And it is in serial section of code. It is called on Pipeline() construct. Naturally, the constructor itself is serial. The construct is triggered at the start of main() which naturally is also serial.

Given this, what are you commenting on in your (2) above?

[2021-06-18 15:35] diablodale commented on #419
In the sample code I provided, there is only one call to graph::reset(). And it is in the Pipeline() constructor, which naturally is serial itself. The constructor is triggered at the start of main() which naturally is also serial.

And am I right to assume that your (2) above is alluding that within that constructor I call `taskArena.enque( []{ flowgraph.reset() } )`? And that is before any other

[2021-06-18 16:20] aleksei-fedotov commented on #419
The enqueuing happens only if all available slots are occupied by other threads. Since `task_arena::execute()` is executed in serial environment, you may be sure it won't fallback enqueuing.

[2021-06-18 18:23] diablodale commented on #419
ok. I read the (1) doc update in the PR. That looks good.

I think there is value in adding a sentence or two...somewhere...that describes how to assign a flowgraph to a specific arena and that the approach using reset() must be done within `task_arena::execute()`. Since this is the only reliable way, I believe clear doc will help those like me in the future. Since it has to do with arena and flow

[2021-06-22 08:43] alexey-katranov commented on #414
Do you use TBB or oneTBB? oneTBB library is not supported to be built with `TBB_USE_EXCEPTIONS=0` while users can specify `TBB_USE_EXCEPTIONS` when compiling application code.

[2021-06-22 11:20] jbelloncastro opened #453 "oneTBB documentation does not clarify how task_arena and flow::function_node priorities combine"
There are two points in which we can specify the priority of a task in a flow graph:
- Initialise a task arena with low, normal or high priority and attach the graph to the arena through `flow::graph::reset()`
- Construct `function_node` with a `tbb::flow::node_priority_t` argument.

However, I couldn't find any information regarding how graph priorities and task arena priorities combine with each

[2021-06-23 03:49] joeyskeys opened #455 "No CMakeLists.txt found in 2020 update 2"
hi guys,

I tried to build release 2020 update 2, there's a Makefile in the release and I can build it fine, but no install target included.
Is it by accident the CMakeLists.txt is not included or is there another way to configure and build it?

Thanks.

[2021-06-23 07:24] alexey-katranov commented on #455
TBB 2020 does not support CMake as a build system. Consider using make: https://github.com/oneapi-src/oneTBB/blob/tbb_2020/index.html#L16 or oneTBB that supports CMake.

[2021-06-23 10:38] joeyskeys commented on #455
@alexey-katranov hi Alex, is there anyway to install this version of tbb into another place? I think by writing a bash file can do it
But I'm a little bit confused about the header file structure, it's kinda different from 2021.2.0.
For example, in 2020 update 2, there's source file like **thread.c** in include/tbb/compat/thread.c which should not be included in the include directory of a installa

[2021-06-23 13:04] aleksei-fedotov commented on #453
Priorities specified in the nodes of the graph have nothing to do with the arena priorities, nor do they have with the prioritized nodes from the other graphs. In other words, priorities in the nodes of the graph are relative to other nodes in the same graph and only affect ordering of the messages within that graph.

Not sure the documentation shall tell something about that, meaning that if ther

[2021-06-23 14:14] jbelloncastro commented on #453
Hi. Thanks for the explanation.
Since the documentation uses the same word for both concepts, even though I agree with your point that they are explained in different entities, I think a disclaimer pointing this out (something like your first paragraph should be more than enough) would be great to avoid any confusion for someone trying to learn about how to prioritise flow graph work.

[2021-06-24 02:52] aleksei-fedotov commented on #419
Yeah, definitely this information should be written somewhere. Not sure about the specification, but in the docs for sure.

BTW, what do you think if constructor of the graph will allow specifying an arbitrary task arena it will attach its execution to? Will that be useful and less error-prone for you?

[2021-06-24 03:50] aggieNick02 commented on #414
I'm sorry, I didn't realize there was a difference between TBB and oneTBB. I'm using oneTBB (the TBB present in this github repo). I'm guessing TBB is the previous version, and oneTBB is current. Are you saying that TBB supported building the library with `TBB_USE_EXCEPTIONS=0` but that is no longer supported in oneTBB?

[2021-06-24 05:07] alexey-katranov commented on #414
It was possible to build TBB runtime with `TBB_USE_EXCEPTIONS=0`; however, it was neither supported nor tested. Such build was incompatible with officially or normally built version and use-cases were unclear (it still had a dependency on C++ runtime).

In oneTBB, we decided to focus on use case when user wants to build their application without exceptions and rtti. So, the runtime is not configur

[2021-06-24 14:53] diablodale commented on #419
Perhaps "Flow Graph Tips and Tricks" section?

I also was thinking this one-and-only-way seemed an API itself rather than a documented strict set of API calls. 😏

I (re)read articles, now having somewhat more TBB experience, and I can imagine three approaches I would explore to achieve my goal. I can imagine the generic desire of "I want to run my flow graph in an explicit grouping of arena, task

[2021-06-26 02:30] dpar39 opened #460 "How to compile oneTBB with Emscritpen?"
Is it possible to compile oneTBB with Emscripten? There are third party libraries using oneTBB and it would be nice to get them to compile without changing the source code.

[2021-06-29 05:06] alexey-katranov commented on #460
I do not know if someone using oneTBB with Emscripten. Have you tried to build as is?

[2021-06-29 16:18] aggieNick02 commented on #414
Ah, ok. That is helpful to know. I think that makes this bug irrelevant. I did not realize setting the macro for building was unsupported in oneTBB - I had added support for that in the vcpkg port (https://github.com/microsoft/vcpkg/tree/master/ports/tbb), so I'll follow up and remove it.

[2021-06-29 18:09] #430 closed

[2021-06-30 02:06] Betterxuys commented on #383
Same problem here
Setting flag `-DCMAKE_CXX_FLAGS=-DTBB_ALLOCATOR_TRAITS_BROKEN` solves my problem

[2021-06-30 05:45] alexey-katranov commented on #383
@Betterxuys , which GCC version do use? Is it 5.4?

[2021-06-30 05:55] Betterxuys commented on #383
Yes, I am using gcc/g++ 5.4.0

[2021-06-30 06:03] alexey-katranov commented on #186
@pkubaj ,
does the fix work?
[code]

[2021-06-30 17:02] phprus commented on #342
Commit 4a23d0023589b493c6d45f1a01e2ed9df72ed953

https://github.com/oneapi-src/oneTBB/blob/4a23d0023589b493c6d45f1a01e2ed9df72ed953/test/tbb/test_limiter_node.cpp#L358
@alexey-katranov, GCC-10 from openSUSE Leap 15.2 is also affected :(

```g++-10 -v```:
[code]

[2021-06-30 17:26] aggieNick02 commented on #414
I'm pushing the change to the vcpkg port changes today to remove what I had added before. But I just wanted to clarify - the runtime sure seemed to still be configurable and build/run "fine" setting `TBB_USE_EXCEPTIONS=0`. Is there supposed to be something in oneTBB now to stop that from being able to happen, or is it more just moving to a more explicit "not supported" stance if someone should try

[2021-06-30 18:46] kloczek opened #468 "2021.3.0: build fails"
[code]

[2021-06-30 18:54] pkubaj commented on #186
Yes. Can you commit that patch?

[2021-07-01 07:01] alexey-katranov commented on #414
It was intentional decision to drop `TBB_USE_EXCEPTIONS=0` support for the oneTBB runtime. We do not see the value for the runtime built without exceptions. It might slightly reduce the code size; however, the dependency on C++ runtime is still remain. Moreover, the additional configuration requires effort to support and test. Additionally, it is incompatible if used with another runtime build wit

[2021-07-01 09:44] erikbylow-vol opened #470 "Make: clang: error: argument unused during compilation: '-MD'"
I have Macbook `BigSur 11.4` and `Xcode 12.5.1`

I have dowloaded `oneTBB-2021-2.0` and I want to build that from source.

I have run in `build` `cmake ..` and `make`.

Output from `cmake ..`:

[code]
When running `make` I get immediately:

[code]

[2021-07-01 11:17] AlexVeprev commented on #470
Hi @erikbylow-vol! This issue looks very similar to https://github.com/oneapi-src/oneTBB/issues/364 that has been addressed in v2021.3.0 (master branch contains the fix as well).
As workaround for v2021.2.0 you can try to add `-DTBB_STRICT=OFF` to `cmake` command.

[2021-07-01 11:23] erikbylow-vol commented on #470
Thanks, I think I cannot use any newer versions of TBB due to another library. (That is the reason to why I want to build from source in first place). I'll try that flag!

[2021-07-01 12:59] #470 closed

[2021-07-02 08:26] gvollant commented on #297
Hello,
I want use c++17  parallel algorithm, like std::sort (with <execution> and <algorithm> header) using gcc (or clang) under Linux.
This run well with gcc >=9 and dynamic tbb

Only one module will use tbb and I don't want ask user install new library, so I want use static link

I tried

[code]

I have these error

[code]

and make

[code]

[2021-07-02 09:03] AlexVeprev commented on #297
@gvollant what CMake version do you use? Have you tried oneTBB from master branch?
BTW, consider `-DCMAKE_CXX_STANDARD=17` to pass C++ standard.

[2021-07-02 09:09] gvollant commented on #297
thank you for helping me.

I'm using standard debian 10 cmake : version 3.13.4

The -DCMAKE_CXX_STANDARD=17 is a good idea for future step , when I'll be able to compile :-)

[2021-07-02 09:10] gvollant commented on #297
With master, I've

[code]

[2021-07-02 15:44] #439 closed

[2021-07-02 16:25] alexey-katranov commented on #468
Can you please specify GCC and RedHat version?

[2021-07-02 16:33] ilyapopov opened #474 "Build fails: cannot find tbb.pc.in"
When included into a superproject using `add_subdirectory`(for example through `FetchContent`), oneTBB 2021.3.0 fails to build with

[code]

The offending line is the following:

https://github.com/oneapi-src/oneTBB/blob/ac3d43b691b69f943fee95668aa373c13d0d0d47/src/tbb/CMakeLists.txt#L154

The problem here is usage of `${CMAKE_SOURCE_DIR}`. This variable refers to the directory where top-level cma

[2021-07-02 17:41] kloczek commented on #468
Of course.
I'm using gcc 11.1.1 from fedora rawhide.

[2021-07-02 19:38] AlexVeprev commented on #474
@ilyapopov, thank you for reporting!

[2021-07-02 20:38] AlexVeprev commented on #455
Hi @joeyskeys, public headers for TBB 2020.2 are located in `include` folder (https://github.com/oneapi-src/oneTBB/tree/v2020.2/include), so they should be used during the installation. Do you mean `thread` without extension? https://github.com/oneapi-src/oneTBB/blob/v2020.2/include/tbb/compat/thread. It looks like header file, but not source code file, so it's fine to install it with headers.

BT

[2021-07-02 21:00] AlexVeprev commented on #297
Despite the fact that it fails here: https://github.com/oneapi-src/oneTBB/blob/734f0bc0be3f76f45984cb9adf2f93cab603fe94/cmake/utils.cmake#L39
 this fail should be prevented by this section https://github.com/oneapi-src/oneTBB/blob/734f0bc0be3f76f45984cb9adf2f93cab603fe94/cmake/utils.cmake#L35

And I was not able to reproduce it on Fedora 34 and Ubuntu 20.04. I will continue investigation.

[2021-07-03 05:33] gvollant commented on #297
wiith ubuntu 20.04

[code]

cmake just say
[code]

and make fail
[code]

[2021-07-03 18:52] phprus opened #477 "Linking error with LLD linker"
### Clang 9 + LLD

CMake:
[code]

Error:
[code]

[2021-07-04 19:19] phprus opened #478 "Some tests failed on MSVC 2019 (x64 build)"
Release build:

[code]

Tests:
[code]

RelWithDebInfo build:

[code]

Tests:
[code]

LOG:
[code]

[2021-07-05 02:13] joeyskeys commented on #455
Hi @AlexVeprev , I'm trying to build a [rez](https://github.com/nerdvegas/rez) package for tbb which will need to build tbb from source.
And according to the [industry reference](https://vfxplatform.com/) the specific version of tbb 2020.2 is chosen, hence the issue.
Currently I'm trying to write a custom CMakeLists file for this version and make a patch for it.

[2021-07-05 12:53] phprus commented on #478
```conformance_parallel_for.exe``` call stack:
[code]

[2021-07-05 14:23] #474 closed

[2021-07-05 17:43] Anteru opened #481 "oneTBB 2021.3.0 fails to build with Visual Studio 2019 16.10 in C++20 mode"
To reproduce, configure CMake with setting `CMAKE_CXX_STANDARD` to 20. The build will fail with hundreds of errors, starting with

[code]

Tested with the 2021.3.0 public release, MSVC 19.29.30038.1. As far as I can tell, there's no documented known issue with MSVC 2019 & C++ 20.

[2021-07-05 17:58] AlexVeprev commented on #455
@joeyskeys it is not documented approach and may not be suitable, but you may want to take a look at https://github.com/oneapi-src/oneTBB/blob/v2020.2/build/build.py

This script allows to install TBB 2020 and older versions, e.g. it was used to prepare conda packages in conda-forge channel: https://github.com/conda-forge/tbb-feedstock/blob/2020.2/recipe/meta.yaml#L14

[2021-07-05 18:04] AlexVeprev commented on #297
[code]
these messages are ok unless you want to build tbbbind targets.

@alexey-katranov, @isaevil could you please comment on `test_malloc_lib_unload.cpp:143:16: error`?

[2021-07-05 18:13] AlexVeprev commented on #297
@gvollant, you may want to add `-DTBB_TEST=OFF` to skip tests build, in this case you should be able to build without errors on Ubuntu 20.04

[2021-07-06 19:53] phprus commented on #478
MSVC 19.21 - ```test_eh_flow_graph (Failed)```
MSVC 19.22 - 100% tests passed

[2021-07-07 02:09] joeyskeys commented on #455
@AlexVeprev exactly what I need, thank you so much.
This issue could be closed.

[2021-07-07 02:09] #455 closed

[2021-07-07 12:23] Iliamish commented on #478
Hello! Do you see these errors every time you start tests, or do they run sporadically?

[2021-07-07 13:20] phprus commented on #478
Windows 7 SP1 - every time,
Windows 10 - sporadically.

Pull request https://github.com/oneapi-src/oneTBB/pull/480 does not solve this issue.

[2021-07-08 09:16] Iliamish commented on #478
Can you provide a more detailed description of your hardware?

[2021-07-08 09:28] phprus commented on #478
Windows 7 SP1:
Proxmox VE KVM Virtual machine,
2 Virtual Core CPU, 6 GB RAM.

Windows 10 Bare metal,
16 GB RAM, 8 Core Intel CPU

[2021-07-08 10:01] kboyarinov commented on #481
Hi, @Anteru,

Thank you for reporting the issue!
Multiple issues in C++20 mode were fixed in master ([commit link 1](https://github.com/oneapi-src/oneTBB/commit/16b6a651a9afc11e87e31ab3a8df700ac4d3ef09) and [commit link 2](https://github.com/oneapi-src/oneTBB/commit/4a23d0023589b493c6d45f1a01e2ed9df72ed953)).

If you still face any issues, please contact us.
Thank you once again.

[2021-07-08 21:21] gvollant commented on #297
thank you, compile is done under ubuntu.
What is the problem with debian 10 ? cmake is too old?

[2021-07-11 21:49] phprus commented on #478
Commit b3fb83948504388cc6f85286b1d2063334df008b
MSVC 19.24 - ```test_eh_flow_graph (Failed)```

[2021-07-12 15:00] AlexVeprev commented on #297
Hmm, yes, looks like it depends on CMake version. I was able to reproduce the same failure on Ubuntu 18.04 with CMake 3.10.2. I'm investigating possible solution.

[2021-07-12 15:48] jdumas commented on #297
I think the failure is related to the [following change](https://cmake.org/cmake/help/v3.21/release/3.14.html#commands) introduced in CMake 3.14:

Note that in the following code:
[code]

The `devel` and `runtime` components can be installed separately. I think CMake is complaining that if you try to install the `runtime` component it doesn't know where to put the ARCHIVE for tbb, tbbmalloc, etc.

[2021-07-12 15:59] AlexVeprev commented on #297
@jdumas, thank you for the idea!

Removal of `COMPONENT` param doesn't help, while removal of the second `install(TARGETS ...)` helps. I assume that each `install(TARGETS ...)` call is validated separately, so even if I set `ARCHIVE` in the first `install(TARGETS ...)` it still fails in the second. I don't remember why it is split into two calls, probably `NAMELINK_ONLY` and `NAMELINK_SKIP` can't

[2021-07-12 16:01] jdumas commented on #297
I would try to add another line to specify the `ARCHIVE DESTINATION` with the `COMPONENT runtime` in your case, rather than removing the second line altogether.

[2021-07-12 16:11] AlexVeprev commented on #297
I don't think the problem in `COMPONENT`:

this doesn't resolve the error (changed component in the first `install`):
[code]

while this resolves (added archive to the second `install`, even with `devel` component):
[code]

That's why I assume that CMake checks `ARCHIVE` parameter for each `install(TARGETS ...)` call in case of static libraries.

[2021-07-12 16:23] AlexVeprev commented on #297
Seems I got it. From https://cmake.org/cmake/help/latest/command/install.html:

So, it is expected that CMake validates the second call of `install` independently on the first call. And in new versions it works because of change that @jdumas mentioned. Older versions of CMake will require patching of oneTBB cmake/utils.cmake in case of static build.

[2021-07-13 15:02] Iliamish commented on #478
We tried to get the same errors on the test built with same parameters, but did not get the result described by you. Could you please give a more detailed description of the hardware and software on which the tests are falling. As well as a complete set of steps for building and running tests, for the most accurate reproduction of the error.

[2021-07-13 16:07] phprus commented on #478
Before testing, I completely reinstalled the system.

1) Install new Windows 7 SP1 Professional x64 with all updates from Windows Update.
2) Install Visual Studio 2019 Community Edition with all compiler versions.
3) Run 19.20 x64 console tools (x64 Native Tools for VS 2019) (```%comspec% /k "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars64.bat" -vcvars_ver

[2021-07-14 10:00] phprus commented on #478
Windows 7 SP1 x64 without virtualization on CPU Intel(R) Core(TM) i7-3770K CPU @ 3.50GHz (4 core, 8 thread)

2021.3.0:
[code]

commit 68e075cbb96de2b92d1a95832754c24a07b31cc8:
[code]

[2021-07-14 15:39] Flamefire opened #489 "test_limiter_node causes segmentation fault in release mode"
The test fails with a SIGSEGV in release mode:
[code]

It passes in Debug and RelWithDebInfo. Enabling the workaround at https://github.com/oneapi-src/oneTBB/blob/55f9b178643d2925e9d81151efd08ac34dc69625/test/tbb/test_limiter_node.cpp#L358-L365 for the used GCC 10 makes it pass.

According to GDB the crash happens in `spawn_in_graph_arena`, but due to inlining I can't tell more.

Compiling with UB

[2021-07-14 17:25] phprus commented on #489
Related issue: https://github.com/oneapi-src/oneTBB/issues/342

[2021-07-15 08:13] Flamefire commented on #489
Thanks, and indeed `-fno-ipa-cp-clone` resolves the issue with TBB as well as with UBSAN and valgrind. So I'd guess it is a GCC bug.

[2021-07-15 09:37] shlowdy opened #491 "How to build for iOS using cmake?"
with
cmake . -DCMAKE_BUILD_TYPE=Release -DTBB_TEST=Off
cmake --build .
I got some macOS dylibs

How to build for iOS?

[2021-07-15 15:15] Iliamish commented on #478
Hello, we tried to reproduce the errors on the available for us MSVC 19.21, but we could not reproduce them. Can you please update your MSVC compiler to the latest version and build the library in Debug mode. If errors are still reproducible, then please send the most complete call stack

[2021-07-15 15:31] phprus commented on #478
Hello!
Errors are not reproduced in Debug mode.
Please describe the environment in which you tried to reproduce the problem (Windows and MSVC versions).

[2021-07-15 16:07] Iliamish commented on #478
Windows 10, MSVC 19.21 and the latest. We can`t use Windows 7 because it is no longer supported and has outdated security protocols.

[2021-07-15 16:10] Iliamish commented on #478
Have you tried the latest version of the compiler?

[2021-07-15 21:33] phprus commented on #478
Windows 7 screen:
<img width="457" alt="1" src="https://user-images.githubusercontent.com/382460/125852452-3f721fdb-afd4-477d-95be-d28b3b37831b.png">
Pointer to virtual functions table is NULL.

Remove ```alignas(task_alignment)``` or change to ```alignas(16)``` in ```task``` definition:
https://github.com/oneapi-src/oneTBB/blob/v2021.3.0/include/oneapi/tbb/detail/_task.h#L219
fix all tests in all

[2021-07-16 06:21] alexey-katranov commented on #478
It seems weird: if the alignment the only issue, almost all the tests should fail because each parallel construction uses tasks. What is the allocated `Type`?

`auto p = new Type()` is not the exactly same as `new (alocated_object) Type()` because `r1::allocate` guarantees alignment on `nfs_size` (128 bytes) (while usual `new` uses the standard allocator that should align on 16 bytes).  Another th

[2021-07-16 06:43] phprus commented on #478
I don't know why this helped. I have no idea. And I have not found similar errors on the Internet.

```Type``` is ```task_proxy```.

I know, but this change gave me the idea to check the alignments.

Before remove ```alignas``` test ```test_eh_flow_graph``` failed sporadically on MSVC 19.20, 19.21, 19.24.
After - all tests run without errors.
I'll check the rest of the MSVC versions a bit later.

[2021-07-16 07:03] alexey-katranov commented on #478
So, it is specific to `task_proxy` somehow. Some suppositions can be either it loses alignment or it struct (not a class).
Can you please try to specify the alignment and change `struct` to `class` (does it really matter?) on [`mailbox:31`](https://github.com/oneapi-src/oneTBB/blob/master/src/tbb/mailbox.h#L31), e.g.
[code]

[2021-07-16 07:24] phprus commented on #478
Not working :(
In any variant if ```d1::task``` has ```alignas```.

[2021-07-16 08:13] phprus commented on #478
On CPU Intel(R) Core(TM) i7-3770K CPU @ 3.50GHz (8 core)

Tests (msvc 19.20):
```test_eh_algorithms```
```test_task_group```
```test_flow_graph_priorities```
is sporadically freezeing.

In virtualized environment with 2 virtual cores this tests is passed.

[2021-07-16 09:18] phprus commented on #478
Commit 68e075cbb96de2b92d1a95832754c24a07b31cc8:

On CPU Intel(R) Core(TM) i7-3770K CPU @ 3.50GHz (8 core):

```test_eh_flow_graph``` is sporadically failed:
[code]

Tests (msvc 19.20):
```test_task_group```
```test_flow_graph_priorities```
is sporadically freezeing.

Test ```test_eh_algorithms``` is sporadically freezeing or:

[code]

I think this is a different problem. Not related to alignas.

[2021-07-16 16:10] alexey-katranov commented on #478
at F:\tmp\tbb\oneTBB-2021.3.0\include\oneapi\tbb\detail\_small_object_pool.h(55)

    at F:\tmp\tbb\oneTBB-2021.3.0\src\tbb\task_dispatcher.cpp(57)

    at F:\tmp\tbb\oneTBB-2021.3.0\include\oneapi\tbb\detail\_task.h(192)
...

It seems we are stuck. Is it acceptable to create a dump file and share it with us? If yes, can you share the dump of failed conformance_parallel_for with unmodified version

[2021-07-16 17:33] phprus commented on #478
Done.
Error: ```Unhandled exception at 0x000007FEEEA77CF4 (tbb12.dll) in conformance_parallel_for.exe: 0xC0000005: Access violation reading location 0x0000000000000000.```
Dump: [conformance_parallel_for.dmp.zip](https://github.com/oneapi-src/oneTBB/files/6832462/conformance_parallel_for.dmp.zip)

[2021-07-17 05:42] alexey-katranov commented on #478
Thank you for the dump.

At failed address `0x000007FEEEA77CF4` I see unaligned access with `movaps` - this instruction requires 16-byte aligned address. I do not know why the error message says that it is null pointer access but it is definitely unaligned access:
[code]
Can you please share tbb12.pdb that I can connect assembler with the code that generates this instruction?

[2021-07-17 06:05] phprus commented on #478
[tbb12.pdb.zip](https://github.com/oneapi-src/oneTBB/files/6834256/tbb12.pdb.zip)

[2021-07-18 05:56] alexey-katranov commented on #478
The fail is occurred in construction of proxy task [`task_dispatcher.cpp:L57`](https://github.com/oneapi-src/oneTBB/blob/master/src/tbb/task_dispatcher.cpp#L57)
I looked at surrounding assembler, it looks strange:
[code]

I looked at the code generated with msvc 19.28 - the compiler does not suppose any alignment:
[code]

It seems as an issue of msvc 19.20 that it uses aligned accesses where it ca

[2021-07-18 18:25] kmeisthax commented on #491
CMAKE has a specific flag for this: `-DCMAKE_SYSTEM_NAME=iOS`, as documented in https://cmake.org/cmake/help/latest/manual/cmake-toolchains.7.html#cross-compiling-for-ios-tvos-or-watchos

Your issue actually helped me, though, because I needed `-DTBB_TEST=Off` to get the `TRY_RUN` error to go away. With that and this TBB appears to build correctly now. Or, at least, I'm getting errors from other d

[2021-07-18 18:52] AlexVeprev commented on #491
@kmeisthax, thank you for the investigation! BTW.  setting `THREADS_PTHREAD_ARG` to `0` may help to resolve `try_run` issue in case of cross-compilation: see for example: https://github.com/oneapi-src/oneTBB/blob/master/cmake/toolchains/mips.cmake#L33

[2021-07-19 02:40] #491 closed

[2021-07-19 05:05] gvollant commented on #297
@AlexVeprev Thanl you a lot, your patch solved my problem with Cmake 3.13 (Debian 10)

I suggest you consider creating a pull request to integrate this patch

[2021-07-19 06:39] ivankochin commented on #379
The fix for this issue is available as a part of the [TBB 2021.3 release](https://github.com/oneapi-src/oneTBB/releases/tag/v2021.3.0), so I closing the issue. Please reopen the issue if wasn't fixed.

[2021-07-19 06:39] #379 closed

[2021-07-19 06:40] ivankochin commented on #408
The corresponding fix was successfully merged to master after validation, so I close the issue. Please reopen the issue, if it wasn't fixed.

[2021-07-19 06:40] #408 closed

[2021-07-19 06:42] ivankochin commented on #319
@Lastique, the fix should be available as a part of the [TBB 2021.3 release](https://github.com/oneapi-src/oneTBB/releases/tag/v2021.3.0). Please try this release and confirm that issue was successfully fixed.

[2021-07-19 08:10] phprus commented on #478
Very strange compiler behavior...
I agree, this is are msvc 19.20 bug. In my case, I will stop using this version of the compiler.

At the beginning of the week, I'll check the hanging tests again and try to find more information.

[2021-07-19 09:27] AlexVeprev commented on #297
The patch above is rather workaround, I'd consider another solution, we'll work on it with @isaevil.

[2021-07-20 08:17] phprus commented on #478
Commit a080baf9968482c3e90d3a337d35ee9221b1ab4d
Debug build
MSVC 19.21 x64
Test ```test_task_group.exe``` hangs:

Threads:
[code]

Main Thread call stack:
[code]

```task_dispatcher::get_inbox_or_critical_task``` return ```nullptr``` by condition ```inbox.empty()```.
...
and jump to ```waiter.pause(slot);``` in function ```task_dispatcher::receive_or_steal_task```

Other threads call stack:
[code]

[2021-07-20 17:50] sf-mc opened #500 "parallel_sort requires lvalue range, thus cannot be used rlavue ranges (which is a common use case in our codebase)"
This bug was introduced in commit 4cebdd9a1c9f0c56c4ddcbbb400447ab2a11fad4.

There was removed
`void parallel_sort(const Range& rng, const Compare& comp) {`
and
`void parallel_sort(const Range& rng) {`

Probably it was done by mistake, with intention to instead remove the redundant
`void parallel_sort(Range& rng, const Compare& comp) {`
and
`void parallel_sort(Range& rng) {`

The bug is still pres

[2021-07-21 08:37] phprus commented on #478
Test ```test_task_group.exe```:
[code]

If the test is successful, the warning "```TBB Warning: The number of workers is currently limited to 7. The request for 8 workers is ignored. Further requests for more workers will be silently ignored until the limit changes.```" is displayed, and if the test hangs, then no.

Maybe there is a race condition in the initialization of the library?

[2021-07-21 11:06] phprus commented on #478
More examples of errors:

[code]

[code]

[code]

[code]

[2021-07-21 11:42] alexey-katranov commented on #478
Thank you for the logs. I will try to figure out what is going on.

[2021-07-21 14:43] AGreat1 commented on #336
Not quite the same, see the example in the original post. With what you're saying, Event4 would be processed at T=8000ms.

[2021-07-22 11:38] Iliamish commented on #374
Fixed on https://github.com/oneapi-src/oneTBB/pull/499 .

[2021-07-25 18:09] Anteru commented on #481
Master is building fine with C++20, I hope you're going to make a release soon.

[2021-07-25 18:09] #481 closed

[2021-07-26 12:54] alexey-katranov commented on #336
Consider the following code, `EventBuffer` implements proposed idea of single item buffer with specified cooldown
[code]

Possible output:
[code]

[2021-07-27 21:17] kloczek commented on #468
Sorry to ask .. any progress?

[2021-07-28 11:39] sf-mc commented on #500
Some clarification.
`void parallel_sort(Range& rng) {`
Is required for ragnes like std::vector, because the `begin() const` returns const iterator.

[2021-07-28 11:42] sf-mc commented on #500
Some clarification.
`void parallel_sort(Range& rng) {`
is required for ranges like std::vector, because their `begin() const` returns const iterator.
And
`void parallel_sort(const Range& rng) {`
is needed for rvalue ranges like `std::span`, with usage like
[code]

[2021-07-29 14:40] payerle opened #514 "Building with nvhpc"
I was trying to build intel-tbb version 2018.3 (although I have seen similar issues for versions 2017 through 2020.3) using the nvc compiler from nvhpc (version 21.5), and I am running into some issues.  (I am using spack as the build environment, but the issues are general).  This is on linux (RHEL8.3) on a x86_64 VM.

Although I notice that the documentation does not list nvhpc as a supported co

[2021-07-30 08:39] sdebionne opened #515 "[FR] Move semantics for flow graph"
When running a graph outside the main thread, it's very tempting to create the graph/nodes in the main thread and then move them to the execution thread. Unfortunately that does not work out of the box as `graph` (and probably some implementation detail such as `spin_mutex`) it not movable (and neither copiable).

Ideally I would like to write something like:

[code]

A workaround is to wrap the `

[2021-07-30 08:50] sdebionne commented on #515
Looking at the code and since the nodes keep a reference to the `graph`, this FR seems hardly possible.

[2021-07-30 15:06] fschloesser opened #517 "replace `CMAKE_CURRENT_SOURCE_DIR` by `CMAKE_SOURCE_DIR` in `src/tbb/CMakeLists.txt`"
When adding oneTBB as a subdirectory i needed to replace `CMAKE_CURRENT_SOURCE_DIR` by `CMAKE_SOURCE_DIR` in https://github.com/oneapi-src/oneTBB/blob/a070e5f2086c895adf125c490b1f0e0acd6330a5/src/tbb/CMakeLists.txt#L172

[2021-07-30 18:16] alexey-katranov commented on #515
As a straightforward workaround, have you tried to wrap `graph` into `std::unique_ptr`?

[2021-07-30 20:15] pavelkumbrasev commented on #478
@phprus can you please try reproduce hand on test_task_group with current master?

[2021-07-31 09:01] AlexVeprev commented on #517
@fschloesser, the line you point at doesn't contain neither `CMAKE_CURRENT_SOURCE_DIR` nor `CMAKE_SOURCE_DIR`. Some time ago I applied a fix to the line: https://github.com/oneapi-src/oneTBB/pull/476. Could you please clarify what problem you have now? What version of oneTBB do you use?

[2021-08-02 10:53] vlserov commented on #468
Original issue has been resolved with commit [https://github.com/oneapi-src/oneTBB/commit/55f9b178643d2925e9d81151efd08ac34dc69625](https://github.com/oneapi-src/oneTBB/commit/55f9b178643d2925e9d81151efd08ac34dc69625).
But there is another warning causing build failure. We are working on resolving it.

[2021-08-02 15:38] fschloesser commented on #517
Sorry, I mistyped, I of course mean `PROJECT_SOURCE_DIR` and `CMAKE_CURRENT_SOURCE_DIR`

[2021-08-02 16:40] phprus commented on #478
Commit: 4df48f98506570fc5a035d9b16366436c97825e9

Hangs on 2 core cpu:
- ```test_collaborative_call_once.exe``` (>50% runs)
- ```test_flow_graph_priorities.exe``` (~0,5% runs)
- ```test_eh_flow_graph.exe``` (```logged: Missed wakeup or machine is overloaded?```)
- ```test_eh_algorithms.exe``` (```logged: Missed wakeup or machine is overloaded?```)

```test_task_group.exe``` work fine on 2 core cpu

[2021-08-02 18:37] AlexVeprev commented on #517
@fschloesser, according to the [doc](https://cmake.org/cmake/help/latest/variable/PROJECT_SOURCE_DIR.html):

Root CMakeLists.txt in oneTBB has unconditional `project()` call:
https://github.com/oneapi-src/oneTBB/blob/357c9b27fa84eaf748bc556585c26995c446eceb/CMakeLists.txt#L57

So this call should set `PROJECT_SOURCE_DIR` specific for oneTBB scope. How do you do `add_subdirectory()`? Maybe you can

[2021-08-02 18:42] AlexVeprev commented on #517
Oh, seems you didn't mean `PROJECT_SOURCE_DIR`, since `onetbb_2021` doesn't contain #476 fix:
https://github.com/oneapi-src/oneTBB/blob/261fe22630bd61ec137b66f6dd4403ad7ab36a14/src/tbb/CMakeLists.txt#L140

`onetbb_2021` contains release snapshots and will be updated for the next release. Please try `master` branch for your case.

[2021-08-02 18:44] AlexVeprev commented on #517
Here is the original issue: https://github.com/oneapi-src/oneTBB/issues/474. This on looks as duplicate.

[2021-08-03 09:01] phprus commented on #478
Hangs on 8 core cpu:

- ```test_collaborative_call_once.exe``` (41 times from 100 runs)
- ```test_flow_graph_priorities.exe``` (43 / 100)
- ```test_eh_flow_graph.exe``` (logged: Missed wakeup or machine is overloaded?)
- ```test_eh_algorithms.exe``` (logged: Missed wakeup or machine is overloaded?)
- ```test_task_group.exe``` (11 / 100)

[2021-08-03 09:18] fschloesser commented on #517
Yes, this was the original issue. Thank you and sorry for the confusion.

[2021-08-03 09:18] #517 closed

[2021-08-03 09:48] phprus commented on #478
```test_scheduler_mix.exe```:
[code]

Some of the launches are 2 warnings and the other part of the launches is one warning.

This is expected behavior?

[2021-08-04 05:34] pavelkumbrasev commented on #478
Yes, it's a lot of random in this test.

[2021-08-04 09:26] AlexVeprev commented on #514
Hi @payerle,

A couple of generic questions:

1. Why do you need to build TBB with nvhpc? Have you considered use of prebuilt TBB compiling your application with nvhpc?
2. Have you considered use of oneTBB 2021? It has CMake build system instead of pure Makefiles. It still may require some modifications to support nvhpc, but they may be more straightforward.

[2021-08-04 14:01] payerle commented on #514
Thanks for your suggestion of looking at
OneAPI version of TBB.

Spack indeed has a recipe for such (which appears to be downloading a prebuilt version) which seems to work for nvhpc.

You can close this ticket.

[2021-08-04 16:37] AlexVeprev commented on #514
You are welcome!

[2021-08-04 16:37] #514 closed

[2021-08-05 10:14] elftech commented on #21
@anton-malakhov ,  the steps you posted is to use pre-allocated huge pages. Anyway to support transparent huge pages ? I searched and could not find a proper one.

[2021-08-05 10:35] Lastique commented on #319
Yes, 2021.3 does contain the commit mentioned earlier and is able to detect libhwloc 2.4.1 on Kubuntu 21.04. Thanks.

[2021-08-05 10:35] #319 closed

[2021-08-05 15:38] alexey-katranov commented on #21
TBB malloc should support transparent huge pages. Consider the note in [documentation](https://spec.oneapi.io/versions/latest/elements/oneTBB/source/memory_allocation/c_interface_to_scalable_allocator.html#c.TBBMALLOC_USE_HUGE_PAGES)  about `TBBMALLOC_USE_HUGE_PAGES`

[2021-08-06 02:43] elftech opened #526 "Why no support for madvice type of transparent huge page?"

[2021-08-06 08:15] elftech commented on #21
@alexey-katranov , it support thp by both setting system thp parameter to 'always' and setting TBBMALLOC_USE_HUGE_PAGES to '1'. However, no support when the system thp parameter is 'madvice'.  #526   A other memory allocation library,  jemalloc supports either setting to 'always' or 'madice'.

[2021-08-06 08:30] royal-ai opened #527 "bucket_accessor Error"
Multiphread
[code]
AddressSanitizer: DEADLYSIGNAL
=================================================================
==41355==ERROR: AddressSanitizer: SEGV on unknown address 0x000000003228 (pc 0x0001010f6ad3 bp 0x70000beff620 sp 0x70000beff520 T5)
==41355==The signal is caused by a READ memory access.
    #0 0x1010f6ad3 in tbb::detail::d2::hash_map_node_base<tbb::detail::d1::spin_rw_mutex>* std::_

[2021-08-06 12:03] vlserov commented on #468
Build issue has been resolved on the master - branch.

[2021-08-06 12:03] #468 closed

[2021-08-09 03:06] #527 closed

[2021-08-09 07:32] vlserov commented on #477
LLVM LLD9 doesn't prioritize non-wildcards over wildcards in version script.
This behavior has been fixed in LLD10 with commit-id [#e28a70da](https://github.com/llvm/llvm-project/commit/e28a70daf4e685ed4b50619fb30983b4464fae1c).

For supporting LL9 on oneTBB side, wildcard templates in local section should be reworked for excluding explicitly defined functions of global section.
For example, [lin6

[2021-08-09 08:12] phprus commented on #477
Thank you for your answer!
Issue can be closed.

[2021-08-09 08:12] #477 closed

[2021-08-09 16:55] rafbiels opened #529 "Cannot link code using tbb::task_arena::automatic"
Since `tbb::task_arena::automatic` is defined as **non-inline** static member, it cannot be odr-used:
https://github.com/oneapi-src/oneTBB/blob/v2021.3.0/include/oneapi/tbb/task_arena.h#L215
meaning that the symbol cannot be used in a library linked against TBB, because it results in a linker error.

Minimal reproducer: https://godbolt.org/z/nT3rzf76a

This would work if  `tbb::task_arena::automat

[2021-08-09 17:13] mscastanho opened #530 "Failed to build v2021.3.0 with GCC 11 and glibc 2.34 on ppc64le"
Hi, I've been facing several issues when trying to build the latest oneTBB release on ppc64le with GCC 11 + glibc 2.34. I have workarounds for some, and I'm ignoring others for now with the appropriate `-Wno-error=*` flags.

I'm building with:
[code]

Errors when building with GCC 11.2 and glibc 2.34:

1. Build errors related to `getSmallObjectIndex`
    Fixed by cherry-picking:
   fa944e19 Remove

[2021-08-09 19:23] phprus commented on #478
New infinity loop on Linux now!

Commit: 1ecde27f4926c90ec83a05a72e1d8f97d3dce6c4
Test: ```test_flow_graph_whitebox```
OS: CentOS 7.9 or SLES 11sp3
2 core virtual CPU
Compiler: Clang 10 (https://releases.llvm.org/download.html#10.0.0, URL: https://github.com/llvm/llvm-project/releases/download/llvmorg-10.0.0/clang+llvm-10.0.0-x86_64-linux-sles11.3.tar.xz) with ```libc++```.

Backtrace from SLES 11

[2021-08-10 06:06] alexey-katranov commented on #530
2 & 4 is fixed in #433
3 is fixed in #447

[2021-08-10 06:09] alexey-katranov commented on #529
Consider workaround:
[code]
https://godbolt.org/z/robTGfYrM

[2021-08-10 07:50] yuuurchyk opened #531 "Linking Error When Path Contains Space Characters"
```src/tbb/CMakeLists.txt``` lines 92-97:

[code]

When ```${CMAKE_CURRENT_SOURCE_DIR}``` contains spaces, it is treated as 2 separate linkage flags and linking error occurs. Please wrap it is double quotes to fix it:

[code]

[2021-08-10 08:08] #374 closed

[2021-08-10 10:33] rafbiels commented on #529
Thank you, that's a good workaround - I'll use it for now.

[2021-08-10 13:19] mscastanho commented on #530
Awesome! With those fixes I'm able to fix the issues. Thanks!

[2021-08-10 13:19] #530 closed

[2021-08-10 18:28] leonardotrp commented on #244
I'm using oneAPI version 2021.2.0 on Linux Ubuntu. When running the command `/opt/intel/oneapi/setvars.sh ia32` I'm getting the following error below, but I don't know what I need to do.
[code]
Is this just a warning, or is it a mandatory feature?

[2021-08-11 16:40] AlexVeprev commented on #244
@leonardotrp do you install from official `apt` repositories? I'd recommend you to open a new oneTBB issue to continue discussion, your case looks differently, so it would be better to track it separately.

Meanwhile I'd expect that the original issue with `SUBSTITUTE_INSTALL_DIR_HERE` has been resolved a while ago, @daniel-dsouza have you had a chance to work with newer versions?

[2021-08-12 08:04] alexey-katranov commented on #478
@phprus , it seems we cannot reproduce the issue. Can you share a dump of some of the hanged tests? E.g. `test_task_group` in debug: https://github.com/oneapi-src/oneTBB/issues/478#issuecomment-883197155

[2021-08-12 18:34] phprus commented on #478
Unfortunately, I cannot give access to the servers where the error is reproduced :(
```test_flow_graph_whitebox``` error doesn't seem to reproduce in vmware esxi virtualization on an idle server.

Dump and pdb for ```test_collaborative_call_once.exe``` (commit: de0109bed0f017b4aa84fb3319e788d98910f83d) in attach: [test_collaborative_call_once.zip](https://github.com/oneapi-src/oneTBB/files/6977730

[2021-08-12 23:06] sbalint98 opened #535 "Information on __TBB_PREVIEW_FLOW_GRAPH_NODE_SET"
Hi,

While browsing the source code I came across this macro definition. This might be interesting for my use case, but unfortunately, unlike for the  `TBB_PREVIEW` macros, I couldn't find documentation for the `__TBB_PREVIEW` macros. Is there somewhere documentation available for these macros as well?

[2021-08-13 04:36] alexey-katranov commented on #535
Any macros starting with `__TBB` are internal and not supposed to be used by oneTBB users. Their semantics can be changed without prior notification that might break user code.

Typically, `__TBB_PREVIEW` macros guard implementation of corresponding features enabled with `TBB_PREVIEW` macros.

[2021-08-13 08:34] sbalint98 commented on #535
Alright, thank you for your detailed answer!

[2021-08-13 08:34] #535 closed

[2021-08-19 05:48] jqu1549 opened #539 "Is TBB supported on ARM architecture？"
Hi all, generally my application using TBB runs on x86 architecture virtual machines. Under several cases, ARM architecture virtual machines have lower cost than x86 ones. However, is TBB supported on ARM? We are specially focusing on parallels for and pipeline.

[2021-08-19 09:25] JackYangzg opened #540 "Can get native thread id of a tbb thread in linux"
hi, all
      Can get native thread id of a tbb thread in linux

[2021-08-20 04:43] alexey-katranov commented on #539
oneTBB is supported by open source community on ARM. You can try to use oneTBB on your systems and if any issues feel free either to open an issue or propose a pull request.

[2021-08-20 04:49] alexey-katranov commented on #540
What do you mean with "tbb thread"? Do you speak about deprecated `tbb_thread` or worker threads created by oneTBB to execute parallel algorithms? Have you considered `pthread_self`?

[2021-08-21 17:48] leonardotrp commented on #244
@AlexVeprev Yes, I installed it through the official repositories, on the Intel website. Thank you for your attention.

[2021-08-22 10:59] phprus commented on #478
Hello @alexey-katranov,

Commit: d2405e35d12eb058c5b97f8659668c21356a29cd
MSVC 19.21 x64
Test: ```test_task_group.exe```

Dump and PDB files in attach:
[test_task_group.zip](https://github.com/oneapi-src/oneTBB/files/7027207/test_task_group.zip)

[2021-08-23 02:57] jqu1549 commented on #539
Thanks!

[2021-08-23 02:57] #539 closed

[2021-08-24 14:43] ggris opened #546 "Stall with high number of threads and CPU load on task_arena::enqueue"
Hi,
From time to time, we experience stalls on `task_arena::enqueue` on a thread intensive application. I spent some time diagnosing the issue.

It seems to come from how `task_stream::push` and `task_stream::pop` work. Essentially, they cycle through all lanes trying to find one which is not locked and not empty.

During my stalls, I observe that:
 - The main thread is not running
 - Some of the

[2021-08-24 15:39] alexey-katranov commented on #546
Good catch! Thank you for the investigation.

Can you try the workaround? Try to add backoff strategy to the `pop` method ([task_stream.h:196-199](https://github.com/oneapi-src/oneTBB/blob/master/src/tbb/task_stream.h#L196-L199)):
[code]

[2021-08-24 15:41] ggris commented on #546
I'll try that now. I tried to add a simple counter to break out of the loop after a certain number of iteration and it fixes the issue. I'll be back quickly with the backoff change.

[2021-08-26 10:03] zappaz00 opened #547 "profiling.h conflicts with Qt"
profiling.h has method with name "emit" and strongly conficts with Qt keyword emit() used for signal/slot mechanism; Please, rename this method (problem starts from one api and absents in parallel studio). Qt won't fix it. Now developer can't correctly use Qt and TBB together.
![image](https://user-images.githubusercontent.com/18219766/130943646-749df6e3-306f-4c43-aced-a2cece5c9a8d.png)

[2021-08-27 03:10] ascn opened #548 "CMake config as subdirectory fails"
When I configure oneTBB as a subdirectory it fails with this error:
[code]
I'm on v2021.3.0.
Changing this line in src/tbb/CMakeLists.txt:140 from
[code]
to
[code]
fixes this.

I am including oneTBB using FetchContent:
[code]

[2021-08-28 11:01] phprus commented on #478
[code]

To fix this error, I replaced ```return pteb->StackBase;``` to ```return reinterpret_cast<std::uintptr_t>(pteb->StackBase);```

On 8 core computer, the error in tests:

- ```test_task_group.exe```
- ```test_collaborative_call_once.exe```
- ```test_eh_flow_graph.exe```
- ```test_eh_algorithms.exe```
- ```test_flow_graph_priorities.exe```

is no longer reproducible.

But why did this change

[2021-08-29 12:22] felixonmars commented on #186
I have opened https://github.com/oneapi-src/oneTBB/pull/550 to fix the define checks so the old `__sync` interface would be used correctly, instead of failing with an error.

The right fix seems to be defining __TBB_machine_fetchadd4 to `__atomic_fetch_add` for these supported architectures, if I'm not mistaken?

[2021-08-30 11:46] alexey-katranov commented on #478
Is there an undocumented API bug on Windows 7 related to thread stack size?

See #553. The root cause is that stack size is incorrectly calculated. In your environment it causes stack anchor overflow that leads to hangs.

[2021-08-31 15:45] isaevil commented on #244
@leonardotrp to have oneTBB 32bit version installed on your Ubuntu you need to install 32bit version of package (default version under `intel-basekit` is 64bit).
You can install 32bit version by using these commands:
`sudo dpkg --add-architecture i386`
`sudo apt update`
`sudo apt install intel-basekit-32bit # Or intel-oneapi-tbb-32bit if you need only oneTBB`

[2021-08-31 19:19] phprus opened #558 "test_malloc_shutdown_hang (Debug build): Assertion isMallocInitialized() failed"
Commit: 86fe3f04c1b319faecebdc8b642ecc896fbb2c3b
MSVC: 19.21 32 bit
Windows 7 SP1.

CMake command:
[code]

Error:
[code]

Call Stack:
[code]

Dump and PDB files in attach:
[test_malloc_shutdown_hang.zip](https://github.com/oneapi-src/oneTBB/files/7086310/test_malloc_shutdown_hang.zip)

[2021-09-01 09:57] baloe opened #560 "Build fails with `pread failed: Is a directory`"
Hello,

I intending to build TBB on an HPC, but I'm stuck.

This is my installer SLURM job script:

[code]

and this is the output generated in configure and build phase:
[code]

[2021-09-01 14:15] ivankochin commented on #560
Hi @baloe,
Thanks for reporting!

The issue root cause is incorrect usage of the `pkg_config` CMake module during the [HWLOC detection](https://github.com/oneapi-src/oneTBB/blob/v2021.3.0/cmake/hwloc_detection.cmake#L49). This issue is already fixed in the 2021.4 release, and the 2021.4 release candidate is already available as a [tag](https://github.com/oneapi-src/oneTBB/tree/v2021.4.0-rc1) on Gi

[2021-09-02 07:22] alexey-katranov commented on #558
For some reason `tbbmalloc` is not initialized while the presumably correct `object` is `free`ed. Note that `tbbmalloc` cannot be de-initialized (when compiled into dynamic library), so it is unclear how the object was allocated without `tbbmalloc` initialization. Is the issue reproduced each time or is it sporadic issue?

[2021-09-02 07:39] phprus commented on #558
On Windows 7 SP1 - each time.

[2021-09-02 13:10] phprus commented on #558
Windows 7 Professional SP1 installed from scratch + Visual Studio 2019 (with all C++ components) + CMake.
Memory checked by Memtest86+ - no errors.
I'm surprised myself to :)
But my environment helped to find the real error: #553 ;)

After replace to direct call:
[code]
"Assertion failed" is present.

[2021-09-02 13:16] phprus commented on #558
Replace to
[code]
also raises an error:
[code]

[2021-09-02 13:22] alexey-katranov commented on #558
Can you try the following steps:
1.  set breakpoint [frontend.cpp:2087](https://github.com/oneapi-src/oneTBB/blob/master/src/tbbmalloc/frontend.cpp#L2087) that `mallocInitialized` is set to `2`.
2. If the breakpoint is hit, take the address of `mallocInitialized` and set a watch (Debug->New breakpoint->Data breakpoint) to query where it is changed to `0`.
3. Continue application execution.

[2021-09-02 13:59] phprus commented on #558
Screenshot:
<img width="595" alt="breakpoint-1" src="https://user-images.githubusercontent.com/382460/131855124-c2b79980-0007-4125-80b2-212a67260ca6.png">

Replace (https://github.com/oneapi-src/oneTBB/blob/master/src/tbbmalloc/frontend.cpp#L1947)
[code]
to
[code]
fix this error.

But this change is not valid C++ (https://en.cppreference.com/w/cpp/atomic/atomic/atomic)...

[2021-09-02 14:26] alexey-katranov commented on #558
I would not say that it is not valid C++. Perhaps, it as a grey area but consider the following statements in the C++11 standard

[3.6.2:2](https://timsong-cpp.github.io/cppwp/n3337/basic.start.init#2):

[26.9.5:4](https://timsong-cpp.github.io/cppwp/n3337/atomics.types.operations#req-4):

So, if the atomic with static storage duration is default constructed, it should be zero-initialized. I.e. [2

[2021-09-04 18:17] phprus opened #565 "Build error if defined _WIN32_WINNT"
Commit: 40a9a1060069d37d5f66912c6ee4cf165144774b

CMake:
[code]

Error:
[code]

Solution:

Add
[code]
before
 https://github.com/oneapi-src/oneTBB/blob/40a9a1060069d37d5f66912c6ee4cf165144774b/test/common/utils_report.h#L56

[2021-09-04 18:36] phprus commented on #342
@alexey-katranov ping

If this error is https://gcc.gnu.org/bugzilla/show_bug.cgi?id=82081, then it is fixed in GCC versions 8.4/9.2/10.

[2021-09-05 17:30] phprus commented on #342
The ```test_limiter_node.cpp``` test requires a similar replacement (```tbb::flow::make_edge``` -> ```auto make_edge_ptr = tbb::flow::make_edge<int>; make_edge_ptr(...)```) in the lines:

https://github.com/oneapi-src/oneTBB/blob/40a9a1060069d37d5f66912c6ee4cf165144774b/test/tbb/test_limiter_node.cpp#L448

https://github.com/oneapi-src/oneTBB/blob/40a9a1060069d37d5f66912c6ee4cf165144774b/test/tbb/

[2021-09-06 13:22] kirkshoop opened #568 "memory leak in sudoku example"
https://github.com/oneapi-src/oneTBB/blob/40a9a1060069d37d5f66912c6ee4cf165144774b/examples/task_group/sudoku/sudoku.cpp#L238

This cancel in partial_solve does not run any of the pending tasks and thus they are not able to free the pending board allocations.

Even though the program exits, I would like it to show the idiomatic way to scope memory when cancel is used.

[2021-09-08 17:54] directysj opened #570 "ERROR: variable 'inversions' set but not used while building from source"
Hello,

I am building `oneTBB` from source. My system is having `CLANG/CLANG++ 14`, installed via `LLVM`.

[code]

It is producing errors as shown below:

[code]

Thanking you in advance!!

[2021-09-11 20:36] directysj commented on #570
I avoided this error by installing lower version of LLVM, i.e., LLVM11.

[2021-09-11 20:36] #570 closed

[2021-09-13 12:52] Chronial opened #573 "Remove <Windows.h> include from headers"
The tbb currently [includes `Windows.h` in `enumerable_thread_specific.h`](https://github.com/oneapi-src/oneTBB/blob/4624e4ff597fc8c9d205f015a966ee6b61dc860c/include/oneapi/tbb/enumerable_thread_specific.h#L39). Through [transitive includes](https://sourcegraph.com/search?q=context:global+repo:%5Egithub%5C.com/oneapi-src/oneTBB%24+%28windows.h+OR+enumerable_thread_specific.h+OR+_concurrent_skip_li

[2021-09-14 16:00] TrevorThomson opened #577 "2021.3.0 mac binary: libtbbmalloc has incorrect version number"
The oneapi-tbb-2021.3.0-mac.tgz file contains a libtbbmalloc with an incorrect version number, namely **libtbbmalloc.3.dylib** should be **libtbbmalloc.2.dylib**.

[code]
Thanks!

[2021-09-15 10:11] sdebionne commented on #515
Thanks, that's what I end up doing, like I mention in the original comment. As a side question, what is the rational of having nodes keep a reference to a graph that can get dangling vs having the graph own the nodes (and for instance allow to visit them to get the node topology)?

[2021-09-19 09:01] jdumas opened #582 "Do not force -lto option"
The following line is problematic:
https://github.com/oneapi-src/oneTBB/blob/43169c243fa02acca1a346e3c86e010c945fc4d2/cmake/compilers/GNU.cmake#L68

I am compiling OneTBB on Centos and for some reason I get a bunch of lines with the following error message:
[code]
In practice, this leads to compilation failures.

There are two different issues here:
1. TBB should not set compiler-specific options

[2021-09-20 07:37] omalyshe commented on #577
@TrevorThomson Thanks for reporting this issue. It should be resolved now. Can you please check?

[2021-09-20 09:42] ivankochin commented on #582
Hi @jdumas, thanks for reporting!

### About the first point.
I see two options that may be applicable in this case:
 - detect the cases when the oneTBB are included as a subdirectory and disable custom compilation options specification.
 - introduce the CMake option which controls additional compilation flags definition.
But we need more time to choose the option. Anyway both these options will s

[2021-09-20 13:56] TrevorThomson commented on #577
Confirmed!  I'm able to successfully link to libtbbmalloc, now.  Thanks!

[2021-09-20 13:56] #577 closed

[2021-09-20 16:01] jdumas commented on #582
I am compiling OneTBB on Centos 7 with devtoolset-9. For some reason it is complaining about the `-flto` flag. It may be an issue with the toolchain setup, but it just shows that one shouldn't set the flags manually without trying to compile it at least.

Regarding the CMake version, you could still use `CheckIPOSupported` if you detect a more recent CMake version, and default to manually set the

[2021-09-23 02:24] John-Yi opened #584 "Hugepage feature error in SamSung Galaxy S20 Ultra 5G"
our app will crash at branch Master src/tbbmalloc/tbbmalloc_internal.h line 457:
[code]
I use adb shell to check this phone, the file `/sys/kernel/mm/transparent_hugepage/` is exist. But cat the `/proc/meminfo`, can't find out key word:`Hugepagesize`, only got a similar word: `HugepagePool`
![image](https://user-images.githubusercontent.com/57124066/134445751-547b30aa-4893-4ef8-9956-16f06502a7cc.p

[2021-09-24 11:48] omalyshe commented on #489
@Flamefire Can you close the issue as resolved?

[2021-09-24 11:52] omalyshe commented on #531
@yuuurchyk We appreciate submitting patches.

[2021-09-24 11:53] omalyshe commented on #529
@rafbiels Can you close the issue as resolved?

[2021-09-24 13:38] Flamefire commented on #489
Not sure. Although it is a GCC bug, the issue persists, so I'd rather leave this open until either the bug is permanently workaround-ed or the GCC bug is fixed.
I see the workaround has been updated to include GCC 10 and 11, but if not resolved it will still happen for GCC 12: https://github.com/oneapi-src/oneTBB/commit/7567de93ae2e5494c930e06d52d45f53b1e394bc

Also note that the above commit erro

[2021-09-25 21:11] gazsiazasz opened #587 "FetchContent_Declare fails to make available the project"
This line
https://github.com/oneapi-src/oneTBB/blob/261fe22630bd61ec137b66f6dd4403ad7ab36a14/src/tbb/CMakeLists.txt#L140
should be changed to:
`configure_file(${PROJECT_SOURCE_DIR}/integration/pkg-config/tbb.pc.in ${CMAKE_CURRENT_BINARY_DIR}/${TBB_LIB_NAME}.pc @ONLY)
`

It works, but not tested what else should be changed.

[2021-09-27 09:26] vlserov commented on #547
profiling.h is a public API and changes might affect other users.
Using TBB with QT_NO_KEYWORDS is the right way. But if  project is huge and it's complicated, consider to use workaround suggested for Boost Signals: [boost signals doc](https://www.boost.org/doc/libs/1_53_0/doc/html/signals/s04.html)
[code]

[2021-09-27 11:16] casparvl commented on #478
I have a similar issue, but on a very different system: `my test_eh_algorithms` 'hangs' (well, it still shows high CPU usage, but doesn't seem to progress) and also prints the `logged: Missed wakeup or machine is overloaded?`.

I've build `tbb 2021.2.0` with `GCC 10.3.0` on a CentOS 8.4 machine with two AMD EPYC 7H12 64-core processors. The funny thing is, the same cluster has a few `RHEL 8.2` nod

[2021-09-27 12:26] vlserov commented on #386
Build failure with 'mallinfo()' has been resolved with PR #433.
Initial issue has been fixed with [commit ](https://github.com/oneapi-src/oneTBB/commit/478de5b1887c928e52f029d706af6ea640a877be#diff-39e4acc7b239a4903473b1f141a1cf12c7686d200891271fd6c22cce344ae97aL591-R591).

[code]

[2021-09-27 13:15] alexey-katranov commented on #570
If the issue was reproducer with the latest clang, I would reopen the issue because oneTBB should work with the latest clang.

It seems `variable inversions set but not used` error is not present in the provided log. Is the log correct?

Notify @kboyarinov @anton-potapov

[2021-09-27 13:21] alexey-katranov commented on #383
I would reopen the issue because it is still not fixed in oneTBB: https://github.com/oneapi-src/oneTBB/blob/7d70bb51c37773f201ed3671a0a67fce107146b0/include/oneapi/tbb/detail/_config.h#L490

notify @anton-potapov @kboyarinov

[2021-09-27 13:23] vlserov commented on #548
Issue has been resolved with #476
Please verify in v2021.4.0-rc1 release

[2021-09-27 13:25] vlserov commented on #587
Issue has been resolved with #476
Please verify in [v2021.4.0-rc1](/oneapi-src/oneTBB/releases/tag/v2021.4.0-rc1) release

[2021-09-27 13:38] alexey-katranov commented on #515
I believe when flow graph was designed and introduced (in ~2010) nobody seriously thought about move semantics support that was introduced in C+11. Perhaps, it can be redesigned in such aspect but the cost of the effort and broken backward compatibility should be considered.

[2021-09-27 13:55] alexey-katranov commented on #547
[The same code was located](https://github.com/oneapi-src/oneTBB/blob/tbb_2020/include/tbb/tbb_profiling.h#L340) in tbb_profiling.h with TBB that was a part of Intel Parallel Studio. Maybe oneTBB includes profiling.h in some additional place. What headers do you include from oneTBB?

@vlserov  Perhaps, we can try to think about some workarounds or options to hide this code when user requests.

[2021-09-27 14:09] alexey-katranov commented on #478
@casparvl #553 is really specific to Windows, can you please try 2021.3 or master to check if the issue is still present (there was a big set of fixes)? If present, feel free to open a separate issue (because this one is really overloaded and I am not sure if we investigated all the issues in this thread :) )

[2021-09-27 14:23] casparvl commented on #478
Thanks @alexey-katranov for the quick response. I'll check 2021.3 and if still present, I'll submit a new issue :)

[2021-09-28 08:46] isaevil commented on #584
`tbbmalloc` relies on `Hugepagesize` variable availability because it seems to be common on Linux systems (I think it is applicable for Android too). I guess Samsung modified Android kernel for its phones somehow because I didn't find any references to `HugepagePool` variable except of kernel codes for Samsung phone on GitHub.
@alexey-katranov please correct me if I am wrong somewhere

[2021-09-28 10:56] alexey-katranov commented on #584
To tell the truth, I do not know how `Hugepagesize` is common. However, the crash is not expected if `Hugepagesize` is not present. I believe it should be deny of service (i.e. do not use huge pages) if the key word is not available.

[2021-09-28 11:12] John-Yi commented on #584
thx for reply. @isaevil @alexey-katranov  Will you release an official version to fix this error?

[2021-09-28 15:29] anton-potapov commented on #568
@kirkshoop , IMHO idiomatic way of doing this drop manual memory management in favor of using [RAII](https://en.cppreference.com/w/cpp/language/raii) , e.g. with [std::unique_ptr](https://en.cppreference.com/w/cpp/memory/unique_ptr)  or [std::vector](https://en.cppreference.com/w/cpp/container/vector) int this particular case,  and [std::move](https://en.cppreference.com/w/cpp/utility/move) it int

[2021-09-28 16:13] kirkshoop commented on #568
That sounds great. I wondered if there was something like cleanup groups that did not depend on destructors.

[2021-10-01 05:09] ascn commented on #548
Works now! Thank you :)

[2021-10-01 05:09] #548 closed

[2021-10-01 09:46] ivankochin commented on #500
Hello @sf-mc,
We may add the overload for the rvalue reference. Would this help in your case?

[2021-10-01 09:55] sf-mc commented on #500
Hello @ivankochin,
Yes, it will help.
It is also worth to add such use case (rvalue ranges like std::span) to your unit test, so as to prevent people from deleting such overload by mistake.

[2021-10-05 07:42] #587 closed

[2021-10-05 07:45] #386 closed

[2021-10-05 07:49] vlserov commented on #386
Resolved with [v2021.4.0](/oneapi-src/oneTBB/releases/tag/v2021.4.0) release.

[2021-10-05 09:20] anton-potapov commented on #40
@anton-malakhov I believe this is no longer applicable ? (as pull requests are welcome and CI is run on every of it)
can you close it ?

[2021-10-05 10:27] anton-potapov commented on #76
It seems that for oneTBB only examples code is affected :

https://github.com/oneapi-src/oneTBB/blob/9e15720bc7744f85dff611d34d65e9099e077da4/examples/common/gui/d2dvideo.cpp#L167-L169

https://github.com/oneapi-src/oneTBB/blob/9e15720bc7744f85dff611d34d65e9099e077da4/examples/common/gui/macvideo.cpp#L90-L92

https://github.com/oneapi-src/oneTBB/blob/9e15720bc7744f85dff611d34d65e9099e077da4/exampl

[2021-10-05 12:02] anton-potapov commented on #79
`critical_section` was [removed](https://software.intel.com/content/dam/develop/external/us/en/documents/tbbrevamp.pdf) in oneTBB

[2021-10-05 12:12] anton-potapov commented on #98
@AlexVeprev that is the decision  for this ?

[2021-10-05 12:19] anton-potapov commented on #140
@marcomanno recently oneTBB got a lot of Sanitizer related fixes. Could you please check if this issue is still reproducible with latest master?

[2021-10-05 12:37] anton-potapov commented on #151
Closing this, as `tbb::movable_exception` was [removed ](https://software.intel.com/content/dam/develop/external/us/en/documents/tbbrevamp.pdf)during revamp.

[2021-10-05 12:37] #151 closed

[2021-10-05 14:55] anton-potapov commented on #158
@demarle  icc 18.0.5 look a bit outdated in 2021 :),
please open the new issue if problem remains with more recent version of ICC (e.g. 19.0) and oneTBB (e.g. [2021.4](https://github.com/oneapi-src/oneTBB/releases/tag/v2021.4.0) or latest master )

[2021-10-05 14:55] #158 closed

[2021-10-05 15:14] anton-potapov commented on #172
@alenauus , in general it iы not good idea to terminate random threads from outside.  More correct is to give a thread a "signal" to quit, and wait for it to quit (This implies that thread should be ready for those "signals" ).

However, from  technical standpoint there is such API, but it is non-portable and OS-dependent.

[2021-10-05 15:21] anton-potapov commented on #154
@ennis could you please try the oneTBB ( [(2021.4)](https://github.com/oneapi-src/oneTBB/releases/tag/v2021.4.0) or latest master ) ?

[2021-10-05 21:18] #176 closed

[2021-10-05 21:37] anton-potapov commented on #185
It seems that oneTBB still do not use SRWLOCK by default

[2021-10-05 21:44] anton-potapov commented on #200
@rubenvb this part was removed during revamp, so this is not applicable to oneTBB

[2021-10-05 21:44] #200 closed

[2021-10-05 21:49] anton-potapov commented on #202
@jelly builds of oneTBB is expected to be reproducible ( as per : https://github.com/oneapi-src/oneTBB/pull/37#issuecomment-870809904 )
@alexey-katranov , please correct me if I'm wrong

[2021-10-05 21:49] #202 closed

[2021-10-05 22:43] anton-potapov commented on #259
@Dr15Jones  It seems that recently added deferred tasks of a task_group ([task_group::defer](https://software.intel.com/content/www/us/en/develop/documentation/onetbb-documentation/top/onetbb-api-reference/task-group-extensions.html)) is perfect match for your goal.

Here is the migration guide chapter with pseudo code with all the needed pieces of the puzzle : [Deferred task creation](https://sof

[2021-10-05 22:46] anton-potapov commented on #260
@wingfiring please reopen if this is still applicable to [oneTBB 2021.4](https://github.com/oneapi-src/oneTBB/releases/tag/v2021.4.0)

[2021-10-05 22:46] #260 closed

[2021-10-05 22:50] #293 closed

[2021-10-05 23:06] anton-potapov commented on #565
@phprus Pull Requests are welcome !

[2021-10-06 09:15] anton-potapov commented on #568
@Iliamish could you please take a look ?

[2021-10-06 10:08] anton-malakhov commented on #40
It is not about whether PRs are welcome, it is about license agreement. Closing anyway.

[2021-10-06 10:08] #40 closed

[2021-10-06 10:26] phprus commented on #558
But since C++20 ```std::atomic<>::atomic()``` is not the default constructor

See:
- http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2019/p0883r2.pdf
- https://github.com/microsoft/STL/issues/661
- https://bugs.llvm.org/show_bug.cgi?id=45367
- https://codereview.qt-project.org/c/qt/qtbase/+/305484

[2021-10-06 11:37] no-ponomarev commented on #128
Fixed in TBB 2019 U5

[2021-10-06 11:37] #128 closed

[2021-10-06 15:57] lukeoulahen opened #606 "nuget package generations, .targets file incorrect paths"
Installing any 2021 version of the nuget package hosted here: https://www.nuget.org/packages/inteltbb.devel.win/ into a fresh project will result in link errors. I believe there are two issues with the .targets file causing this.

the nuget package has a structure like this:
![image](https://user-images.githubusercontent.com/8998856/136234471-5e087805-2847-475f-8310-c205403f1505.png)
while the fil

[2021-10-07 06:29] alexey-katranov commented on #558
Strictly speaking, it is default constructor because it "_can be called with no arguments_" ((cppreference)[https://en.cppreference.com/w/cpp/language/default_constructor]). I believe you mean that it does not perform (default initialization)[https://en.cppreference.com/w/cpp/language/default_initialization] of underlying type. It is Ok in that case because we rely on static zero-initialization.

[2021-10-07 07:33] AlexVeprev commented on #98
It is not actual for oneTBB, now there are version/soversion that are handled through CMake:
https://github.com/oneapi-src/oneTBB/blob/6fad69889da67bc4d4baff4afa94f77da45e006d/src/tbb/CMakeLists.txt#L88

For example, see Linux package from [releases](https://github.com/oneapi-src/oneTBB/releases):
[code]

[2021-10-07 08:50] phprus commented on #558
I misunderstood the statement "[26.9.5: 4] guarantees that zero initialization will not be overwritten with default constructor"
I thought this only applies to the "A::A() = default" case. Not for all default constructors ("can be called with no arguments").

[2021-10-07 15:07] kloczek commented on #370
In my case build fails on x86_64.

[2021-10-07 18:05] zmajeed commented on #156
Next
[code]

Turns out `Dl_info` and `dladdr` have custom implementations on cygwin, need `#define __GNU_VISIBLE 1` to get them

[2021-10-07 18:11] zmajeed commented on #156
then - need `-D_POSIX_C_SOURCE=200112L` for `strdup`

[2021-10-08 08:20] isaevil commented on #370
@kloczek Is your case relevant for 2021.2 or 2021.4?

[2021-10-08 22:00] kloczek commented on #370
Just started testing 2021.4.0 and found that build is now OK.
Closing.

Thank you :)

[2021-10-10 12:14] liupeiqiHN opened #610 "DllMain included in static library"
Linking fails with a duplicate definition of `DllMain` when both **tbb** and **openblas** statically in a project.
https://github.com/oneapi-src/oneTBB/blob/552f342b260e2403f368f1f5a6bccd4c608240c3/src/tbb/main.cpp#L140
tbb: 2020_U3
openblas: 0.3.15

[2021-10-10 22:52] anton-potapov commented on #259
@Dr15Jones, this functionality is added into upcoming version (1.2) of [oneAPI specification ](https://oneapi-src.github.io/oneAPI-spec/elements/oneTBB/source/task_scheduler/task_group/task_group_cls.html). Once the spec is finally released/approved - which I believe should happen soon - oneTBB is to catch up and move this functionality from [preview feature](https://oneapi-src.github.io/oneTBB/re

[2021-10-11 08:09] kloczek commented on #370
cmake 3.21.3 and here is set on cmake parames which I'm using (from script generated by rpmbuild):
[code]

[2021-10-11 09:38] anton-potapov commented on #140
@marcomanno please reopen if the problem still exist with oneTBB [2021.4](https://github.com/oneapi-src/oneTBB/releases/tag/v2021.4.0) or latest master.

[2021-10-11 09:38] #140 closed

[2021-10-11 09:41] #172 closed

[2021-10-12 03:32] NewbieOrange opened #615 "Build failed with bazel and gcc 11"
Hi, I am experiencing the exact error as #370 using bazel and gcc 11.2, and I am currently on v2021.4.0 for oneTBB.

[2021-10-12 04:10] alexey-katranov commented on #615
@Vertexwahn, can you please investigate the issue?

[2021-10-12 08:48] liupeiqiHN commented on #610
I install "tbb:x64-windows-static" by vcpkg.
I define `__TBB_SOURCE_DIRECTLY_INCLUDED` in vcpkg tbb patch,  this problem has been solved. Thanks for your help.

[2021-10-12 08:48] #610 closed

[2021-10-12 15:16] AlexVeprev opened #616 "CMake: tbb4py installation failure: Error at x86_64-redhat-linux-gnu/python/cmake_install.cmake:46"
@kloczek reported installation issue in scope of https://github.com/oneapi-src/oneTBB/issues/370#issuecomment-939169974

[code]

Installation log:
[code]

[2021-10-13 09:11] #160 closed

[2021-10-13 17:29] Vertexwahn commented on #615
@alexey-katranov I try to prepare a PR that fixes the problem

[2021-10-14 10:05] #568 closed

[2021-10-19 20:10] emmenlau opened #625 "Build fails due to missing symbol with clang-cl 13.0.0 on MSVC x64"
I am trying to build oneTBB with clang-cl from LLVM 13.0.0 (current latest release) together with Visual Studio 2019 v16.11.5 (also current latest). I also use current latest cmake 3.21.4 and a very recent Ninja. hwloc is https://github.com/open-mpi/hwloc/releases/tag/hwloc-2.5.0.

Everything works quite nicely, until about 95%. Then I get the following error that does not mean much to me:
[code]

[2021-10-20 06:44] emmenlau commented on #625
Really awesome, it works like a charm! Thanks a lot for this super quick fix!

[2021-10-20 07:29] emmenlau opened #627 "Error in dbghelp.h when building tests with MSVC 2019 v16.11.5"
Thanks for the awesome library. I get a minor build error on Windows with Visual Studio 2019 v16.11.5:
[code]

A quick google search shows that supposedly one must include `windows.h` before `dbghelp.h` to get rid of these errors.

I have tried to include `windows.h` before `dbghelp.h` and I'm under the impression that the build then continues further. However I can not get a full build to work (y

[2021-10-20 07:33] emmenlau opened #628 "Error in test\common\doctest.h when building tests with MSVC 2019 v16.11.5"
Thanks for the awesome library. I get a minor build error on Windows with Visual Studio 2019 v16.11.5:
[code]

This error comes _after_ I include `windows.h` in `test/common/utils_report.h` to work around issue #627. Therefore it is possible that the two issues are connected (fixing the one causes the other?).

[2021-10-20 07:40] #625 closed, assigned to ivankochin

[2021-10-20 07:58] phprus commented on #627
PR #603 fixes this problem

[2021-10-20 08:40] emmenlau commented on #628
Thanks @phprus! I can confirm that this indeed fixes the problems #627 and #628 when building with Visual Studio 2019 v16.11.5 on Windows!

Please close this issue as fixed, or should we wait with closing until #603 is merged?

[2021-10-20 11:49] anton-potapov commented on #373
while specification for [concurrent_queue](https://spec.oneapi.io/versions/latest/elements/oneTBB/source/containers/concurrent_queue_cls.html)  and [concurrent_bounded_queue](https://spec.oneapi.io/versions/latest/elements/oneTBB/source/containers/concurrent_bounded_queue_cls.html) are missing `operator=` in any form, it seems at least confusing as one for [concurrent_priority_queue](https://spec.

[2021-10-21 09:43] #76 closed

[2021-10-21 09:50] #628 closed

[2021-10-21 09:52] #627 closed, assigned to nobody

[2021-10-21 10:24] anton-potapov commented on #274
should work in oneTBB (as the [patch applied](https://github.com/oneapi-src/oneTBB/blob/ba947f1806cd99f554ebe02ac5ec167c5f1b958a/include/oneapi/tbb/detail/_config.h#L408-L409))

[2021-10-21 10:24] #274 closed

[2021-10-21 10:27] anton-potapov commented on #292
@Yitzi2 can you provide a minimum reproducer with exact version of gcc it fails on ?

[2021-10-27 01:42] jamesmwh opened #633 "I use oneapi(oneTBB) instead of parallel studio XE and I can't compile my code, which show some errors as follow"
icpc  -DUNIX -std=c++11 -O3 -arch arm -isysroot /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/ -isysroot /Library/Developer/CommandLineTools/SDKs/MacOSX10.15.sdk/   -I. -I.. -I./modules/compressible/ -o obj/Memfluid.cpp.o -c Memfluid.cpp
icpc: command line warning #10159: invalid argument for option '-arch'
/opt/intel/oneapi/tbb/2021.4.0/env/../include/tbb/../oneapi/tbb/memory_pool.h(128): e

[2021-10-27 14:40] pranasge opened #634 "limiter_node is not decremented correctly."
Simple test that hangs before reaching count:
[code]

This test was run with: 2020_U3 and v2021.3.0 tbb versions.

[2021-10-29 12:45] #616 closed, assigned to nobody

[2021-10-30 08:28] jamesmwh commented on #633
Thanks a lot! My problem is solved!!!

[2021-10-30 16:48] MaxPHPer opened #636 "concurrent_multiset/concurrent_set crashes when using unsafe_erase()"
My code is as follows, I use .begin() to get the first element in the set, and it can be obtained correctly, but using .unsafe_erase(iterator) will often crash. Of course, the first line（WriteGuard)  is a write lock.

<img width="1223" alt="WX20211031-003532@2x" src="https://user-images.githubusercontent.com/16571895/139541682-9507b850-cb95-4686-a7bd-a514223f3373.png">
<img width="1295" alt="WX202

[2021-11-01 06:06] #633 closed

[2021-11-01 08:44] #371 closed

[2021-11-01 09:03] anton-potapov commented on #636
@MaxPHPer what version of TBB is used ?

[2021-11-01 09:13] anton-potapov commented on #320
@Lastique , what is the gain in terms of compile time you see on the environment used ?

[2021-11-01 09:14] anton-potapov commented on #331
@hoongywan, please update the description

[2021-11-01 09:18] MaxPHPer commented on #636
Thank you for your reply. I can not find the version from the code, but I find the README.md as follows.
![WechatIMG7](https://user-images.githubusercontent.com/16571895/139649787-4102c813-62e1-40be-8836-c9bcf1a73479.jpeg)

[2021-11-01 09:55] vinser52 commented on #636
@MaxPHPer Could you please elaborate, if `m_topLevel_restricted_free_mutex` is a read/write mutex and threads that do insert/find operations acquire this mutex for read?

[2021-11-01 10:26] MaxPHPer commented on #636
thank you for your reply.

my mutex is defined as follows:
`using SharedMutex = boost::shared_mutex;`
`using ReadGuard = boost::shared_lock<boost::shared_mutex>;`
`using WriteGuard = boost::unique_lock<boost::shared_mutex>;`

my concurrent_set variable is defined as follows:
`struct transactionWeightCompare`
`{`
`    bool operator()(std::shared_ptr<Vertex> _first, std::shared_ptr<Vertex> _second)

[2021-11-01 12:11] kboyarinov commented on #636
@MaxPHPer, starting from oneTBB 2021, the implementation of `concurrent_set` was redesigned and the internal implementation was changed. If it is possible, could you please try to reproduce the issue on the latest oneTBB version?
Thank you in advance.

[2021-11-02 07:26] MaxPHPer commented on #636
thank you for your advise. I use oneTBB v2021.4.0.
I found that this version is different from v2020.3. There is no `Makefile`, but `Cmakelists.txt`.
when I try to `make` my whole project, it always reports an errors.

The following is the cmake file of my project about using TBB，

I don't know how to modify `BUILD_COMMAND`, `INSTALL_COMMAND`  and `BUILD_BYPRODUCTS`. Can you help me? Thank you ver

[2021-11-02 11:01] alexey-katranov commented on #317
I believe `test_eh_thread` is not really stable. @ivankochin @Iliamish , do you have any ideas how to improve it?

@Lastique , is `test_eh_thread` the only failing test in your environment?

[2021-11-02 12:25] zmajeed commented on #156
I've gone through the 5 test failures - I'll note what's happening with each below - couple of these are hairy and need a fair amount of debugging to sort out

[2021-11-02 12:27] zmajeed commented on #156
Here's how to run all tests
[code]

and to build and run a single test, `test_dynamic_link`

[code]

[2021-11-02 12:38] zmajeed commented on #156
The easiest was `51 - test_overwrite_node (BAD_COMMAND)` - turned out to be a transient build issue that did not set the execute bits on the test executable - the test passed on a rebuild
[code]

[2021-11-02 13:01] zmajeed commented on #156
Next is `4 - test_dynamic_link (Failed)` - caused by symbols not being exported from the test executable - fixed with dllexport attribute on the symbols in `test/tbb/test_dynamic_link.cpp`

[code]
[code]
[code]
[code]
[code]
Make the change
[code]
Rebuild and rerun test
[code]

[2021-11-02 13:27] anton-potapov commented on #124
It seems that this is not relevant to oneTBB due to significant changes in the code base (revamp)

[2021-11-02 13:27] #124 closed

[2021-11-02 15:04] Lastique commented on #317
I mentioned `test_eh_algorithms` as well above. I only ran the tests twice.

[2021-11-02 18:04] AlexVeprev commented on #636
Hi @MaxPHPer,

I would suggest you to try [FetchContent](https://cmake.org/cmake/help/latest/module/FetchContent.html), here is the simplest example:
[code]

It will download oneTBB on configuration phase and include it just like `add_subdirectory`.

See details about oneTBB configuration here: https://github.com/oneapi-src/oneTBB/blob/master/cmake/README.md

I see you use `big_iron.inc` and assum

[2021-11-02 18:14] AlexVeprev commented on #636
@MaxPHPer one more note: since oneTBB uses CMake configuration all the options you specify for your project will be applied to oneTBB configuration as well unless you change them just before `FetchContent_MakeAvailable(onetbb)` call. E.g. if you build the project with `-DCMAKE_BUILD_TYPE=Debug` you will get Debug version of oneTBB built and connected to your project. So the configuration is very t

[2021-11-03 01:38] MaxPHPer commented on #636
thank you so much. I am a newcomer to C++, it is too difficult for me, so I plan to continue trying the original method

[2021-11-03 08:20] AlexVeprev commented on #636
@MaxPHPer, ok, but I'm afraid the original method modification will be harder than using my approach.
Actually the core  part of my approach is
[code]
Then you just need to connect `TBB::tbb` with your application using `target_link_libraries`: e.g. `target_link_libraries(my_app PRIVATE TBB::tbb)`

Anyway, feel free to ask questions if you have any troubles with oneTBB CMake integration.

[2021-11-03 08:39] MaxPHPer commented on #636
Thank you. Everyone is very warm-hearted

[2021-11-03 08:40] #636 closed

[2021-11-04 12:26] zmajeed commented on #156
The third test to fail is `125 - test_malloc_compliance (Failed)` - because cygwin does not support `RLIMIT_AS` for address space or memory limits and `getrlimit` returns `EINVAL` errno 22

Luckily cygwin can use the Windows version of the test - this works!

But it is not straightforward to get cygwin to use Windows API the way TBB tests are currently structured

The first big hurdle is the pleth

[2021-11-04 12:34] zmajeed commented on #156
The last two tests to fail `126 - test_malloc_used_by_lib (Subprocess aborted)` and `127 - test_malloc_lib_unload (Failed)` are particularly difficult to debug and fix because they seem to involve race conditions with C++ static data and multiple threads in pthreads.

I'm trying to reproduce the failures in small standalone programs to see if the bugs are in TBB tests or in the doctest framework o

[2021-11-04 15:21] mweisgut commented on #378
In our case, we use a `tbb::concurrent_vector<std::shared_ptr<T>, tbb::zero_allocator<std::shared_ptr<T>>>`. This vector is accessed by multiple threads. The objects `T` that the shared pointers of the vector are pointing to have to be accessed atomically in our use case.

tbb::concurrent_vector does not guarantee that elements reported by size() are fully initialized.
Based on an [old intel blog

[2021-11-05 03:18] xiamr opened #639 "Assertion m_private_counter >= 0 failed (located in the destroy function, line in file: 141)"
When using flow graph, the following assert failed with the following stderr output:

**Assertion m_private_counter >= 0 failed (located in the destroy function, line in file: 141)
Detailed description: Private counter may not be less than 0**

in the destroy function:
![1636081508(1)](https://user-images.githubusercontent.com/18632312/140451595-403f268e-dd0a-485d-9920-edc7a14f3f63.png)

Call Stac

[2021-11-05 03:19] xiamr commented on #639
the issue is existed in oneTBB 2021.3 and 2021.4 version

[2021-11-05 08:04] MaxPHPer opened #640 "I am very confused about which operations can be concurrent"
Hello everyone ^_^，I have a question to consult.

As stated in the document (https://spec.oneapi.io/versions/latest/elements/oneTBB/source/containers/concurrent_unordered_map_cls.html).

tbb::concurrent_unordered_map is a class template that represents an unordered associative container. It stores key-value pairs with unique keys and supports **concurrent insertion, lookup, and traversal, but does

[2021-11-05 18:53] NikolausDemmel opened #641 "empty ranges for concurrent_map and concurrent_unordered_map cause crash / assert"
Ranges can be empty, right?

I'm seeing strange behaviour of `range()` called on empty containers of type `tbb::concurrent_map()` and `tbb::concurrent_unordered_map` leading to crashes or infinite loops. Is that expected?

In the following minimal working example an assert is triggered in Debug mode and an infinite loop occurs in Release:

[code]

Assert:
[code]

If I uncomment the line `map[1] =

[2021-11-05 19:03] NikolausDemmel commented on #641
PS: A quick test on Ubuntu 18.04 with GCC 7.5 and TBB 2017.0 does work fine with empty containers.

Here is a minimal working example cmake project: https://github.com/NikolausDemmel/tbb_test

[2021-11-06 13:51] ProfFan commented on #358
@seanm Wonder if you can share your current suppression list? Many thanks!

[2021-11-06 15:56] seanm commented on #358
@ProfFan I don't have one to share.  I evaluated using TBB, but TSan is more important to me, so I just never started using TBB.

[2021-11-08 09:23] alexey-katranov commented on #378
I believe you have data race here because `std::shared_ptr<T>` is not thread-safe when accessed through non-const member function (consider [`std::atomic(std::shared_ptr)`](https://en.cppreference.com/w/cpp/memory/shared_ptr/atomic2)). However, even with `std::atomic(std::shared_ptr)`, it is a grey area because accessing (even atomically) non-constructed shared_ptr (even located in zero filled mem

[2021-11-08 09:33] #331 closed

[2021-11-08 10:24] anton-malakhov commented on #378
I believe it is still possible to create such a thread-safe `std::optional`-like class, which will not be in that gray area

[2021-11-08 12:00] alexey-katranov commented on #378
We failed to found simple optional-like solution in pre-C++20 without changes in `concurrent_vector` or using external synchronization mechanisms.

The fundamental issues is: "Can you access object that is not still initialized with a constructor?". Perhaps, it is Ok (grey area?) to access non-constructed objects that have trivial constructor; however, starting with C++20 the default constructors

[2021-11-08 12:19] kboyarinov commented on #641
Hi, @NikolausDemmel,

Thank you for reporting the issue! It seems like the oneTBB C++11 implementation of both ordered and unordered containers contains an issue in case of empty ranges. We will work on this issue and provide the solution in one of the future oneTBB releases. Thank you once again.

[2021-11-08 12:30] kboyarinov commented on #640
Hi, @MaxPHPer,

Thank you for your question! You are right, `concurrent_unordered_map` can be used by different threads with insertion, traversal and lookup without any additional synchronization.

Erasure operations (as well as any other operations, such as `clear`, assignment operators, bucket interfaces, `swap`, etc.) can not be used simultaneously with other operations. Such a methods can only

[2021-11-08 12:51] MaxPHPer commented on #640
thank you for your interpretation

[2021-11-08 12:51] #640 closed

[2021-11-08 15:37] zmajeed commented on #156
The description above for the fifth test failure `127 - test_malloc_lib_unload (Failed)` is not right - the crash may have been from some of my experimental changes

The actual failure is two-fold - fixed by using a right library name and version - and by using the Win32 version of a utility function

Initially the test fails because of a shared library/dll name and version mismatch. The top cmake

[2021-11-08 15:45] zmajeed commented on #156
Only one test failure remains - `126 - test_malloc_used_by_lib (Subprocess aborted)` - this indeed is a `SIGSEGV` - I still don't have a full explanation - but my money is on destructors of static C++ objects that are accessing a dynamically loaded function from a dll after it has been unloaded with `dlclose` in one thread.

I'm thinking a destructor or some kind of cleanup code runs at program ex

[2021-11-08 17:16] zmajeed commented on #156
Question for TBB maintainers - would TBBBind be required for a Cygwin port PR?

[2021-11-09 04:27] zmajeed commented on #156
Sync to upstream master added interprocedural optimization options by default - introduced in PR https://github.com/oneapi-src/oneTBB/pull/432

These gcc options `-flto -fno-fat-lto-objects` break almost all tests on cygwin

[code]

Disabling IPO for cygwin in top cmakefile
[code]

It could be `-fno-fat-lto-objects` automatically set by cmake is the real problem.

[2021-11-09 05:52] alexey-katranov commented on #639
The issue seems weird like double-free or something like that. Can you provide mode details about your reproducer? What flow graph nodes are used and how? Is it x86?

[2021-11-09 05:57] xiamr commented on #639
It is x86-64. And the code has this issue：
![企业微信截图_16364373962284](https://user-images.githubusercontent.com/18632312/140870342-12728f6d-6990-4999-b9cb-c327ef256440.png)

[2021-11-09 07:40] anton-potapov commented on #573
to notice :
`detail/_machine.h` [includes](https://github.com/oneapi-src/oneTBB/blob/e82d250338d3253b862c96715637870e7cfe408f/include/oneapi/tbb/detail/_machine.h#L33) `windows.h`  as well, however only for `TBB Malloc` build (`#ifdef __TBBMALLOC_BUILD`).

[2021-11-09 09:20] emmenlau commented on #573
Two thumbs up from my side for reducing the use of windows.h in headers...

[2021-11-09 09:37] ivankochin opened #644 "Upstream changes from local DocTest source code to the origin repository"
Now the [DocTest](https://github.com/onqtam/doctest) is updated to the latest version (2.4.6) but it still has several local fixes that were not upstreamed to the origin repository. This should be done to simplify the future DocTestupdating process. Here is the list of local changes with the comments:

Possibly already fixed in the origin repo issues (dev branch):

* Fix copy elision absence case

[2021-11-09 11:55] zmajeed commented on #573
Please remove `windows.h` from shared header files for tests in `test/common`. Its presence has created difficulties for the cygwin port that needs Win32 versions of certain functions while mostly defaulting to Linux and Unix code. A particular example is `GetMemoryUsage` in `test/common/memory_usage.h` as described in https://github.com/oneapi-src/oneTBB/issues/156#issuecomment-963280611

[2021-11-09 15:55] alexey-katranov commented on #156
We do not use Cygwin :) so it is up to you. TBBBind is responsible for NUMA support in `task_arena` that will work without TBBBind considering any multi-socket machine as the machine with one big socket.

[2021-11-09 15:56] alexey-katranov commented on #573
We are in the process of internal agreement. Sorry for the delay.

[2021-11-10 06:10] anton-potapov commented on #352
@rakytap , I believe this can be closed ?

[2021-11-10 06:14] anton-potapov commented on #355
@mikemccarty-vertex , any updates ?

BTW there were a number of fixes since that. Can [v2021.4](https://github.com/oneapi-src/oneTBB/releases/tag/v2021.4.0 ) be tried ?

[2021-11-10 06:21] anton-potapov commented on #166
`task_scheduler_init` was removed during the [revamp](https://www.intel.com/content/dam/develop/external/us/en/documents/tbbrevamp.pdf).
Closing as non relevant to oneTBB.

[2021-11-10 06:21] #166 closed

[2021-11-10 06:36] anton-potapov commented on #191
Hi @haolujun is the problem still reproducible with [v2021.4](https://github.com/oneapi-src/oneTBB/releases/tag/v2021.4.0) or latest master ?

[2021-11-10 06:55] anton-potapov commented on #275
@longnguyen2004 , is this covered by #351 ?

[2021-11-10 07:05] anton-potapov commented on #387
closing as #351 landed

[2021-11-10 07:05] #387 closed

[2021-11-10 07:33] anton-potapov commented on #206
@tttapa , recently oneTBB got a lot of fixes related to ASan. Can you try the latest version of PSTL/oneTBB ?

[2021-11-10 08:48] zhanglistar opened #646 "Why onetbb not like static library?"
![image](https://user-images.githubusercontent.com/985418/141080298-4fee17a8-3a37-454b-9ec3-f4cbc2469443.png)

When I do
`cmake -DBUILD_SHARED_LIBS=OFF ..
`

What's the problem with static library?

Thanks for your reply.

[2021-11-10 12:31] zmajeed commented on #573
@Chronial notes in their PR https://github.com/oneapi-src/oneTBB/pull/576#issuecomment-957730990 that this issue is about **usability**

I'll point out that oneTBB is a portable library that provides cross-platform abstractions and interfaces. C++ headers basically define these interfaces. Including `windows.h` in a header file unfortunately violates these portable abstractions in the worst possib

[2021-11-10 13:35] pranasge commented on #639
It seems I have this issue to and it can be reproduced with simple test:
[code]
Tested with oneTBB 2021.3 version.

[2021-11-10 14:52] mikemccarty-vertex commented on #355
@anton-potapov thanks for checking in.  We've been holding at 2020.3 since this ticket was logged.  I will give 2021.4 a try when I get some time.

[2021-11-10 17:08] longnguyen2004 commented on #275
Ah yes, I forgot to close this issue, thanks for notifying me.

[2021-11-10 17:08] #275 closed

[2021-11-10 18:31] leonardotrp commented on #244
Thank you all for the attention. We managed to get success using **intel64** even. Big hug.

[2021-11-11 06:34] anton-potapov commented on #154
@ennis , please re-open if  problem still  persist in oneTBB

[2021-11-11 06:34] #154 closed

[2021-11-11 06:59] anton-potapov commented on #153
in oneTBB this option is added implicitly via CMake.

First, find the required package:
https://github.com/oneapi-src/oneTBB/blob/51277f0e588183b162f9d60b987406eebb02135c/CMakeLists.txt#L176-L177
And then make targets depends on it:

https://github.com/oneapi-src/oneTBB/blob/51277f0e588183b162f9d60b987406eebb02135c/src/tbb/CMakeLists.txt#L116-L121

[2021-11-11 06:59] #153 closed

[2021-11-11 08:26] alexey-katranov commented on #156
Can it be related: https://github.com/oneapi-src/oneTBB/blob/master/test/common/doctest.h#L470-L504?

[2021-11-11 08:56] alexey-katranov commented on #646
The static library is not a problem itself; however, there are some scenarios when the static linkage approach can lead to the issues. The most typical problem if static and dynamic or static and static libraries are mixed in one application. In the good case, it will be a performance problem, in the worst case, something will mysteriously fail (e.g. due to symbol conflicts).
Based on our experien

[2021-11-11 09:42] isaevil commented on #584
Closing since https://github.com/oneapi-src/oneTBB/pull/594 is merged.

[2021-11-11 09:42] #584 closed

[2021-11-12 01:09] anton-potapov commented on #288
closing this, as oneTBB using CMake.

#297 has info how to build static library.

Pay attention to the [disclaimer ](https://github.com/oneapi-src/oneTBB/blob/master/CMakeLists.txt#L113)that static build "is highly discouraged and such configuration is not supported. Consider building a dynamic library to avoid unforeseen issues."

[2021-11-12 01:09] #288 closed

[2021-11-12 13:09] zmajeed commented on #156
Thank you for the tip - enabling the VC++ version of `doctest_thread_local_wrapper` for cygwin does not fix the problem - but it did lead me to cygwin wrappers for pthread that seem to use thread-local storage - I'll dig deeper when I get a chance

[2021-11-12 14:23] anton-potapov commented on #259
@Dr15Jones,   [spec is out](https://github.com/oneapi-src/oneAPI-spec/releases/tag/oneapi-v1.1-rev-1).

[2021-11-13 06:41] daniel-dsouza commented on #244
Pretty sure this issue has long since been fixed and can be closed.

[2021-11-13 06:41] #244 closed

[2021-11-13 15:32] zmajeed commented on #156
Well - `pthread_key_create` is "key" to TBB `scalable_malloc` - so no surprise `test_malloc_used_by_lib` crashes and burns!

`scalable_malloc` runs from the dynamically loaded dll in this test - when the library is unloaded `scalable_malloc` and all associated data is invalid

`pthread_key_create` associates thread-local data with a key - the data is opaque so you can give a destructor callback to

[2021-11-13 18:55] ilya-lavrenov opened #653 "hwloc is missed in TBBConfig.cmake for static build case"
I've tried to build TBB in static mode (`BUILD_SHARED_LIBS=OFF`) and have the following `TBBConfig.cmake` config after install:
[code]

I've passed options:
[code]
When configured TBB cmake project.

In static build all dependencies should be exposed via cmake interface.

So, this code should be part of TBBConfig.cmake as well:
https://github.com/oneapi-src/oneTBB/blob/2915b9b93f721adcc0e8c54d7d1b

[2021-11-13 19:27] ilya-lavrenov opened #654 "ITTNotify usage must be configurable"
When static library build is used, ITT notify symbols may conflict with other ITT notify symbols from end application / target library.
TBB must provide a way to switch ITT off

[2021-11-14 09:25] zmajeed commented on #156
Found `DllMain` in `src/tbbmalloc/tbbmalloc.cpp` - got `test_malloc_used_by_lib` to pass but some questions remain

[code]

This is exactly what's needed for cygwin - `__TBB_mallocProcessShutdownNotification` frees the memory pool so no pthread key data remains

Enabling it for cygwin opens a small can of worms because this `DllMain` is exclusive from another function `RegisterProcessShutdownNotif

[2021-11-15 07:44] alexey-katranov commented on #156
`__TBB_SOURCE_DIRECTLY_INCLUDED` is workaround for the static build. If `tbbmalloc` is dynamic there is a special handling of thread destructors: https://github.com/oneapi-src/oneTBB/blob/master/src/tbbmalloc/tbbmalloc.cpp#L75-L105. On Windows, we rely on `DLL_THREAD_DETACH`; while on POSIX we prevent `tbbmalloc` to be unloaded. Or do you really build the static version?

[2021-11-15 09:44] rakytap commented on #352
Yes, it can be closed. By the way, do we know when NUMA node improvements would be available in the library? (I mean the functionalities at 17.58 in https://www.youtube.com/watch?v=2t79ckf1vZY&t=1047s)

[2021-11-15 12:42] zmajeed commented on #156
Thanks for clearing up the intended use of `__TBB_SOURCE_DIRECTLY_INCLUDED` - I'm not building static libraries

I found the true reason why pthread key destructors were crashing after a closer look at `RegisterProcessShutdownNotification` for pthread - it was a simple dll name mismatch

The name of the tbbmalloc library built by cmake on cygwin is `cygtbbmalloc_debug-2.dll` - I've had to account

[2021-11-15 15:16] zmajeed commented on #156
There is a working cygwin port at https://github.com/zmajeedforks/oneTBB/tree/cygwin_build

[2021-11-15 17:19] Dr15Jones commented on #259
@anton-potapov thanks!

[2021-11-16 08:31] anton-potapov commented on #352
@rakytap , it is [available ](https://oneapi-src.github.io/oneTBB/reference/info_namespace.html)

[2021-11-16 08:56] #352 closed

[2021-11-16 10:29] #259 closed

[2021-11-16 10:33] anton-potapov commented on #137
@desertDesel , here is the oneAPI (which oneTBB is the part of) [installation guide for windows ](https://www.intel.com/content/www/us/en/develop/documentation/installation-guide-for-intel-oneapi-toolkits-windows/top.html)

[2021-11-16 10:34] anton-potapov commented on #130
@antoniomedrano , here is the oneAPI(which oneTBB is the part of) [installation  guide for macOS](https://www.intel.com/content/www/us/en/develop/documentation/installation-guide-for-intel-oneapi-toolkits-macos/top.html)

[2021-11-16 15:56] antoniomedrano commented on #130
@anton-potapov lol, thanks!

[2021-11-16 22:03] anton-potapov commented on #130
@antoniomedrano  you are welcome :)

[2021-11-16 22:03] #130 closed

[2021-11-16 22:15] anton-potapov commented on #292
It seems not applicable to oneTBB, as the code changed significantly.
@Yitzi2,  please reopen if the problem exists on oneTBB (e.g. [v2021.4.0](https://github.com/oneapi-src/oneTBB/tree/v2021.4.0) or latest master)

[2021-11-16 22:15] #292 closed

[2021-11-16 23:09] anton-potapov commented on #560
@baloe, please reopen if problem still exists.

[2021-11-16 23:09] #560 closed

[2021-11-17 09:05] ivankochin commented on #653
The static build has very limited support. And also, the TBBBind libraries, that require the HWLOC existence, are designed to be dynamic. So the simples solution is just to remove the TBBBind libraries from the static build. It was done in #656.

There is no HWLOC dependency in the static package anymore, so I close the issue. Please reopen the issue if you have any questions.

[2021-11-17 09:05] #653 closed

[2021-11-17 10:46] AlexVeprev commented on #5
oneAPI packages (including oneTBB) now have support of pkg-config.

[2021-11-17 10:46] #5 closed

[2021-11-17 14:19] alexey-katranov commented on #156
Great! Do you have to contribute the port?

[2021-11-17 14:28] alexey-katranov commented on #654
oneTBB does not officially support static build due to potential issues with symbol conflicts, correctness and performance. However, you can try to disable `__TBB_USE_ITT_NOTIFY` macro ([src/tbb/CMakeLists.txt#L65](https://github.com/oneapi-src/oneTBB/blob/master/src/tbb/CMakeLists.txt#L65)) to disable ITT instrumentation (pay attention that the instrumentation is used by profiling tools for bette

[2021-11-17 14:45] zmajeed commented on #156
I plan to - only one item needs cleaning up for a PR

In a couple tests I had to make a copy of the Windows implementation of `GetMemoryUsage` private to the test because the Linux version uses an unsupported feature like `VmPeak` or the test fails with the Linux version - see `test_malloc_compliance.cpp` and `test_malloc_lib_unload.cpp` in https://github.com/oneapi-src/oneTBB/compare/master...zma

[2021-11-17 14:59] ilya-lavrenov commented on #654
Yes, I did this, but it require TBB modifications while it would be nice to have an explicit cmake option

[2021-11-18 12:48] pranasge commented on #639
This  seems to be blocking  issue for me. Is threre easy workaround or version that does not have this issue?

[2021-11-18 17:47] alexey-katranov commented on #639
We are in the process of fixing. I am not sure about possible workaround (some crazy variants: reduce the message size, e.g. use the shared pointer or recompile oneTBB runtime with the disabled small object cache).
The root cause is that we detect the object size incorrectly during destruction of a graph message, overall, it is unlikely to introduce any issues in release (while there is possible r

[2021-11-19 10:10] pranasge commented on #639
Wrong deallocation sounded bad but seems to be less of an issue than I thought. Will use release version for now. Thanks for info.

[2021-11-19 12:24] anton-potapov commented on #217
@dr-pain , [oneTBB v2021.4](https://github.com/oneapi-src/oneTBB/releases/tag/v2021.4.0)  should work with msys2 (after [351](https://github.com/oneapi-src/oneTBB/pull/351) landed)

[2021-11-19 17:16] myoung301 opened #665 "Application using scalable allocator crashes on Windows 11 when opening a file dialog"
A minimal program was created to reproduce the issue. The program opens a file dialog using GetOpenFileName.

On Windows 10, the program runs successfully both with and without the TBB scalable allocator.

On Windows 11, the program crashes when the scalable allocator is used. The crash occurs right after the file dialog displays. The application runs successfully with the scalable allocator remov

[2021-11-19 20:02] phprus commented on #478
Fixed by #553.
Thank you!

[2021-11-19 20:02] #478 closed

[2021-11-19 20:22] anton-potapov commented on #665
@myoung301 can you provide more details :
- compiler (and version) being used
- call stack of the crash
- version of the build (debug /release )

[2021-11-19 21:46] myoung301 commented on #665
@anton-potapov

compiler: Visual Studio 2017 (15.0.0)
version: release

Call stack from windbg:
[code]

[2021-11-20 18:46] zmajeed commented on #156
Success! I refactored `test/common/memory_usage.h` for cygwin to use the Windows version of `GetMemoryUsage`

The refactoring turns `memory_usage.h` into a new static library `memory_usage` in a subdirectory of `test/common`. This way the platform-specific implementation of `GetMemoryUsage` moves to a new `memory_usage.cpp` file and removes the dependency of the library header on `windows.h` which

[2021-11-22 08:02] alexey-katranov commented on #156
Can you please summarize the problem scope with cygwin and Win32 API to document design decisions?

As you mentioned,

It does not seem that we need to solve the problem in a general way (at first glance a separate module and related issues seem overcomplicated). Is it possible to introduce the cygwin-related macro, e.g. `__TBB_TEST_CYGWIN` to rely on it in `GetMemoryUsage`?

[2021-11-22 09:07] #137 closed

[2021-11-22 09:41] anton-potapov commented on #175
oneTBB uses CMake as the build system.  See [Installation from Sources](https://github.com/oneapi-src/oneTBB/blob/master/INSTALL.md) for ,ore details.

[2021-11-22 09:41] #175 closed

[2021-11-22 11:20] anton-potapov commented on #191
Closing as original problem reported against TBB (not oneTBB).
@haolujun please re-open if the problem still reproducible with oneTBB

[2021-11-22 11:20] #191 closed

[2021-11-22 11:34] anton-potapov commented on #193
@akhaled86,
the easiest way is:

see [Windows* OS C/C++ Dynamic Memory Interface Replacement](https://oneapi-src.github.io/oneTBB/tbb_userguide/Windows_C_Dynamic_Memory_Interface_Replacement.html) for more details.

[2021-11-22 11:53] anton-potapov commented on #186
closing as #550 landed

[2021-11-22 11:53] #186 closed

[2021-11-22 13:22] alexey-katranov commented on #639
@pranasge , do you have the possibility to check #667 that it fixes your original problem?

[2021-11-23 09:08] pranasge commented on #639
Yes, my tests pass without problems now.

[2021-11-24 11:35] fexolm opened #669 "Exception from parallel_for called from parallel_reduce within global task arena causes segfault"
Here is the reproducer:
[code]

[2021-11-24 11:49] anton-malakhov commented on #669
This is related to https://github.com/omnisci/omniscidb/pull/673

[2021-11-24 12:43] alexey-katranov commented on #669
The exception `throw std::runtime_error("work was canceled");` is never called. Try to wrap `  reduce_thread.get();` into `try`/`catch` block, e.g.`
[code]

If you want to cancel some parallel algorithm from an external thread consider using explicit [`task_group_context`](https://spec.oneapi.io/versions/latest/elements/oneTBB/source/task_scheduler/scheduling_controls/task_group_context_cls.html)

[2021-11-24 12:55] fexolm commented on #669
@alexey-katranov Thanks for your advice.  I understand, that I don't catch exception here, but It is not really the case. Here I expect that exception would be normally propagated to the main thread as id does, without global task arena. But when I use task arena, that code causes segfault somewhere in the tbb internals.

[2021-11-24 13:06] alexey-katranov commented on #669
It seems I misunderstand the issue, thank you for the clarification. I'll try to reproduce the issue on big machine and come back.

[2021-11-24 13:33] alexey-katranov commented on #669
I tried 26 cores (as well as 44) but no segfault in oneTBB internal. Can you please provide more details? What is OS and oneTBB version?

[2021-11-24 13:55] fexolm commented on #669
I use Ubuntu 20.04 and master branch

Here is output with TBB_VERSION=1
[code]

[2021-11-24 15:01] fexolm commented on #669
For some reason, I wasn't able to reproduce the issue in clean environment. It looks like I would need more time to find what caused that errors. I will write you, as soon as I found smth. Thanks for your help.

[2021-11-24 21:05] anton-potapov commented on #332
@AlyaMx, it seems that problem is solved. Can you check you on your side ?

[2021-11-24 21:06] anton-potapov commented on #348
@iuming, have you had a chance to try it ?

[2021-11-24 21:08] anton-potapov commented on #356
@dahubley is the problem still persist ?

[2021-11-24 21:37] anton-potapov commented on #372
It seems that only the following containers are affected :
- [concurrent_unordered_map](https://spec.oneapi.io/versions/latest/elements/oneTBB/source/containers/concurrent_unordered_map_cls.html)
- [concurrent_unordered_multimap](https://spec.oneapi.io/versions/latest/elements/oneTBB/source/containers/concurrent_unordered_multimap.html)
- [concurrent_unordered_set](https://spec.oneapi.io/versions/

[2021-11-24 21:46] anton-potapov commented on #540
@JackYangzg could you please specify your use case in more details ?

[2021-11-24 22:25] Lastique commented on #372
You forgot `concurrent_queue` and `concurrent_bounded_queue`. See https://github.com/oneapi-src/oneTBB/pull/318.

[2021-11-25 09:24] anton-potapov commented on #665
@zheltovs could you please take a look?

[2021-11-25 09:25] anton-potapov commented on #93
@AlexVeprev could you please take  a look ?

[2021-11-25 09:26] fexolm commented on #669
I found out, that the problem only reproduces, when linking reproducer with libunwind.
I was able to reproduce the issue, by compiling with the following command.
[code]

[2021-11-25 09:29] anton-potapov commented on #372
@Lastique I believe `concurrent_queue` and `concurrent_bounded_queue` are covered by #373

[2021-11-25 11:10] AlexVeprev commented on #93
https://pypi.org/search/?q=tbb now contains the latest version (2021.4.0), it should work.
Quick check in my env:
[code]

[2021-11-25 11:10] #93 closed

[2021-11-29 15:37] akukanov commented on #573
oneTBB is a mix of header-only and binary-based APIs; many class templates are header-only at least by default (if no tool support is requested via a macro, etc.). Typically these templates, including `enumerable_thread_specific` and concurrent containers, can be used not only in oneTBB parallel constructs but in any thread. IIRC in the past there were requests to allow using such APIs without lin

[2021-11-30 12:55] anton-potapov commented on #665
@myoung301, we were not able to reproduce the issue at the moment.
Does it shows all the times ? Or sporadically ?
As well could you please specify the exact command line used to compile the sample ?

[2021-11-30 15:35] anton-potapov commented on #325
@AlexVeprev  could you please take a look?

[2021-11-30 15:36] anton-potapov commented on #332
@AlyaMx, please re-open if the problem still exists

[2021-11-30 15:36] #332 closed

[2021-11-30 16:23] AlexVeprev commented on #325
Yes, there is a gap with missing requirement, we're working on resolution with distribution team. @anton-potapov, thank you for highlighting!

[2021-12-01 08:34] anton-potapov commented on #290
@DABH is the problem still reproducible with  [oneTBB v2021.4.0](https://github.com/oneapi-src/oneTBB/releases/tag/v2021.4.0) or latest oneTBB master ?

[2021-12-01 08:35] anton-potapov commented on #155
@arkjedrz , could you please provide a complete reproducer of the problem ?

[2021-12-01 08:44] anton-potapov commented on #348
@iuming, please reopen if the problem still exist on [oneTBB v2021.4.0](https://github.com/oneapi-src/oneTBB/releases/tag/v2021.4.0) or the latest master

[2021-12-01 08:44] #348 closed

[2021-12-01 08:55] arkjedrz commented on #155
@anton-potapov, not really, this bug is over 2 years old.
This code was used for image processing, images were 2560x2048 AFAIR. You can try printing i and j values to see if it still happens.

[2021-12-01 09:30] anton-potapov opened #675 "Update system requirements with "community based" supported platforms"
Need to mention that there known integrations of community supported platforms such as MinGW and FreeBSD

[2021-12-01 22:50] dahubley commented on #356
I'm not sure we wrapped the object in a class and haven't revisited the problem.

[2021-12-01 22:50] #356 closed

[2021-12-02 05:56] alexey-katranov commented on #654
The problem with any additional option is that it significantly increases the number of configurations to test (this is kind of a combinatorial problem). If you are interested, we can come up with some untested option, but from time to time it can break.

ITT instrumentation is invented for production builds that our users can have additional information when profiling their applications. So, you

[2021-12-02 06:34] alexey-katranov commented on #669
The root cause is incorrect register calculation during unwind in `libunwind`. The issue was fixed in https://github.com/libunwind/libunwind/pull/46. So, consider using `libunwind` with version 1.3.0 or newer. (Note that Ubuntu 20.04 comes with `libunwind` 1.2.1)

Some details:
I reduced the reproducer:
[code]

The backtrace when crashed:
[code]
Pay attention to `this` pointer on frame 3: it is `0

[2021-12-02 09:05] anton-potapov commented on #205
@Nyoh FYI there is way to clean internal buffers which might be useful :
[code]
see more details [here ](https://spec.oneapi.io/versions/latest/elements/oneTBB/source/memory_allocation/c_interface_to_scalable_allocator.html).

[2021-12-02 09:27] anton-potapov commented on #193
@akhaled86 please reopen if problem still exists

[2021-12-02 09:27] #193 closed

[2021-12-02 10:02] #372 closed

[2021-12-02 10:09] anton-potapov commented on #217
#675 is to mention MinGW in the known to work systems

[2021-12-02 12:13] anton-potapov commented on #178
A bit of context:
POSIX seems to guarantee that `mmap` with `MAP_ANONYMOUS` flag applied  will zero the returned memory :
[code]

See the [linux man](https://man7.org/linux/man-pages/man2/mmap.2.html) for more details

[2021-12-03 06:21] Tom-python0121 opened #677 "ctest failed in intel-tbb@2021.4.0 on centos8_aarch64"
Hello,I meet a problem:ctest failed in intel-tbb@2021.4.0 on centos8_aarch64.
### Steps to reproduce the issue

[code]
How can I fix it?
![image](https://user-images.githubusercontent.com/77763324/144557032-d1bc176a-2a2c-4284-b142-f5d975fd6fd2.png)

[2021-12-03 06:34] Tom-python0121 commented on #677
it also passed in intel-tbb@2021.4.0 on centos8_x86_64

[2021-12-03 12:22] Lastique opened #678 "Mark relevant functions noexcept"
Please mark relevant functions in TBB `noexcept`. In particular, consider these members:

- Move constructors
- Move assignment
- `swap` members and free functions
- Comparison operators
- Hash functions

Having the correct `noexcept` specification is important for:

- User's types that use TBB types for members. Default constructors, assignment and comparison functions inherit `noexcept` specific

[2021-12-03 12:33] anton-potapov commented on #214
I believe this was fixed during revamp. @alexey-katranov, please correct me if I'm wrong.

[2021-12-03 12:33] #214 closed

[2021-12-03 12:38] isaevil commented on #677
Thank you for the report. Could you please tell what is the output of `/sys/kernel/mm/transparent_hugepage/enabled` and `/proc/meminfo`?

[2021-12-06 01:15] Tom-python0121 commented on #677
@isaevil it shows:
![image](https://user-images.githubusercontent.com/77763324/144772412-f3495593-f8bc-46bc-8ab1-7dd9c3fac432.png)

[2021-12-06 06:19] anton-potapov commented on #290
@DABH, please reopen if the problem still exist

[2021-12-06 06:19] #290 closed

[2021-12-06 06:23] anton-potapov commented on #355
@mikemccarty-vertex , friendly reminder :)

[2021-12-06 06:26] anton-potapov commented on #677
@Tom-python0121 , I believe the command should be[ run as root ](https://wiki.centos.org/TipsAndTricks/BecomingRoot)

[2021-12-06 06:29] Tom-python0121 commented on #677
@anton-potapov it shows:
![image](https://user-images.githubusercontent.com/77763324/144798318-af96e918-931a-4850-9e27-15566f536b5c.png)

[2021-12-06 06:37] isaevil commented on #677
@Tom-python0121 you shouldn't execute these file. Please use:
[code]

[2021-12-06 06:39] Tom-python0121 commented on #677
@isaevil yes,it shows:
[code]

[2021-12-06 07:10] alexey-katranov commented on #677
Can you please  check the logs that `test_malloc_whitebox` was run? What command did you use to run the tests?

[2021-12-06 14:32] mikemccarty-vertex commented on #355
@anton-potapov I think I'm going to close this issue for now.  When I get some time to retest, I will reopen if necessary.  Thanks for the reminder.

[2021-12-06 14:32] #355 closed

[2021-12-07 01:26] Tom-python0121 commented on #677
@isaevil This method is effective for test_malloc_whitebox, but the test_eh_thread case still reports an error.
[code]
Is there any way to solve？

[2021-12-07 02:01] Tom-python0121 commented on #677
Here's how it debugs:
[code]

[2021-12-07 06:34] isaevil commented on #677
@Tom-python0121 could you please share details about hardware you run tests on?

[2021-12-07 06:39] Tom-python0121 commented on #677
@isaevil What hardware information do you want to view, or are there any terminal commands that you can view?such as:
[code]

[2021-12-07 06:41] isaevil commented on #677
`lscpu` should be enough.

[2021-12-07 06:43] Tom-python0121 commented on #677
@isaevil  there:
[code]

[2021-12-07 07:40] anton-potapov commented on #669
@alexey-katranov can we close this ?

[2021-12-07 13:21] anton-potapov commented on #675
arm/arm64 on Windows /MacOS should be mentioned as well

[2021-12-07 13:39] PowaBanga opened #681 "Trying to build it on archlinux in lib32"
Hi everyone,
I am trying to compil  tbb in 32bits for archlinux from this aur package https://aur.archlinux.org/packages/lib32-tbb/#news .
So is there a bug with hwloc
apparently, the build fail if it is installed, but if it is not, the build work...
[code]

[2021-12-07 14:26] anton-potapov commented on #329
@ThomasP1988 is the problem still reproducible with the latest master ?

[2021-12-07 14:50] SimonHeybrock opened #682 "[CMake] Add CMake files into TBB packages in PyPI wheels"
#141 addressed missing cmake files in distribution packages. As far as I can tell, these files (such as `TBBConfig.cmake`) are still missing from the package installed with `pip install tbb-devel`, which makes building wheels for cmake-based projects difficult.

Could they be added? Thanks!

[2021-12-07 16:23] AlexVeprev commented on #682
@SimonHeybrock, thank you for the request. We should consider it more deeply. Generally it is possible, but will require a bit different implementation from what we have now in oneAPI distribution and in assets in GitHub releases because `pip` installs `tbb-devel` to different layout. We use templates https://github.com/oneapi-src/oneTBB/blob/master/cmake/templates to prepare TBBConfig files, but

[2021-12-07 18:46] SimonHeybrock commented on #682
@AlexVeprev thanks for you answer. I am anything but an expert, so I cannot really propose a concrete solution. But maybe you have a suggestion on how to use (include and link) with TBB installed via `pip install tbb-devel`? Is there any other mechanism you would recommend, since we cannot use `find_package(TBB)`?

For context:
- We are attempting to make a wheel for a C++ application (with Python

[2021-12-07 19:36] AlexVeprev commented on #682
@SimonHeybrock, I can experiment with some workarounds, but for stability and consistency it would be better to use `find_package(TBB)`. BTW, are you ok to wait? It may be months to enable the solution not because of complexity but because of release cycle.

[2021-12-07 19:42] AlexVeprev commented on #681
Symptoms are pretty similar to https://github.com/oneapi-src/oneTBB/pull/498 that was fixed in https://github.com/oneapi-src/oneTBB/pull/508 (released with v2021.4.0). @PowaBanga do you have a chance to check?

[2021-12-07 19:47] SimonHeybrock commented on #682
@AlexVeprev

I think I would need to figure out a workaround until then, any suggestions are welcome.

I have considered just copying the `cmake/tbb` folder from the conda package into the installed `pip` library dir (since it should only be required during the actual package build), but above you mention that the conda package structure is different, so that might not work?

[2021-12-08 07:33] anton-potapov commented on #558
@alexey-katranov , I believe enabliblig C++20 should not break 'tbbmalloc' ?

[2021-12-08 07:34] anton-potapov commented on #540
@JackYangzg please reopen if needed

[2021-12-08 07:34] #540 closed

[2021-12-08 09:31] AlexVeprev commented on #682
@SimonHeybrock

Not exactly, I mentioned oneAPI distribution and assets in GitHub releases. oneTBB from conda-forge should have pretty similar layout to pip. I'm not sure if it is 100% stable workaround, but it may work.
BTW, here you can find how I build tbb-devel for conda-forge channel. I believe it's pretty easy to reproduce it locally to dive into details: https://github.com/conda-forge/tbb-f

[2021-12-08 09:41] alexey-katranov commented on #558
As far as I remember, C++20 brings interesting topic of atomic objects initialization and access in data sections (static storage duration). It seems it is not safe to use global atomics and it is better to consider `atomic_ref`.

[2021-12-08 11:34] PowaBanga commented on #681
hm ok, so i tried to compil it again, this is my arch PKGBUILD script :
[code]
and here, this the answer :
[code]

[2021-12-08 13:05] SimonHeybrock commented on #682
@AlexVeprev I seem to be successful "patching" the `pip`-installed `tbb-devel` with the `cmake/TBB` folder extracted from the `conda-forge` `tbb-devel` packages. Combined with `install(IMPORTED_RUNTIME_ARTIFACTS TBB::tbb)` this appears to be working.

I will post details of this hack later when I have a cleaned-up solution.

[2021-12-08 13:48] SimonHeybrock commented on #682
Here it is: https://github.com/scipp/scipp/pull/2317/commits/1897a52b2cf6d4114d43c8051b612fbb53b090d6. I am *not* proud of this, but it appears to work on the systems we have tried so far. Fingers-crossed for a nicer (upstream) solution in the future?

**Notes:**

Ignore the files in ` lib/.tbb/*/TBB/`, those are just copied over from the conda-forge `tbb-devel` packages. The relevant parts are:
-

[2021-12-08 14:36] AlexVeprev commented on #681
That's interesting: `libhwloc.so` is found, but it is not suitable because of different architecture.
As workaround you can pass `-DTBB_DISABLE_HWLOC_AUTOMATIC_SEARCH=ON` if your scenario doesn't require `libhwloc.so`.

@ivankochin please take a look, what do you think?

[2021-12-08 15:25] AlexVeprev commented on #682
@SimonHeybrock, that's cool you was able to apply the w/a! Special thanks for the detailed explanation.

Sure, let's keep this issue open to track the status.

[2021-12-09 08:52] vlserov commented on #665
@myoung301, we are able to reproduce the issue with your steps and got same call stack.
Analysis is in progress.

[2021-12-09 22:39] BenFrantzDale commented on #406
Related is https://wg21.link/P2300 which has its own approach (plumbing exceptions and cancelation through the pipeline).

[2021-12-10 12:07] anton-potapov commented on #206
@tttapa please reopen if the problem still exist

[2021-12-10 12:07] #206 closed

[2021-12-12 08:58] Sedeniono commented on #665
Hi, could you please share some more details regarding the reproduction? We received a crash dump from a customer showing the exact same call stack, but I failed to reproduce the issue so far.

What I tried: I compiled the example code above on Windows 10 (not 11) using Visual Studio 2019, Windows SDK 10.0.19041.0, C++14, Release, cl.exe 19.29.30137. The scalable allocator of oneTBB comes from rev

[2021-12-13 07:26] alexey-katranov commented on #406
Let me simplify the example a bit:
[code]
If I understand the initial question correctly, we want `queue.pop()` to be cancelled when the exception is thrown. By the current design, concurrent algorithms are completely independent from task scheduler and cannot observe the exception. I do not think that we need this connection in general case but what do you think if we can register some callback o

[2021-12-13 08:58] #639 closed

[2021-12-13 09:38] anton-potapov commented on #204
@abasak24 there is an [example in oneTBB Developer Guide ](https://oneapi-src.github.io/oneTBB/main/tbb_userguide/concurrent_hash_map.html) on how to use `concurrent_hash_map`, including parallel iteration over it.

As for you particular use case I believe [`parallel_reduce`](https://spec.oneapi.io/versions/latest/elements/oneTBB/source/algorithms/functions/parallel_reduce_func.html) is the best f

[2021-12-13 22:03] anton-potapov commented on #489
@Flamefire as the #647 is landed - could you check if the problem is fixed ?

[2021-12-13 22:06] anton-potapov commented on #342
@phprus as #647 is landed - can we close this ?

[2021-12-14 06:05] #634 closed

[2021-12-14 06:05] phprus commented on #342
@anton-potapov, Yes, we can close this issue. 12 hours of tests run passed without errors.

[2021-12-14 06:05] #342 closed

[2021-12-14 08:05] erling-d-andersen opened #685 "Turn off runtime warnings"
I see

TBB Warning: The number of workers is currently limited to 3. The request for 7 workers is ignored. Further requests for more workers will be silently ignored until the limit changes.

and I would really like to turn this runtime warning off because the users of our product that employs the TBB do not want such things,

I have reported the issue

https://community.intel.com/t5/Intel-oneAPI-

[2021-12-14 09:15] fexolm commented on #669
Thanks @alexey-katranov!

[2021-12-14 11:11] metallermartin commented on #665
We have customer reports of crashes showing the same stack trace. However, we use [mimalloc](https://github.com/microsoft/mimalloc) as a custom allocator instead of oneTBBs. So the issue does not seem specific to oneTBB, but is more a general windows issue.

However we also failed to reproduce the crashes on our dev machines or local VMs. I agree with @Sedeniono assessment that there must be some

[2021-12-14 14:01] #669 closed

[2021-12-14 19:01] myoung301 commented on #665
I and a colleague both confirmed that if we sign out of OneDrive, the crash goes away. We have to be careful to fully sign out (the 'Unlink this PC' option in settings).

We've also reproduced the problem with mimalloc, as mentioned. So there is an issue when using either custom allocator and OneDrive on Windows 11.

[2021-12-14 21:01] hradec commented on #225
Just in case someone want's to generate the `TBBConfig.cmake` file from the actual source (like myself) instead of downloading it from the Releases, this seems to be how you do it properly:

[code]
The `cmake/tbb_config_generator.cmake` is a cmake script that generates the `TBBConfig.cmake` for you, and puts it in a cmake folder in the `TBB_ROOT` folder for you.

I really don't get it why TBB Make

[2021-12-14 21:15] AlexVeprev commented on #225
Hi @hradec, oneTBB has CMake-based build system, it provides stuff like `make install`, you can find details here: https://github.com/oneapi-src/oneTBB/blob/master/INSTALL.md

If you still need to create configs for TBB 2020 or older, I'd suggest to take a look at tbb_config_installer.cmake, it was intended for package maintainers and allows to generate configs in more flexible way than tbb_config

[2021-12-14 23:40] Sedeniono commented on #665
@myoung301 I can confirm that the example posted above crashes both with oneTBB and mimalloc **if OneDrive is syncing the Desktop**. By that I mean OneDrive's option to backup the Desktop. Note that if you enable this option, the Desktop folder itself gets moved under the OneDrive folder.

After some more debugging, I can confirm that one ingredient of the crash is indeed the registry path I menti

[2021-12-15 07:44] ivankochin commented on #681
Oh, it seems like the root cause of this issue is that the pkgconfig CMake module, that we use to find the HWLOC, can find the HWLOC with the different arch. I haven't found the solution to this problem, so please disable the HWLOC searching using the option mentioned above or specify the path to the valid HWLOC using the [corresponding values](https://github.com/oneapi-src/oneTBB/tree/master/cmak

[2021-12-15 09:32] phprus opened #686 "test_limiter_node SIGSEGV with forced LTO"
Commit: 0815661e4c08e4fcaf772d31c1313c63d629a32e

[code]

**Release**

CMake:
[code]

[code]

**RelWithDebInfo**

CMake:
[code]

[code]

gcc-8,9,10 - without errors.

[2021-12-15 12:40] AlexVeprev commented on #681
@ivankochin, I doubt that PkgConfig is able to handle arch. Per my understanding it uses pretty straightforward way to integrate a library, without any logic like arch selection. In oneTBB we have .pc files with different names: tbb.pc for 64 bits and [tbb32.pc](https://github.com/oneapi-src/oneTBB/blob/master/cmake/config_generation.cmake#L116) for 32 bits. I quickly checked `apt-cache search hwl

[2021-12-15 14:34] anton-potapov commented on #686
@phprus is it correct that latest master (https://github.com/oneapi-src/oneTBB/commit/0815661e4c08e4fcaf772d31c1313c63d629a32e) is used ?

[2021-12-15 15:37] phprus commented on #686
@anton-potapov
Yes.
Segfault is present ​only is LTO enabled for tests and only on GCC-7.

In the discussion of PR #647, I did not check build with LTO enabled.

[2021-12-15 15:48] anton-potapov commented on #686
@vlserov could you please take a look ?

[2021-12-16 08:56] ulfworsoe opened #687 "Failing tests and deadlocks on linux/aarch64 (Amazon Graviton2)"
Found on:
- Linux (Ubuntu 20.04.3) on aarch64 (Amazon Graviton2)
- TBB version 2021.4.0 and master (883c2e5245c39624b3b5d6d56d5b203cf09eac38)
- building with cmake+ninja (`CC=clang CXX=clang++ cmake -GNinja -DCMAKE_INSTALL_PREFIX=$HOME/local/2021.4.0 -DCMAKE_BUILD_TYPE=Release`).

Running the TBB tests, some tests failed:
- In master and 2021.4.0 `test_composite_node` appear to hang, killed manual

[2021-12-16 09:03] erling-d-andersen opened #688 "TBB on linux @ aarch64 has test failures and deadlocks"
After extensive tests with TBB on Windows/Linux X86, then we are trying out TBB on Linux @ aarch64.

We build TBB ourselves from the source from Github and we are seeing some tests failing in tbb 2021.4.0 on aarch64 (amazon graviton2 with 64 cores).

In debug mode one test throws an exception (test_eh_threads).

In release mode:

one tests takes VERY long (test_mutex)
one test seems to hang (test_

[2021-12-16 09:05] erling-d-andersen commented on #688
It was also reported by employee in another issue. Sorry.

[2021-12-16 09:05] #688 closed

[2021-12-16 09:07] erling-d-andersen commented on #687
More info in the duplicate but closed issue: https://github.com/oneapi-src/oneTBB/issues/688

[2021-12-16 11:22] odidev commented on #687
@anton-potapov

I have been working on installing and testing this package for amd64 and arm64 architectures. While testing I am getting 2 tests failure on my local arm server. It would be really helpful if you could share some pointers on it.

[code]
**Log for reference:** [oneTBB_tests_arm64.txt](https://github.com/oneapi-src/oneTBB/files/7726798/oneTBB_tests_arm64.txt)

[2021-12-16 12:52] erling-d-andersen opened #689 "Memory allocation/dealloction"
When I run my application using Inspector I see

![image](https://user-images.githubusercontent.com/10224241/146375393-f5771373-98bf-4d1a-85b4-1a9d7a7eec72.png)

Not sure if that is a bug or Inspector getting it wrong.

[2021-12-17 00:03] anton-potapov commented on #188
@e4lam, links no longer works :(

[2021-12-17 00:28] e4lam commented on #188
@anton-potapov I've updated the links in the description above. They renamed the "master" branch to "main" so I just needed to substitute "main" for "master" in the URLs.

[2021-12-17 07:38] erling-d-andersen commented on #689
Will the dump include our source?

We can also build TBB from source ourselves. Would that help?

[2021-12-17 08:03] vlserov commented on #686
@phprus, issue is not related to #647.
Tried to use TBB_ENABLE_IPO=ON instead of CMAKE_INTERPROCEDURAL_OPTIMIZATION=ON, all test are passed.
CMAKE_INTERPROCEDURAL_OPTIMIZATION adds IPO flags to tests as well.

[2021-12-17 08:07] alexey-katranov commented on #689
You need to remove `-include-sources` from command line. If you have a concern about exposing the sources, you can share the result via `inteltbbdevelopers@intel.com`.

If the email option is not suitable for you, we can try another variant. Can you take some [official build](https://github.com/oneapi-src/oneTBB/releases) of oneTBB and expand the result to get the addresses where allocation and de

[2021-12-17 08:38] phprus commented on #686
@vlserov,
Yes, segfault is present only if IPO is enabled for tests.

[2021-12-17 12:31] erling-d-andersen commented on #689
I have emailed the requested file.

[2021-12-20 02:31] froody opened #691 "parallel_for_each calls ~Item on instances that haven't been constructed"
See [~input_block_handling_task()](https://github.com/oneapi-src/oneTBB/blob/v2021.4.0/include/oneapi/tbb/parallel_for_each.h#L306): `~Item` is called `max_block_size` times, wheras based on my reading of the code, `my_size` holds the count of constructed items ([incremented here](https://github.com/oneapi-src/oneTBB/blob/v2021.4.0/include/oneapi/tbb/parallel_for_each.h#L498)) and may be less than

[2021-12-20 07:21] anton-potapov commented on #691
@froody is there any reproducer that shows up a problem ?

[2021-12-20 07:25] anton-potapov commented on #204
@abasak24 please reopen if needed

[2021-12-20 07:25] #204 closed

[2021-12-20 07:31] anton-potapov commented on #272
@AlexVeprev is it still the problem ?

[2021-12-20 09:32] alexey-katranov commented on #691
@froody , thanks for the report.

@anton-potapov , it is quite easy to reproduce if you inherit `value_t` in [`parallel_for_each_common.h#L39`](https://github.com/oneapi-src/oneTBB/blob/master/test/common/parallel_for_each_common.h#L39) from `utils::NoAfterlife` and run `conformance_parallel_for_each`:

[code]

[2021-12-20 11:18] alexey-katranov commented on #687
`test_eh_thread` seems stange. It could not created `1024` and received an error from `pthread_create` but then oneTBB was able to create one more thread. Try to set a break point to `pthread_create` inside [rml_thread_monitor.h](https://github.com/oneapi-src/oneTBB/blob/master/src/tbb/rml_thread_monitor.h#L208) and check why it does not fail.

As for other tests, it is quite difficult to suppose

[2021-12-20 14:01] AlexVeprev commented on #272
Seems `TBB_STRICT=OFF` doesn't work 100% reliably for externally defined "warning as error". Fixing the warning in source code is better way in long term, I believe. Perhaps you @anton-potapov can take a look at it and fix (see the warning above).

[2021-12-20 17:35] anton-potapov commented on #272
@JackBoosY could you please specify which environment , and compile switches you use?

[2021-12-21 10:54] erling-d-andersen commented on #687
Due to Christmas vacation we are not likely to return before January. Sorry.

[2021-12-22 02:07] MaxPHPer opened #694 "What is the difference between tbb::atomic and std:atomic"
hello everyone,
      I don't know the difference between tbb::atomic and std:atomic.
      Is tbb::atomic more efficient than std::atomic?

      In addition, I cannot find the corresponding document by searching such word "tbb::atomic", such as
[https://oneapi-src.github.io/oneTBB/search.html?q=tbb%3A%3Aatomic](url)

     If you know it, please give me some help and thank you in advance

[2021-12-22 03:11] MaxPHPer commented on #694
sorry, I have known that tbb::atomic was deprecated now.

[2021-12-22 03:11] #694 closed

[2021-12-22 03:40] taoyouh commented on #606
When will this fix be published? The current NuGet package inteltbb.devel.win 2021.5.0.714 still has this problem.

[2021-12-22 08:09] alexey-katranov commented on #694
`tbb::atomic` was introduced when C++11 atomics were not invented yet. However, with C++11 `tbb::atomic` became obsolete and did not bring any value. Overall, C++11 atomics can be more efficient than `tbb::atomic` because they are recognizable by modern compilers and some additional optimization might take place.

[2021-12-22 08:11] MaxPHPer commented on #694
thank you very much!!！

[2021-12-22 08:57] anton-potapov commented on #373
Specification patch for problem https://github.com/oneapi-src/oneAPI-spec/pull/396

[2021-12-22 12:13] AlexVeprev commented on #606
@taoyouh, this fix was done after 2021.5.0 freeze that's why it is not available in 2021.5.0.714. It is expected to be released with the next release, but unfortunately I have no dates for now.

[2021-12-22 15:27] JackBoosY commented on #272
@anton-potapov Sorry for late reply.
I'm using Windows 10 with Visual Studio 2017.
The options are:
[code]

[2021-12-22 17:40] alexey-katranov commented on #687
Maybe `if (pthread_attr_init(&attr) == 0 && pthread_attr_setstacksize(&attr, 100*1024) == 0) ` failed (not `pthread_create`) when we tried to create `1024` threads?

[2021-12-22 18:22] phprus commented on #687
@alexey-katranov YES!!!
``pthread_attr_setstacksize`` returns ``EINVAL``.

https://man7.org/linux/man-pages/man3/pthread_attr_setstacksize.3.html:

``PTHREAD_STACK_MIN`` is present in ``<limits.h>``

On aarch64 ``PTHREAD_STACK_MIN`` == 131072 or dynamic value: ``sysconf(_SC_THREAD_STACK_MIN)``.

[2021-12-23 01:03] anton-potapov commented on #121
@gbin [2021.5.0](https://github.com/oneapi-src/oneTBB/releases/tag/v2021.5.0) has a sha256 sums for packages. Following releases are expected to contain that sums as well.

@AlexVeprev thanks a lot for doing this!

[2021-12-23 08:47] Enjoysnow opened #696 "Uable to use std::unique_lock with tbb::speculative_spin_mutex with gcc -mrtm on"
Uable to use `std::unique_lock` with `tbb::speculative_spin_mutex` with gcc `-mrtm`  on.

When I turn on the gcc `-mrtm` option, `tbb::speculative_spin_mutex`  becomes a type alias of `tbb::detail::d1::rtm_mutex`, https://github.com/oneapi-src/oneTBB/blob/534428d0f80538f500d524f037373cf61d721caf/include/oneapi/tbb/spin_mutex.h#L126
`tbb::detail::d1::rtm_mutex` has a base class `tbb::spin_mutex` wh

[2021-12-23 09:26] #121 closed

[2021-12-23 14:19] isaevil commented on #677
@Tom-python0121 since https://github.com/oneapi-src/oneTBB/pull/697 is merged, could you try to run testing using latest commit?

[2021-12-23 14:31] phprus commented on #687
@isaevil PR #697 fix only ``test_eh_thead`` test, but tests ``test_composite_node``, ``test_concurrent_vector`` and ``test_resumable_tasks`` is not fixed by it.
Please, reopen this issue.

[2021-12-23 14:34] isaevil commented on #687
@phprus I guess issue was closed automatically because you mentioned it. Reopening.

[2021-12-23 16:09] vlserov commented on #686
Tested on v2021.3 release with LTO Enable patch, issue is present.
Issue appears with GCC 7.5 and flags "-O1 -fdevirtualize -fipa-cp", and it doesn't with only "-O1" flag.
It isn't reproduced with GCC 8.1. Possible, some optimization options are conflicted with LTO.

[2021-12-24 18:24] phprus commented on #687
``test_resumable_tasks`` on Raspberry Pi 4.

Release build:
[code]

RelWithDebInfo build work without error.

[2021-12-24 19:09] AlexVeprev opened #700 "oneTBB 2021.5.0: test_malloc_compliance fails on linux_aarch64 in conda-forge CI"
The failure was appeared in scope of https://github.com/conda-forge/tbb-feedstock/pull/94:
[code]

Unfortunately I don't have direct access to this machine, it is in CI. I don't know if this failure appears due to some configuration specifics in CI or it's applicable generally for linux_aarch64.

I was able to add a debug patch to collect info about setting memory limits:
[code]

Results from linu

[2021-12-24 20:55] p-groarke opened #702 "[VS2019, c++20] parallel_for range hides global declaration (range concept)."
In onetbb 2021.3.0, I get a parallel_for compile error when building in c++20 mode (`W4` `WX`). The `range` concept (`_range_common.h` line ~98)  is hidden by the `parallel_for::run` `range` param (`parallel_for.h` line ~101).

[code]

[2021-12-24 23:15] anton-potapov commented on #325
@AlexVeprev ping

[2021-12-26 14:14] phprus commented on #700
On Raspberry PI 4 with Ubuntu 20.04 (aarch64) or Oracle Linux 8.5 (aarch64) is not reproducible.

[2021-12-27 06:32] alexey-katranov commented on #702
It should be fixed in [4a23d00](https://github.com/oneapi-src/oneTBB/commit/4a23d0023589b493c6d45f1a01e2ed9df72ed953#:~:text=concept%20tbb_range%20%3D%20std,%7D%3B). Try 2021.4 or later version.

[2021-12-27 09:50] AlexVeprev commented on #700
@phprus, thank you! Probably it is not the product issue, but environmental.

[2021-12-28 19:00] p-groarke commented on #702
👍

[2021-12-28 19:00] #702 closed

[2021-12-29 09:19] anton-potapov commented on #696
@kboyarinov, do I understand correctly that C++11 `std::unique_lock` is by design not usable with `rtm_mutex` ?

[2021-12-30 18:11] e4lam opened #707 ""Task still has children after it has been executed" assertion failure when inside `task_group`"
When running regular child task spawning inside a `task_group` in TBB 2020, it triggers the "Task still has children after it has been executed" assertion failure at [custom_scheduler.h:494](https://github.com/oneapi-src/oneTBB/blob/eca91f16d7490a8abfdee652dadf457ec820cc37/src/tbb/custom_scheduler.h#L494),
[code]

Normally, when all the children are done executing, the parent task's ref count will

[2021-12-31 08:45] Tom-python0121 commented on #677
@isaevil This method is effective for test_eh_thread:
![image](https://user-images.githubusercontent.com/77763324/147813036-753d807e-a464-4033-b46b-69a5487b09dc.png)
ok，Thank you very much for your help，I will close this issuse.

[2021-12-31 08:45] #677 closed

[2021-12-31 15:04] lyh1028 opened #708 "file INSTALL cannot find tbb12.dll"
cmake version 3.21.2
win11  x64

when I try to install tbb （use ‘cmake --install .’）It shows 'CMake Error at src/tbb/cmake_install.cmake:51 (file):
  file INSTALL cannot find
  "D:/ComputerGragh/oneTBB/build/msvc_19.22_cxx_64_md_release/tbb12.dll": No
  such file or directory.
Call Stack (most recent call first):
  cmake_install.cmake:80 (include)'

How can i deal with it.

[2022-01-01 04:24] e4lam opened #709 "Migration Guide is dead link in README.md"
In the README.md, there is a link to the "Migrating from TBB to oneTBB" documentation guide for:
    https://oneapi-src.github.io/oneTBB/tbb_userguide/Migration_Guide.html

However, upon visiting this link, it is missing and gives error 404.

EDIT: Perhaps you meant this instead? https://oneapi-src.github.io/oneTBB/main/tbb_userguide/Migration_Guide.html ... There might be other similar dead links

[2022-01-02 10:29] leleliu008 opened #710 "build for Android failed"
https://github.com/oneapi-src/oneTBB/archive/refs/tags/v2021.5.0.tar.gz

Android-NDK: 23.1.7779620

Build System: CMake

[CMakeLists.txt#L281](https://github.com/oneapi-src/oneTBB/blob/master/CMakeLists.txt#L281)

**`ANDROID_STL` is empty, `${ANDROID_STL}`  should be enclosed in quotation marks.**

![10](https://user-images.githubusercontent.com/3040852/147872888-028adc74-27c9-4afb-bfd9-cfc9467b48

[2022-01-02 20:12] phprus opened #711 "Tests ``test_global_control``, ``test_tbb_fork`` sporadically hangs on Apple Silicon"
Commit: d1667d514df697f05d771602b268e92560c434c4
Release build with LTO.

Compiler:

[code]

Time:
[code]

CPU (full 1 core load):
[code]

Test output:
[code]

lldb:
[code]

[2022-01-03 14:03] phprus commented on #711
``RelWithDebInfo`` + ``CXXFLAGS="-DTBB_USE_ASSERT=1"``

Output:
[code]

Backtraces:
[code]

[2022-01-03 14:03] phprus commented on #711
``Debug``

Output:
[code]

Backtraces:
[code]

[2022-01-03 14:21] phprus opened #712 "Test ``test_collaborative_call_once`` sporadically hangs on CI"
CI error in my fork for upstream commit d1667d514df697f05d771602b268e92560c434c4:

https://github.com/phprus/oneTBB/runs/4691593788?check_suite_focus=true

Build: ubuntu-20.04_g++_cxx17_release_preview=ON

[code]

[2022-01-03 15:22] phprus opened #713 "ld: warning: cannot export hidden symbol typeinfo for tbb::detail::r1::unsafe_wait"
Commit: d1667d514df697f05d771602b268e92560c434c4
macOS 12.1
Xcode 13.2.1

Linker warning:
[code]

Workaround: Export any method from class ``unsafe_wait``.
Workaround example: https://github.com/phprus/oneTBB/commit/053de910944d218dc61e9875f0f2be2f303d7050

But, I'm not sure if this workaround  doesn't break backward compatibility.

[2022-01-04 12:27] dyollb opened #715 "Optional prefix for tbb library"
In large projects with many dependencies it can happen that thirdparties (potentially closed source) link to (ship with) different versions of tbb. On Windows we have modified the VS project of tbb to add a prefix, e.g. `org_tbb.dll`.

Do we even need to worry about this (as long as they are built with the same toolset)?
If yes, it would great if the cmake configuration would allow to specify a pr

[2022-01-07 14:36] phprus commented on #358
@alexey-katranov
Mach semaphore can be replaced with dispatch semaphore (https://developer.apple.com/documentation/dispatch/dispatch_semaphore).

I don't know how it affects to performance, but it will suppress false positive thread sanitizer errors.

[2022-01-07 17:08] phprus opened #717 "Test ``conformance_task_arena``: TSAN warning on Apple Silicon"
Commit: d1667d514df697f05d771602b268e92560c434c4

Output:

[code]

[2022-01-08 09:20] glaubitz opened #718 "Build fails on Linux m68k since the code assumes at least 32-bit alignment"
Building `tbb` on Linux m68k (in this case Debian unstable) fails since the code assumes that the host architecture always has at least 32-bit alignment.

[code]

However, on Linux/m68k, the natural alignment is 16 bits despite the architecture being 32 bits.

Full build log: https://buildd.debian.org/status/fetch.php?pkg=tbb&arch=m68k&ver=2020.3-1&stamp=1641578091&raw=0

[2022-01-08 09:26] glaubitz opened #719 "Build fails on Linux ia64 - error: ‘__TBB_get_bsp’ was not declared in this scope"
Building `tbb` currently fails on Linux ia64 with:

[code]

Full build log available at: https://buildd.debian.org/status/fetch.php?pkg=tbb&arch=ia64&ver=2020.3-1&stamp=1634128342&raw=0

[2022-01-08 16:01] vadi2 opened #720 "Does not compile"
Using clang 11 and the provided instructions -

[code]

That would be using d1667d514df697f05d771602b268e92560c434c4. Strange since CI tests pass.

[2022-01-10 10:08] anton-potapov commented on #718
@glaubitz, the problem you report is against tbb 2020, which is no longer maintained.
The source code has changed significantly during the [revamp](https://www.intel.com/content/dam/develop/external/us/en/documents/tbbrevamp.pdf).

Is [moving to oneTBB](https://oneapi-src.github.io/oneTBB/main/tbb_userguide/Migration_Guide.html) considered ?

[2022-01-10 10:09] anton-potapov commented on #719
@glaubitz, the problem you report is against tbb 2020, which is no longer maintained.
The source code has changed significantly during the [revamp](https://www.intel.com/content/dam/develop/external/us/en/documents/tbbrevamp.pdf).

Is [moving to oneTBB](https://oneapi-src.github.io/oneTBB/main/tbb_userguide/Migration_Guide.html) considered ?

[2022-01-10 10:12] glaubitz commented on #718
Thanks for the insight, I wasn't aware of that. I was reporting tbb 2020 since that's what's currently being used in Debian.

I will ask the maintainer of the Debian package whether he has any plans to upgrade to oneTBB.

[2022-01-10 10:15] anton-potapov commented on #713
@alexey-katranov, @vlserov  FIY

[2022-01-10 10:33] alexey-katranov commented on #720
Do you use Qt? Can it be related to #547?

[2022-01-10 11:17] vadi2 commented on #720
Yes! That's it.

I was able to use tbb from Debian's apt instead - maybe they patch for this. Would be great to have it work out of the box.

[2022-01-10 11:17] #720 closed

[2022-01-10 11:20] vlserov commented on #713
This is odd. `def` files should be used for exporting symbols.
Export rules for `tbb::detail::r1::unsafe_wait` exception are present for MacOS and Linux.
Those rules are missed for Windows and should be added as well.

[2022-01-10 12:40] phprus commented on #713
@alexey-katranov, @vlserov,

Export rules for macOS:
https://github.com/oneapi-src/oneTBB/blob/d1667d514df697f05d771602b268e92560c434c4/src/tbb/def/mac64-tbb.def#L52-L61

Export rules for Linux 64-bit:
https://github.com/oneapi-src/oneTBB/blob/e386c96debbdb2944e404323ee8682c5293f96ff/src/tbb/def/lin64-tbb.def#L50-L59

For all other exception classes
https://github.com/oneapi-src/oneTBB/blob/e386c9

[2022-01-10 12:53] phprus commented on #713
Windows export rules do not contain export rules for ``unsafe_wait``:
https://github.com/oneapi-src/oneTBB/blob/e386c96debbdb2944e404323ee8682c5293f96ff/src/tbb/def/win32-tbb.def#L49-L54
https://github.com/oneapi-src/oneTBB/blob/e386c96debbdb2944e404323ee8682c5293f96ff/src/tbb/def/win64-tbb.def#L49-L54

[2022-01-10 13:41] alexey-katranov commented on #709
@alexandraepan , it seems we broke the links when moving the documentation into `main` subfolder. Can you please investigate what else could be affected?

[2022-01-10 13:56] alexey-katranov commented on #713
It seems related to #566. How does it work on Windows...?

[2022-01-10 14:06] alexey-katranov commented on #715
In general, TBB supports backward compatibility, so if the latest of the used version is loaded at runtime - everything should be fine. However, if third-parties modify their versions the backward compatibility might be broken.

It does not matter which MS VC runtime is used (e.g. vc12 or vc14).

[2022-01-10 14:18] anton-potapov commented on #717
@alexey-katranov  @pavelkumbrasev , I believe the problem is that [``conformance_observer``](https://github.com/oneapi-src/oneTBB/blob/e386c96debbdb2944e404323ee8682c5293f96ff/test/conformance/conformance_task_arena.cpp#L78-L99) does not call ``observe(false)`` in it's destructor (or the test does not call it explicitly). ["ThreadSanitizer – data race detection in practice" ](https://static.google

[2022-01-10 14:23] #709 closed

[2022-01-10 14:26] anton-potapov commented on #711
@alexey-katranov  I believe this is related to #566 , due to this:
[code]

[2022-01-10 14:36] phprus commented on #717
@anton-potapov,
``test_resumable_tasks``, but it is fixes by https://github.com/oneapi-src/oneTBB/pull/698

``test_task_group``:

[code]

In tests ``test_collaborative_call_once`` (https://github.com/oneapi-src/oneTBB/issues/712), ``test_global_control`` (https://github.com/oneapi-src/oneTBB/issues/711) TSAN does not find errors on failure.

[2022-01-10 14:50] phprus commented on #717
Issue https://github.com/oneapi-src/oneTBB/issues/687#issuecomment-1000912697 do not fixed by https://github.com/oneapi-src/oneTBB/pull/698

[2022-01-10 21:21] e4lam commented on #709
Thanks for the fix!

[2022-01-11 03:35] froody opened #723 "Bazel build for MacOS fails"
I needed to apply the following patch to build on MacOS:

[code]

[2022-01-12 09:44] MichaelTutin commented on #689
We have reproduced this problem in Inspector. It seems that it doesn't correctly detects allocator type (new/delete) inside of tbb_debug.dll if it fails to locate symbol file of this module during analysis run (tbb_debug.pdb should be in the same folder as tbb_debug.dll).
Could you please check if it matches your scenario?

Meanwhile I've submitted that issue to Inspector project.

[2022-01-13 09:55] anton-potapov commented on #723
@froody pull requests are welcome!
@Vertexwahn could you please take a look on this ?

[2022-01-13 09:57] anton-potapov commented on #710
@leleliu008 pull requests are welcome!

[2022-01-13 10:02] anton-potapov commented on #317
@Lastique, does https://github.com/oneapi-src/oneTBB/pull/697 helped with the `test_eh_thread` ?

[2022-01-13 10:03] anton-potapov commented on #329
@ThomasP1988 please reopen if problem still exist

[2022-01-13 10:04] #329 closed

[2022-01-13 10:11] anton-potapov commented on #708
@lyh1028 what version do you use ?

[2022-01-13 10:18] Vertexwahn commented on #723
@froody Looks good to me. There is also `bazel_tools//platforms:osx`. I think `_XOPEN_SOURCE` is not needed on Windows platforms.

Can you provide a PR with your suggested changes?

[2022-01-13 12:33] emmenlau opened #730 "Kindly add installation of Windows debugger files (pdb)?"
This is a kind feature request. Thanks for this great library! I've seen that when built on Windows, it generates debugger information. However I think the `*.pdb` files are not installed with `make install`. Therefore it can not be found during debugging, and i.e. it is lost when the build tree is removed.

Would it be possible to add this file to the install target on Windows? I guess something

[2022-01-13 13:02] emmenlau commented on #730
I just wanted to add that its also possible to generate and store `pdb` files for static library builds. However requires that the `COMPILE_PDB_NAME` is set in cmake for the target. So something along those lines would need to be added in addition to the install command from above, too:
[code]
Then the install command should work for the static and the shared case.

PS: I'm assuming here that the

[2022-01-13 16:17] anton-potapov commented on #730
@alexey-katranov , @AlexVeprev do see any possible problems here ? As for me this sound reasonable.

[2022-01-13 16:40] Lastique commented on #317
I built 2021.5.0 with #697 applied a coule times and got these failures:

[code]

Not `test_eh_thread` though, so I suppose it helped.

[2022-01-14 12:24] anton-potapov commented on #730
As official asset files does contain .pdb files, I believe this request is reasonable.

@emmenlau, pull requests are welcome! :)

[2022-01-14 12:27] emmenlau commented on #730
@anton-potapov thanks a lot for the thumbs up! I've created a similar request over at https://github.com/open-mpi/hwloc/issues/512, and there is some more information collected there. But I do not know more details, sorry...

[2022-01-14 16:06] erling-d-andersen commented on #689
Your suggested fix seems to remove the error message.

[2022-01-15 11:13] lyh1028 commented on #708
@anton-potapov  CMake(cmake-gui) version 3.21.2 and visual studio 2019

[2022-01-16 23:16] jdumas opened #733 "Deadlock in tbb::concurrent_vector when resizing + growing."
Hi. We've encountered a scary bug with TBB on the following code snippet:

[code]

The problem is that the `emplace_back()` goes into an infinite loop at this line:
https://github.com/oneapi-src/oneTBB/blob/ec39c5463d5fbfe01150bcd8cbfe60b5e064d693/include/oneapi/tbb/concurrent_vector.h#L575

This happens with both oneTBB 2021.4.0 and 2021.5.0. The problem can be reproduced on godbolt:
https://godb

[2022-01-17 05:38] pavelkumbrasev commented on #733
I can reproduce it. At a first glance, it looks like a bug in a segment table of concurrent_vector.

[2022-01-18 05:00] anton-potapov commented on #708
@lyh1028 [which ](https://github.com/oneapi-src/oneTBB/releases) version of oneTBB is used ?

[2022-01-18 05:01] anton-potapov commented on #696
@kboyarinov ping

[2022-01-18 05:50] lyh1028 commented on #708
@anton-potapov oneTBB 2021.5.0  sorry for misunderstanding.
And I just use 'Example of Installation' in doc. INSTALL.md to install it.

[2022-01-18 08:20] AlexVeprev commented on #708
Hi @lyh1028, looks like you missed [build step](https://github.com/oneapi-src/oneTBB/blob/master/INSTALL.md#build-onetbb).
Normally the flow should be: configure -> build [-> test] -> install. Testing is optional, so you can use -DTBB_TEST=OFF to disable tests.

The example you're referring to is valid for GNU Make, Ninja and other single-configuration generators. For Visual Studio I'd recommend t

[2022-01-19 08:24] mirkootter opened #738 "`task_group::run` sometimes does not execute the given lambda"
For our software, we use tbb, mainly because its composability.

However, we ran into trouble on stress tests: In rare cases, `task_group::run` does not execute the given lambda function, even if all tbb threads are idling.

Reproduce: The following code will block indefinitely after a few iterations (usually about ~10.000 to 200.000, should not take more than a few seconds)

[code]

Note: I guess

[2022-01-19 08:51] pavelkumbrasev commented on #738
It happens because task_group.run() doesn't guarantee that task you summited will be done until you call wait on task_group. For purpose that you describe it is possible to use task_arena::enqueue ([spec link](https://spec.oneapi.io/versions/latest/elements/oneTBB/source/task_scheduler/task_arena/task_arena_cls.html)) that guarantee  task will be execute without explicit waits.
Your example can be

[2022-01-19 14:00] #738 closed

[2022-01-19 15:09] anton-potapov commented on #103
@linyuan0 is this problem still reproducible with oneTBB ?
oneTBB should work for Android build out of the box (it known to work with NDK-r20 for sure)

[2022-01-19 15:31] phprus commented on #717
Commit 70ac2444f58139b43bfd8b515b00b03b2f20923d

Test ``test_resumable_tasks`` - No TSAN errors.

[2022-01-20 07:29] wujiazheng2020 opened #740 "How to lock the queue_node from enqueuing and keep dequeuing until we unlock the node?"
there is a situation that the predecessor node keep "try_put()" to my queue_node at 1000HZ, and the successor of my queue_node keep "try_get()" at 10HZ. However, it is hard to find a API that prevent the predecessor from "try_put()", so when the successor node call the "try_get()", the number of products we give varies from 20 to 1000!
So, does anyone know if there are lock-related API desigened f

[2022-01-20 07:47] wujiazheng2020 commented on #740
or how to get the size of queue_node?

[2022-01-20 09:01] #733 closed

[2022-01-20 09:03] pavelkumbrasev commented on #733
@jdumas Could you please recheck out case with current master? And if it fails, please reopen the issue.

[2022-01-20 14:21] anton-potapov commented on #713
@phprus , the warning is issues during the build of the library or the tests?

[2022-01-20 15:39] phprus commented on #713
@anton-potapov, on build the library ``libtbb.dylib``:

[code]

[2022-01-21 08:09] #641 closed

[2022-01-21 11:56] phprus commented on #717
@anton-potapov, approximately 20%
PR #744 fixes the ``conformance_task_arena`` test.

[2022-01-21 12:22] phprus opened #745 "Test ``test_global_control`` hang on release and failed on debug"
A new bug was discovered after applying PR #739.

Commit: 0ef804884856e791fe7bb173078a92daf3929f76

**Release build with LTO:**
[code]

Output:
[code]

**Debug build:**
[code]

Assert:
https://github.com/oneapi-src/oneTBB/blob/0ef804884856e791fe7bb173078a92daf3929f76/src/tbb/market.h#L171-L174

See:
https://github.com/oneapi-src/oneTBB/pull/739#issuecomment-1016508781
https://github.com/oneapi-src

[2022-01-21 22:26] Vertexwahn commented on #723
@froody I need now also support for MacOS - so I opened a PR

[2022-01-23 09:00] h0tc0d3 opened #747 "Linux Clang 13 Build failed"
[code]
It is not possible to override compilation options by passing `CXXFLAGS="${CXXFLAGS} -Wno-unused-but-set-variable -Wno-deprecated-copy"`.

[2022-01-23 09:13] h0tc0d3 commented on #747
https://github.com/oneapi-src/oneTBB/pull/612

[2022-01-23 09:13] #747 closed

[2022-01-24 09:25] #717 closed

[2022-01-24 10:15] phprus commented on #712
Another hang: https://github.com/oneapi-src/oneTBB/runs/4919469037?check_suite_focus=true

[2022-01-25 09:25] anton-malakhov opened #750 "Is it correct access type in concurrent_hash_map?"
Please pay attention to the lines https://github.com/oneapi-src/oneTBB/blob/master/include/oneapi/tbb/concurrent_hash_map.h#L1147-L1153:
[code]

it uses `/*write=*/true` with `const_accessor`. Copy-paste mistake?

[2022-01-25 13:49] LiyouZhou commented on #745
await self._active_service.get_status() will race with await self._active_service.stop(). Should we use a asyncio.lock() to protect it?

[2022-01-26 00:35] ShawnZhong commented on #378
It's not hard to write your own `zero_alocator`. For example,
[code]

[2022-01-26 09:32] AlexVeprev commented on #325
It's still WIP

[2022-01-26 12:21] #711 closed

[2022-01-26 17:24] sbonfert commented on #317
`test_eh_thread` seems to fail, if more than 1024 threads are already running when the test is started, since the outermost thread cannot be created. Maybe the thread limit should be chosen dynamically.

[2022-01-27 07:48] #723 closed

[2022-01-27 09:57] anton-potapov commented on #346
@Dr15Jones, [`task_group::defer`](https://spec.oneapi.io/versions/latest/elements/oneTBB/source/task_scheduler/task_group/task_group_cls.html) is the solution to this problem.  `QueuedTask` should create a deferred task ([`task_handle`](https://oneapi-src.github.io/oneTBB/main/reference/task_group_extensions/task_handle.html)) via call to `task_group::defer`, thus blocking the `task_group::wait` u

[2022-01-27 17:23] phprus commented on #745
Commit: cd6a5f9f4a5bae9fc157fa03093c17b9f861c9f2
The behavior doesn't change.