[2022-01-27 17:41] phprus opened #756 "Test ``test_arena_constraints`` sporadically hangs on Apple Silicon"
Commit: cd6a5f9f4a5bae9fc157fa03093c17b9f861c9f2

Compiler:
[code]

Debug build.

Test output:
[code]

lldb:
[code]

[2022-01-27 17:58] alexey-katranov commented on #745
Yes, it seems another issue. The observed assert is about relation between `market` and `arena` while #739 fixes an issue in `private_server` (thread pool).

[2022-01-28 07:18] alexey-katranov commented on #756
It seems we have two issues:
1. Broken serialization of worker thread requests (more threads than system concurrency are created)
2. Broken barrier lifetime (some threads from previous epochs are still waiting)

[2022-01-28 07:40] phprus commented on #756
M1 Max has 10 cores (2 efficient and 8 performance cores)
The test creates 10 threads.

[2022-01-28 07:57] alexey-katranov commented on #756
Thank you for the info, I was thinking about 8 cores, so the assumption above is not correct.

[2022-01-28 16:12] anton-potapov commented on #205
@Nyoh, feel free to re-open (or open new issues/feature requests) if the existing statistic is not enough

[2022-01-28 16:12] #205 closed

[2022-01-30 18:16] rajendrasp opened #757 "Where can I get binaries for old version of TBB?"
Hi
I want to compile old program which is dependent on version 4.2. Where can I download it?
Thanks

[2022-01-31 06:35] alexey-katranov commented on #757
The oldest available version is 4.4. Basically, all TBB versions up to 2020.3 are fully source compatible. oneTBB 2021.1 (and later) are mostly source compatible with all previous versions. So, if your application worked with 4.2 or can try any available version. Or do you need exactly 4.2 for some reason?

As for binary compatibility, TBB 2020.3 and older are fully compatible with 4.2, i.e. any a

[2022-01-31 15:30] kboyarinov commented on #750
Thank you for detecting the issue! #759 contains the fix for this.

[2022-01-31 19:59] rajendrasp commented on #757
I used latest one and fixed some issues in the code and it is working now. Thanks. It was mostly related to deprecated tbb/task_scheduler_init.h

[2022-01-31 19:59] #757 closed

[2022-02-01 09:38] anton-potapov commented on #689
@erling-d-andersen can we close this ?

[2022-02-01 09:43] anton-potapov commented on #718
FIY: Debian [request](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=987689) to track migration to oneTBB

[2022-02-01 11:22] erling-d-andersen commented on #689
Yes.

I see

ID		Type	Sources	Modules	Object Size	State
		Memory leak	allocator.cpp:190	tbb12_debug.dll	96864	Not fixed

Is that something you want to take a look at?

[2022-02-02 06:03] alexey-katranov commented on #689
As for memory leak, I suspect that it is related to process shutdown that the OS kills oneTBB worker threads and they are unable to deallocate internal structures. Overall, it is not an issue because the OS cleans up everything automatically. So, if the memory consumption is not growing during execution time, the report about the leak can be ignored (it is difficult to teach the tool to differenti

[2022-02-02 06:36] anton-potapov commented on #103
@linyuan0 please reopen if the problem still exists

[2022-02-02 06:36] #103 closed

[2022-02-02 08:59] anton-potapov commented on #707
@e4lam , see below :
Short answer is to use explicit `task_group_context` for root task allocated inside `doIt()`.

Details :
1. each `task` has an associated `task_group_context`
2. this context can be explicitly specified during root task [allocation ](https://github.com/oneapi-src/oneTBB/blob/eca91f16d7490a8abfdee652dadf457ec820cc37/include/tbb/task.h#L669)
3. by default context of the current

[2022-02-02 19:11] e4lam commented on #707
@anton-potapov Thank you for the details! This is much more than I was able to figure out myself. A few questions though:

- What do we lose by turning off `concurrent_wait`? I'd presume that this is turned on for `task_group`'s for a reason? All I could find in the docs was that it "... controls the reference-counting behavior of methods task::wait_for_all and task::spawn_and_wait_for_all" but th

[2022-02-03 14:05] erling-d-andersen commented on #689
I will open a new issue if I conclude it is leaking.

[2022-02-03 14:05] #689 closed

[2022-02-03 15:23] kboyarinov commented on #696
Hi, @Enjoysnow,

As @anton-potapov mentioned, `rtm_mutex` is not usable with `std::unique_lock` by design because of absence of `lock/unlock` methods. Speculation logic in `rtm_mutex` is implemented inside of `rtm_mutex::scoped_lock` class, so it cannot be locked in other way.
This class can also be used for RAII-locking of `speculative_mutex` as it is done with `std::unique_lock`.

[2022-02-04 07:51] SungJJinKang opened #766 "read violation in tbbmalloc_debug!rml::internal::dereference+0x10"
Hello,
I'm working on msvc, windows, x64.
I got this erorr "read violation" at this point
[code]

This is call stack..

[code]

[2022-02-04 07:58] #710 closed

[2022-02-04 11:56] alexey-katranov commented on #766
It is expected behavior for `tbbmalloc_proxy_debug` when checking if the pointer is valid. Does it cause abnormal program termination or is it tool report?

[2022-02-04 12:44] SungJJinKang commented on #766
@alexey-katranov It's tool ( visual studio ) report. Then Isn't this problem?

[2022-02-04 22:06] detrout commented on #370
Hi,

We at Debian tried building 2021.05.0 and are experiencing this error on the i386 architecture.

[code]

Our full build log is available here:
https://buildd.debian.org/status/fetch.php?pkg=onetbb&arch=i386&ver=2021.5.0-1&stamp=1643933756&raw=0

We were using gcc 11.2.0 with cmake 3.22.1 targeting the ninja system.

[2022-02-07 08:13] vlserov commented on #740
If I understand correctly, you would like to limit number of messages what can walk through your `queue_node`.
Try to use `limiter_node` before your `queue_node` ([userguide](https://oneapi-src.github.io/oneTBB/main/tbb_userguide/use_limiter_node.html)), predecessor node communicates with `limiter_node` and successor node should allows `limiter_node` to accept new messages by directly calling `lim

[2022-02-07 08:28] isaevil commented on #370
@detrout, this error was fixed by https://github.com/oneapi-src/oneTBB/pull/609 but it didn't come to 2021.5. Please expect this fix in one of future releases.

[2022-02-07 13:45] #750 closed

[2022-02-07 17:40] detrout commented on #370
Thank you for the link to the patch! and the information that it hasn't been released yet.

[2022-02-07 23:58] tibi-extera opened #768 "inteltbb.devel.win.targets file path issues"
I am using the `intelmkl.static.win-x64` package witch depends on `inteltbb.devel.win`. When building my project I got an error that `tbb12_debug.dll` or `tbb12.dll` were not found when compiling Debug and Release respectively.

I tracked the problem to the `inteltbb.devel.win.targets` file. In it, there are item group definitions for the different build options and one for the compiler. All have

[2022-02-08 05:34] anton-potapov commented on #768
@tibi-extera which version of oneTBB do you use ?
@AlexVeprev could you please take a look ?

[2022-02-08 05:50] tibi-extera commented on #768
![image](https://user-images.githubusercontent.com/62777985/152926390-c11d6999-b76d-4fed-8832-4386afe3cdd5.png)

[2022-02-08 08:05] AlexVeprev commented on #768
Hi @tibi-extera,
The issue looks like duplicate of #606. It was fixed, but not released with 2021.5 (see comments in #606)

[2022-02-09 01:04] tibi-extera commented on #768
Hi @AlexVeprev,

You are right they are the same issue. In addition #606 mentions the missing lib, which I forgot to mention.
Do you have a release date when the fix will be available?

[2022-02-09 10:35] AlexVeprev commented on #768
@tibi-extera, unfortunately I don't. oneTBB has RC for future version available on GitHub, but final release depends on other oneAPI components. Let's keep this issue open until release with the fix is available.

[2022-02-10 13:49] pranasge opened #773 "task_arenas numa constraints leads to partial cpu usage"
I cannot seem to get `task_arenas` that are binded to numa nodes to use all cpus resources.
Simple test that alloc memory and then reads it uses all cpus when unbinded and only about 80% of all cpus when binded.
[code]
In my tests that allocate memory on same numa nodes that process that memory `numa.h` binding showed performance improvements, but it seems that idle CPUs removes all performance ga

[2022-02-11 04:45] lyh1028 commented on #708
forgot to say thanks~ the problem has been solved

[2022-02-11 04:45] #708 closed

[2022-02-14 01:44] cdluminate opened #776 "add generic arch as fallback to avoid "undefined __TBB_machine_fetchadd4""
https://buildd.debian.org/status/fetch.php?pkg=onetbb&arch=s390x&ver=2021.5.0-4&stamp=1644791435&raw=0

[code]

This is because the `s390x` architecture  is not detected by the block of `ITT_ARCH*` macros. In the header file there is already a fallback implementation of `__TBB_machine_fetchadd4`. So the following patch is straightforward enough to avoid that issue.

[code]

If this looks good to y

[2022-02-14 05:56] cdluminate opened #777 "ittnotify_config.h: gcc support for ia64 architecture"
When compiling with gcc on ia64 architecture, the `__TBB_machine_fetchadd4` will be left undefined.
https://github.com/oneapi-src/oneTBB/blob/master/src/tbb/tools_api/ittnotify_config.h#L327-L331

Why not replace the `TODO` comment with the fallback implementation?
[code]

[2022-02-14 09:18] alexey-katranov commented on #777
Perhaps, it makes sense (especially, if someone is interested in ia64)

Notify: @ekovanova

[2022-02-14 09:18] alexey-katranov commented on #776
@ekovanova, can you please look at the patch?

[2022-02-14 13:44] cdluminate commented on #776
BTW, I have added this patch to the `2021.05-5` version of debian package. It fixes the build failure for at least s390x, hppa (pa-risc), etc.
https://buildd.debian.org/status/package.php?p=onetbb&suite=experimental

[2022-02-15 11:14] smbzhang commented on #334
How to solve this problem ？

[2022-02-15 13:13] alexey-katranov commented on #334
@sileht do you still observe the issue? @smbzhang, do you have something similar?

[2022-02-15 14:18] ekovanova commented on #776
@cdluminate I would like to have explicitly described s390x target architecture
at my opinion it should be something like:

[code]

[code]

[2022-02-15 14:52] cdluminate commented on #776
@ekovanova Thanks. Then I'm going to submit a patch with more macros than merely s390x.

[2022-02-16 06:26] smbzhang commented on #334
@alexey-katranov yes but I have no idea to debug. and this bug does not reproduce stably

tbb version: 2019_U9

[code]

[2022-02-16 07:40] alexey-katranov commented on #334
Do you have a possibility to use the latest oneTBB version or share the failing example?

[2022-02-16 10:11] smbzhang commented on #334
failing example, am i right ?
[code]

[2022-02-16 13:20] alexey-katranov commented on #334
@smbzhang, can you please try [the latest version](https://github.com/oneapi-src/oneTBB/releases) of oneTBB to check if the issue still exist (a couple of race conditions were already fixed in thread shutdown logic)? Note that you need to replace `tbb::task::self().cancel_group_execution();` with `tbb::current_context()->cancel_group_execution();` to compile with oneTBB.

[2022-02-16 16:37] phprus commented on #756
Any news?

[2022-02-16 16:37] phprus commented on #745
Any news?

[2022-02-16 16:53] alexey-katranov commented on #756
It seems the testing approach is broken on ARM, any test using `utils::SpinBarrier` might hang without real issue. We are thinking about better approach for testing.

[2022-02-16 17:07] phprus commented on #745
Is this a bug in the tests, not in oneTBB library?
This is good news for me!

[2022-02-16 20:58] alexey-katranov commented on #745
Currently, it is difficult to say that observed anomalies are fully unrelated to oneTBB library. The deadlocks are mostly related to the testing approach but the assertion seems to be different nature.

[2022-02-17 09:43] isaevil commented on #773
Could you please provide more information about your system configuration? I also wonder what system monitoring tools did you use to see CPU usage for your app?

[2022-02-18 00:45] jdumas commented on #297
For some reason, linking OneTBB statically in Release mode doesn't work with GCC 9.3.1 on CentOS 7. It works in Debug mode, but fails in Release with the following message:
[code]

This is tested on a simple project:
[code]

Strangely enough, the problem doesn't appear with GCC 10.2.1 on CentOS 7.

[2022-02-18 06:18] alexey-katranov commented on #297
There are multiple messages like `plugin needed to handle lto object`, have you tried to disable `lto` (`TBB_ENABLE_IPO=OFF`)?

[2022-02-18 10:19] pranasge commented on #773
I expected that there is something wrong with my code or tbb constrains. As I could bind nodes with `numa.h` and get expected performance. What info could help in this case?
[code]
[code]
At first i timed read part of the execution. That showed no improvement in execution time versus unbinded. And `htop` showed that this tests during graph execution uses ~4000% cpu while test where `numa_arenas.em

[2022-02-18 11:27] vlserov commented on #773
The problem is how test shares work between numa nodes.
Basically, you have default `task_arena`, which contains all cpus in all  numa nodes and it's used by `flow graph`, and `arenas`, which have been created for all numa nodes.
`tbb::task_arena::execute` is a synchronous call.  So there are 2 cases, which may happen here:
1. if `tbb::flow::function_node` function is executed by the cpu attached

[2022-02-20 02:07] rob-p opened #779 "Undefined references to nearly all TBB symbols when built with `-fvisibility=hidden`"
Hi,

  First, thank you for your work on the excellent TBB library.  We've been using it in some of the software in our lab for a number of years and it's a great resource.  Specifically, we use TBB extensively in our tool [salmon](https://github.com/COMBINE-lab/salmon) and we also use it in our tool [pufferfish](https://github.com/COMBINE-lab/pufferfish).

  Recently, I have been trying to rid ou

[2022-02-20 16:08] FooBarWidget commented on #779
This is because Holy Build Box sets `CFLAGS/CXXFLAGS` to `-g -O2 -fvisibility=hidden -I/hbb_shlib/include` by default. Proper usage of `-fvisibility=hidden` requires help from the library in question: it has to [explicitly mark exportable symbols](https://gcc.gnu.org/wiki/Visibility) as such (with `__attribute__((visibility ("default"))`). It appears OneTBB doesn't do that.

Removing `-fvisbility=

[2022-02-20 18:44] rob-p commented on #779
Thanks for the quick response, @FooBarWidget! What is the recommended way to remove this flag in the HBB environment used for building?

[2022-02-20 18:58] FooBarWidget commented on #779
Override CFLAGS/CXXFLAGS. They're just environment variables.

[2022-02-21 08:34] alexey-katranov commented on #745
@phprus , can you please check that test does not fail in debug?

Reopening the issue because it is not fixed in release yet

[2022-02-21 13:11] pranasge commented on #773
Thanks, this explains everything.
If execute blocks cpu and enqueue does not wait for results I will need async node to get execution on expected node without blocking. Yes? Or i am missing something.

[2022-02-21 13:12] phprus commented on #745
@alexey-katranov

Debug build works fine:
[code]

Release build - hangs.

[2022-02-21 13:40] alexey-katranov commented on #745
Thank you for the confirmation. As for release, we have some experiments in [dev/alexey-katranov/exp-seq-cst](https://github.com/oneapi-src/oneTBB/tree/dev/alexey-katranov/exp-seq-cst) but it is not clear if we go with such approach because it might affect performance.

[2022-02-21 14:07] phprus commented on #745
@alexey-katranov

Commit: 29fb19bf041ebdc4a0ec842700c000ba913dff96 (https://github.com/oneapi-src/oneTBB/tree/dev/alexey-katranov/exp-seq-cst)

``test_global_control`` and ``test_arena_constraints`` (https://github.com/oneapi-src/oneTBB/issues/756) works without hangs.

[2022-02-21 14:17] phprus commented on #745
I limited the total run times to 15 minutes...

[2022-02-21 14:27] cdluminate commented on #777
I tried to build tbb on IA64 with that fallback implementation, and the tests ended up with a large number of segmentation faults.

[2022-02-21 14:30] cdluminate opened #783 "test_collaborative_call_once failure on armhf/armel"
version: 2021.5.0
https://buildd.debian.org/status/package.php?p=onetbb&suite=experimental
for armel https://buildd.debian.org/status/fetch.php?pkg=onetbb&arch=armel&ver=2021.5.0-6&stamp=1645045082&raw=0
for armhf https://buildd.debian.org/status/fetch.php?pkg=onetbb&arch=armhf&ver=2021.5.0-6&stamp=1645037682&raw=0

[code]

[2022-02-21 19:45] alexey-katranov commented on #779
oneTBB relies on .def files to export only required systems. It seems they are not used under your build environment. To avoid all symbols exporting, either .def files should be used or [include/oneapi/tbb/detail/_export.h](https://github.com/oneapi-src/oneTBB/blob/master/include/oneapi/tbb/detail/_export.h) should be extended to specify the required visibility for symbols.

[2022-02-21 20:10] ekovanova commented on #777
@cdluminate does the aforementioned segfaults relate to __sync_fetch_and_add?

[2022-02-21 21:29] cdluminate commented on #777
@ekovanova Yes. Lots of segmentation faults after adding
[code]

Please find the buildlog here https://buildd.debian.org/status/fetch.php?pkg=onetbb&arch=ia64&ver=2021.5.0-6&stamp=1644945917&raw=0

[2022-02-22 07:26] alexey-katranov commented on #777
The build log does not show if it is really related to ITT. oneTBB is neither officially nor community supported on ia64. I would not expect that someone tried to run oneTBB on ia64 previously, so many others issue might present.

Try to build without ITT to check if it relates to ITT (disable the branch in [src/tbb/CMakeLists.txt#L61-L66](https://github.com/oneapi-src/oneTBB/blob/master/src/tbb/C

[2022-02-22 08:14] vlserov commented on #773
Do you really need to use `flow graph`? If you need only to synchronize tasks execution, it's better to use `task_groups` instead.
Since selection numa nodes is not related to with execution thread, all tasks can be separated in main thread into corresponding numa nodes. `task_groups::wait` will guaranty wait execution all spawned tasks into corresponding arena.
[code]

And just for the note: `std

[2022-02-22 08:33] anton-potapov commented on #779
@FooBarWidget , @rob-p  I was able to reproduce the link errors with `-fvisibility=hidden` flag applied.

@alexey-katranov it seems that `.def` files are not enough, as they only pass in already exported symbols, but  does not make them exported

[2022-02-22 10:26] pranasge commented on #773
This test is more to show problem i am having. I have bigger flow graph that executes my logic and I am trying to extend it with numa constrains. There is node that allocates memory and later other node performs operation on that memory.

Will using task_group::wait(); block current worker thread?

I am thinking of
[code]

[2022-02-22 13:20] FooBarWidget commented on #779
Export.h should define _EXPORT as __attribute__((visibility("default"))) on Unix, instead of as nothing.

[2022-02-22 14:15] ycollet opened #788 "Add a section in INSTALL.md to detail how to produce a released package"
I was trying to reproduce the package you ship on github and was not able to do so.
Can you add some notes in INSTALL.md to explain how to do this ?
For example, it doesn't seems to exist a rule to produce the env directory.
On Windows, the dll are stored in the bin and not in the redist directory.

[2022-02-22 14:17] alexey-katranov commented on #779
Yes, #786 tries to addresses the issue.

[2022-02-22 14:26] AlexVeprev commented on #788
Hi @ycollet, packages from [Releases](https://github.com/oneapi-src/oneTBB/releases) page are built using internal scripts, so they can't be easily recreated from public source code. Could you please clarify the use case where you need this?

[2022-02-23 13:43] pranasge commented on #773
It seems that my example fails as `execute` still blocks worker and `enqueue` does not happen before I ask to `wait`.
So `async_node` seems like only option.

[2022-02-24 09:41] anton-potapov commented on #777
@cdluminate how critical support of IA64 for a debian releases? Is it must have or optional?

[2022-02-24 13:56] #783 closed

[2022-02-24 15:46] vlserov commented on #773
`task_group` creation and `task_group::wait` call should be made outside of `function_node`. `task_group::run` just inserts task to proper arena for future execution, so is shouldn't violate performance.
[code]

Could you provide more details about your task? Are allocated buffers shared between numa nodes? If buffers are processed independently by numa nodes, may be creating identical `flow graph

[2022-02-24 15:58] cdluminate commented on #777
@anton-potapov IA64 is not Debian's release architecture. It's just optional. I was just trying to let it build on as more architectures as possible.

[2022-02-25 08:57] pranasge commented on #773
Yes, `task_group::run` does not, but `task_arena::execute` does and as you said it will block my worker in case cpu numa missmatch. So even if `function_node` is quick if no needed numa cpus are available worker will block for long time.

I read my tasks directly to `flow graph` and need fifo ordering between them so havig multiple `flow graph`s would not work.

No, but tasks but task can touch on

[2022-02-25 12:24] anton-potapov commented on #346
@Dr15Jones , @makortel do you need more help  with this issue ?

[2022-02-28 08:16] vlserov commented on #773
There is no problem with using `async_node`, I've just wanted to let you know about other options. If `async_node` suits you better, It's ok for using it.

[2022-02-28 08:25] #773 closed

[2022-02-28 15:56] Sedeniono commented on #665
@ChrisGuzak Am I interpreting your post correctly that the shell32.dll team at Microsoft is now aware of the issue? Otherwise, what does your link point to?

[2022-02-28 17:28] DougRogers opened #793 "Do not use 'emit' as a function name"
Qt uses _emit_ as a keyword and conflicts.

In profiling.h for the event struct, please use another name.

[2022-02-28 21:59] DougRogers opened #794 "concurrent_unordered_base::contains is not thread safe"
[code]
An interruption between _find_ and _end_ that alters the list may crash since _end_ may have changed.

[2022-02-28 23:09] kallisti5 opened #795 "Remove usage of depreciated POSIX ucontext"
ucontext was outdated by POSIX issue 7.  It's used in ```src/tbb/arena.cpp``` via ```src/tbb/co_context.h```

Pure POSIX platforms don't have ucontext.h available.  As the source code notes, Mac OS X is already issuing depreciation warnings about its use.

Overall, oneTBB needs converted over to standard pthreads on Linux/unix platforms

[2022-03-01 02:21] TautvydasZilys opened #797 "Incorrect usage of DllMain leads to a crash"
On Windows, oneTBB tries to load `tbbmalloc.dll` with `LoadLIbraryA` from within DLL_PROCESS_ATTACH, which is documented as a big no-no by Microsoft: https://docs.microsoft.com/en-us/windows/win32/dlls/dynamic-link-library-best-practices

We noticed that this causes crashes on machines with certain versions of VC++ runtime installed. Since this is undefined behaviour, this happens to work in most

[2022-03-01 08:23] anton-potapov commented on #793
closing this as duplicate to https://github.com/oneapi-src/oneTBB/issues/547

[2022-03-01 08:23] #793 closed

[2022-03-01 08:48] anton-potapov commented on #794
[`iterator`](https://github.com/oneapi-src/oneTBB/blob/09346731f1279feb23c81f569eabe6010c620872/include/oneapi/tbb/detail/_concurrent_unordered_base.h#L55-L113) of concurrent unordered associative containers (in  `concurrent_unordered_base`) is implemented as wrapper over [pointer to internal node](https://github.com/oneapi-src/oneTBB/blob/09346731f1279feb23c81f569eabe6010c620872/include/oneapi/tb

[2022-03-01 09:42] anton-potapov commented on #797
@TautvydasZilys that is the versions of VC++ runtime the problem is experienced on ?

[2022-03-01 16:40] #794 closed

[2022-03-01 17:23] TautvydasZilys commented on #797
It starts crashing when we install VC++ runtime version 12.0.40660.0 on our windows 7 machines. It apparently doesn't come through Windows Update and can only be installed manually: https://support.microsoft.com/en-us/topic/update-for-visual-c-2013-and-visual-c-redistributable-package-5b2ac5ab-4139-8acc-08e2-9578ec9b2cf1

[2022-03-02 08:18] anton-potapov commented on #391
(Unofficial) Link that works (at least for now) http://wwweic.eri.u-tokyo.ac.jp/computer/manual/eic2015/doc/intel/en_US/tbb/tbb_ugref/index.htm#reference/task_scheduler.htm

[2022-03-04 06:19] anton-potapov commented on #546
@alexey-katranov, does it make sense to make PR with these changes ?

[2022-03-04 06:21] alexey-katranov commented on #546
It seems yes.

[2022-03-04 12:42] rodyflee commented on #665
@ChrisGuzak Is this article meant to be access by non MS people? Or can we get access to it?

[2022-03-05 08:43] phprus commented on #686
Maybe close the issue, since the error is not reproduced on gcc-8 and newer?

[2022-03-05 23:48] anton-potapov commented on #155
@arkjedrz  I'm closing this as the information provided is not enough to reproduce and investigate the issue (if any), feel free to reopen if more information available

[2022-03-05 23:48] #155 closed

[2022-03-07 13:10] ywy2090 opened #801 "oneTBB 2021.5.0: parallel_for empty tbb::concurrent_unordered_map lead to 100%cpu usage"
[code]

when _count != 0, it will work well.
when _count == 0, the function will not return and cpu with 100% usage

<img width="724" alt="image" src="https://user-images.githubusercontent.com/13342660/157040534-f535f35f-8035-4d4b-b9a7-ec59aff61051.png">

Anyone can help ??

[2022-03-07 13:21] #801 closed

[2022-03-08 14:27] ywy2090 opened #802 "undefined reference to tbb::detail::r1::xxxxx"
with the usage:
[code]

lead to

[code]

In mac OS , it works well, but centos 7.2(gcc 7.2) and ubuntu(clang 6) it lead to the errors .
Any one can help??

[2022-03-09 08:47] anton-potapov commented on #802
@ywy2090 oonetbb is known to work on these platforms. Looks like it is environment issue. Can you provide a full build string of onetbb?

[2022-03-09 10:56] ilyapopov commented on #802
To build oneTBB statically, I also needed this:

    add_compile_definitions(__TBB_DYNAMIC_LOAD_ENABLED=0)

See also #297

[2022-03-09 16:32] alexey-katranov commented on #802
It seems you need to disable lto (`-DTBB_ENABLE_IPO=OFF`).

[2022-03-10 01:40] ywy2090 commented on #802
ok ,thanks
I upgrade to v2021.6.0-rc1, and compile with -DTBB_ENABLE_IPO=OFF, then it works well.  thanks again!

[2022-03-10 01:41] #802 closed

[2022-03-11 11:18] Timmmm commented on #146
No idea, sorry. I don't work on our TBB-using code anymore.

[2022-03-11 12:08] anton-potapov commented on #678
clang-tidy might [help ](https://clang.llvm.org/extra/clang-tidy/checks/performance-noexcept-move-constructor.html) to find move constructors and assign operators

[2022-03-11 12:10] anton-potapov commented on #678
@isaevil , FYI

[2022-03-11 12:34] anton-potapov commented on #216
@dr-pain, as I see from https://github.com/oneapi-src/oneTBB/blob/master/integration/windows/env/vars.bat and https://github.com/oneapi-src/oneTBB/blob/master/integration/windows/env/vars.bat.in quotes are in place.

Could please confirm that problem is not reproducible with oneTBB?

[2022-03-11 13:58] anton-potapov commented on #718
closing as Debian bookworm seems [migrated](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=987689) to oneTBB

[2022-03-11 13:58] #718 closed

[2022-03-11 13:59] anton-potapov commented on #719
closing as Debian bookworm seems [migrated](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=987689) to oneTBB

[2022-03-11 13:59] #719 closed

[2022-03-14 07:49] #146 closed

[2022-03-15 14:09] anton-potapov commented on #776
@cdluminate feel free to submit the PR to this repository :)

[2022-03-15 15:39] anton-potapov opened #804 "test_mutex (Transaction test, Speculative Spin Mutex) fails under gcc 11"
compiled with gcc 11 ( ```make ~/git/onetbb/ -G Ninja  -DCMAKE_CXX_COMPILER=g++-11 -DCMAKE_C_COMPILER=gcc-11``` ),  test gives this:

[code]

[2022-03-17 17:40] jnjaeschke opened #806 "Apple silicon release package"
Currently I cannot find the Apple Silicon version of TBB anywhere from where I can download them "scripted". I can download it via brew and also via conda, but not directly from the github releases page (as for osx-64, windows and linux).

For our custom build and dependency system it would be very helpful to have the apple silicon package also as a tgz file which can be downloaded so we can build

[2022-03-18 11:56] FloopCZ opened #807 "Return value of bounded concurrent queue pop()"
Hi everyone,

the [OneAPI spec](https://github.com/oneapi-src/oneAPI-spec/blob/9174607fce771d5f232d403e688a5bebe7838256/source/elements/oneTBB/source/containers/concurrent_bounded_queue_cls.rst) claims that concurrent bounded queue `pop()` function returns `void`:
[code]

However, the implementation returns a `bool`:
https://github.com/oneapi-src/oneTBB/blob/05023723ff17dc436668a989a5f2c1873e994e7

[2022-03-18 16:11] alexey-katranov commented on #807
It is always [returns `true`](https://github.com/oneapi-src/oneTBB/blob/05023723ff17dc436668a989a5f2c1873e994e72/include/oneapi/tbb/concurrent_queue.h#L511). It seems like misalignment with specification. However, changing the return value to `void` might break the existing code.

[2022-03-18 18:19] FloopCZ commented on #807
ok, thank you for the info
Maybe it could be changed in the next major version or mentioned in the docs, what do you think?

[2022-03-19 06:22] alexey-katranov commented on #807
Yes, it makes sense to mention somewhere, e.g. in release notes. I will follow up with the team.

The next major version is also an option but there is no any plans about the next major version.

[2022-03-21 09:28] alexey-katranov commented on #807
During team discussion, we agreed that it is a bug that can be fixed without waiting for the major version.

[2022-03-22 12:53] e4lam opened #813 "Lightweight way of spawning task and waiting for it"
Prior to oneTBB, it was quite easy to spawn a task, do some work, and then wait for it at some future point in time. With oneTBB, the only way to do this seems to be via a `tbb::task_group`. However, on Windows, even on a release build, `sizeof(tbb::task_group)` is 264 bytes which is comparatively large overhead, especially if I have to keep many of these around.

[2022-03-22 20:35] Veronizlada opened #814 "How to link TBB dll to my library"
Hello everyone,

I have built tbb in both debug and release mode, I generated msvc_19.31_cxx_64_md_debug and msvc_19.31_cxx_64_md_release, as well as x64 folder. I also put ***\oneTBB\include as an additional include library in VS. Now I have to set up the dll. The way I do it when I own the library is I add a post build action in premake, which copies my dll in the other exe/dll. Now I am not the

[2022-03-23 09:25] anton-potapov commented on #814
@Veronizlada It seems that you need to add path to the built library  (tbb12.lib) to linker options (library path)

@Veronizlada BTW why do you need to build the library from sources?

[2022-03-23 09:30] anton-potapov commented on #813
@e4lam I believe in general this is the only way. To advise more specific solution some input is required. A code sample  would be ideal :)
Some helper questions are:
 - are tasks being spawn independent ?
 - are the task lifetimes intersect ?

[2022-03-23 14:57] e4lam commented on #813
@anton-potapov Yes, the tasks are all independently spawned and have no dependencies (lifetime or otherwise) between them. It really is the equivalent of a `std::future` except I want to use the TBB thread pool.

IMHO, the removal of the low-level task API is a mistake as while one can still do the same operations in the higher-level API, it's not equivalent because they're incurring much higher o

[2022-03-23 20:02] Veronizlada commented on #814
@anton-potapov fixed it! But I don't know how to do it in premake.
@anton-potapov I don't know the difference between source and other options.

[2022-03-28 12:24] anton-potapov commented on #797
Here is the short analysis of the problem:
- `global_control` related C++ [static objects](https://github.com/oneapi-src/oneTBB/blob/3e352b48127b3c79d61df5618607d2daab3f2caa/src/tbb/global_control.cpp#L149-L153) are being initialized.
- These objects have a `std::set` as a [member](https://github.com/oneapi-src/oneTBB/blob/3e352b48127b3c79d61df5618607d2daab3f2caa/src/tbb/global_control.cpp#L45).
-

[2022-03-30 13:08] Tim1797 opened #817 "Installation"
I'm really struggling with the installation. I executed the installation example for single-configuration generators, but I can not figure out how the setting of the environment variables works. In the installation I did not provide a prefix so my installation directory should be `/usr/local` and in this directory are the header files (in`/usr/local/include/oneapi/tbb`), but I can not find the men

[2022-03-30 19:24] alexey-katranov commented on #817
If the package is installed inside system directories, you do not need any additional scripts. The system paths should be searched by the tools (compiler, linker, etc.).

[2022-03-31 06:26] Tim1797 commented on #817
Thank you!

[2022-03-31 06:26] #817 closed

[2022-03-31 08:29] omalyshe commented on #806
@jnjaeschke Thanks for waiting. The request is being discussed internally. We will notify you about the decison.

[2022-04-03 14:53] Veronizlada opened #818 "Casting a TBB Node (Source Node or Function Node)"
Hello, suppose I have a base class called Animal and child class of Animal called Cat:

class Animal
{
public:
    Animal() = default;
    virtual ~Animal() = default;
};

class Cat : public Animal
{
public:
    Cat() = default;
};

template<typename T>
using node = tbb::flow::input_node<T>

**(How?) Can I do something like please?**

std::shared_ptr< node < Animal > > pAnimal= std::make_shared< n

[2022-04-04 07:51] higaski commented on #370
Still happening on my system with 9d2a3477ce276d437bf34b1582781e5b11f9b37a and x86_64

[code]

[2022-04-04 09:33] isaevil commented on #370
@higaski could you please share some info about your environment (like build cmd)? I have tried to build with MinGW GCC 11.2.1 on Fedora 35 and there were no issues.

[2022-04-04 10:30] vlserov commented on #818
You can use `tbb::flow::graph_node`. It's base class for all flow graph nodes.

[code]

[2022-04-04 11:03] higaski commented on #370
I've added oneTBB to my project using CMake's [FetchContent](https://cmake.org/cmake/help/latest/module/FetchContent.html) module. I haven't changed any options at all. I'm also not passing anything to CMake besides my toolchain file which points to the MinGW C and C++ compiler executables.

MinGW GCC version installed is 11.2.0 from ARCH AUR.

[2022-04-04 12:01] isaevil commented on #370
@higaski absence of -mwaitpkg option is the reason of compile error. There is a check in [GNU.cmake](https://github.com/oneapi-src/oneTBB/blob/master/cmake/compilers/GNU.cmake):
[code]
And it was expected that if gcc >= 11 the option would be inserted for x86 systems. What does `message(${CMAKE_SYSTEM_PROCESSOR})` say on yours?

[2022-04-04 13:23] higaski commented on #370
Yeah I got that, but I thought my processor would surely fall into any of the "AMD64" categories...

... which apparently it doesn't. `CMAKE_SYSTEM_PROCESSOR` is empty on my system.

[2022-04-04 23:56] Veronizlada commented on #818
Thanks a lot @Vladimir Serov. I think this solves the problem and answers my question. Please don't worry about my next question, but if anyone has time, would be very greatful if you can check:

On a different subject, how does std::dynamic_pointer_cast work, is it fast to use? Does it create a copy of the node somewhere when casting?

[2022-04-06 02:00] barracuda156 opened #819 "Restore mac32-tbbmalloc-export.def"
`mac32-tbbmalloc-export.def` has been removed at some point, apparently, and due to that building on PowerPC fails. Earlier version of `tbb` had that file. Is it possible to restore it?

[2022-04-06 06:11] vlserov commented on #818
`std::dynamic_pointer_cast` is `dynamic_cast` with `std::shared_ptr`, so it doesn't create a copy of the node.
`std::dynamic_pointer_cast` is slower than `std::static_pointer_cast`, because of runtime check of possibility casting pointer to provided type.
But if `std::shared_ptr` is used as reference count and holds only specific type, like `pAnimal` in example above holds reference on the `input_

[2022-04-06 06:14] kloczek commented on #370
Just tested 2021.5.0 and build still fail (but other way)
[code]
cmake settings:
[code]

[2022-04-07 05:47] fake-name commented on #370
This is still occurring both on HEAD and tags/v2021.5.0

[code]

``
durr@rosbox18:/opt/workspace/libraries/tbb/build$ gcc --version
gcc (Ubuntu 11.1.0-1ubuntu1~18.04.1) 11.1.0
Copyright (C) 2021 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

durr@rosbox18:/opt/wor

[2022-04-07 10:17] fake-name commented on #370
Looking further, it seems like this might be a gcc-11 issue.

The compilation step that's failing is:
[code]

Inserting newlines, you get:

[code]

So it's being passed both `-mwaitpkg` and `-mrtm`, but some part of the LTO process is failing.

[2022-04-08 20:06] vossmjp commented on #819
oneTBB is neither officially nor community supported on mac32 any longer. If you want to restore that file, test it on your own system and submit a PR, you can do that. But we do not intend to provide ongoing support.

[2022-04-09 01:24] Veronizlada commented on #818
Great, thx very much!

[2022-04-09 14:22] barracuda156 commented on #819
@vossmjp Thank you. I will try to do that.

[2022-04-12 00:37] barracuda156 commented on #819
@vossmjp UPD. I dug into the code, and fixing PPC appears far less easy than just restoring two mac32 def files. For one thing, new version of `onetbb` does not account for endianness, while the older did. Also, the new version lacks machine-specific includes altogether (not just `mac-ppc.h`). So ppc stuff has to be somehow brought into the current code structure.
I will try to deal with that in a

[2022-04-12 01:15] vossmjp commented on #819
Ok, no problem. The mac32 support was dropped during a major refactoring that went on between TBB and oneTBB. So yes, lets keep the issue open while you investigate further.

[2022-04-12 02:13] barracuda156 commented on #819
@vossmjp Besides, do you know how `opetbb` got rid of all machine-specific headers? I see only one generic header in `onetbb` source: `include/opeapi/tbb/detail/_machine.h`. Earlier `tbb` in addition to the generic header had a lot of machine-specific ones here: `include/tbb/machine`.

[2022-04-13 18:07] vossmjp commented on #819
@barracuda156 TBB was first released before even C++11. The refactoring done when moving to oneTBB including using some modern C++ features, such as std::atomic. Much of the machine-specific code in early versions of TBB was assembly code for atomic operations. As the project moved to modern C++ features, some of the machine-specific code was simply replaced by more portable, but still performant,

[2022-04-13 22:46] barracuda156 commented on #819
@vossmjp Thank you! So those won't have to be restored even for PPC arch, given that we got C++11-supporting compilers on it (gcc10, gcc11), right?

[2022-04-24 00:14] Veronizlada opened #821 "Concerning and Weired behaviour of a TBB Input Node"
I am using a input node as follows:

running is a atomic_bool.
x is a shared pointer to an object I created (very simple object).

[code]

I check p in debug code, under oneTBB\include\oneapi\tbb\flow_graph.h once this line (557) `new input_body_leaf< output_type, Body>(body)` is executed the information in the orginal body `op` is lost i.e. meaning `x` becomes empty??

Could you please help?

[2022-04-24 01:41] #818 closed

[2022-04-24 01:53] ionenwks commented on #370
Seen someone else run into this and thought I'd mention that this is due to your binutils being too old. Haven't checked exact minimum version for assembler tpause support, but user had this failing with binutils-2.29.1, worked when they upgraded to 2.37.

[2022-04-24 02:06] Veronizlada commented on #821
What us weired is when I debug in VS, I step in the new `input_body_leaf< output_type, Body>(body)` and step out and step in again the `op` works as expected. No idea what is happening. Likely some VS configuration: I am using x64, Debug Mode, C++20 and VS22. Please help if you can. Thanks!

[2022-04-24 02:23] Veronizlada commented on #821
Atomics are not copyables!!

[2022-04-24 04:10] kloczek commented on #370
I'm using binutils 2.38.

[2022-04-24 04:55] #821 closed

[2022-04-24 04:56] Veronizlada commented on #821
Atomic are not copyable..

[2022-04-24 05:08] ionenwks commented on #370
Yours was a different issue, was replying to this comment: https://github.com/oneapi-src/oneTBB/issues/370#issuecomment-1091104929

[2022-04-24 11:42] fake-name commented on #370
Hmm, it is slightly different.

I'm going to have whichever binutils you get on ubuntu 18.04 lts. For the moment, I just reverted to gcc 10.

[2022-04-28 02:22] Gerrard-YNWA commented on #139
Also want this feature. Is there any progress about this?

[2022-04-28 02:23] Gerrard-YNWA commented on #139
Also want this feature. Is there any progress about this?

[2022-05-01 13:11] inline42 opened #822 "Releasing Ressource in TBB Node While Loop"
Suppose I am doing lambda inside a input_node:

queue is a concurrent_queue.

const auto fetcher = [this](flow_control& control)
{
        if (kill) control.stop();
        shared_ptr<Res> res;
        while (!queue.try_pop(res) && !kill) {};
        return res;
};

How to release ressources in while loop please? I have the option to response with a nullptr and it's handled, should I do that inste

[2022-05-01 14:08] kloczek opened #823 "2021.5.0: build and test suite are fails"
Looks like build fails probably because I'm using latest gcc 12.0.1
[code]

[2022-05-04 03:57] fake-name commented on #370
Circling back to this, I'm using binutils 2.30-21ubuntu1~18.04.7.

[2022-05-04 13:45] barracuda156 commented on #819
@vossmjp Sorry for a delay, been busy with other stuff.

I have built `onetbb` on 10.6 PPC now. Took awhile until I figured out that all atomics errors are solved by simply passing `-DCMAKE_CXX_FLAGS="-std=c++17 -latomic" flag`.

Aside of that, few minor patches had to be added. Lists of symbols are effectively identical, from what I can see, so my initial concern was unfounded. I had to delete tw

[2022-05-04 17:49] vossmjp commented on #822
What resources do you want to release in the while loop?  If try_pop returns false, the queue was empty and nothing is assigned to res. Only if try_pop returns true is the result assigned to res. Can you explain your issue a bit more?

[2022-05-05 11:35] barracuda156 commented on #819
@vossmjp Here is my PR in Macports: https://github.com/macports/macports-ports/pull/14760/

If you or someone could comment on these two issues, it will be greatly appreciated. The rest should be uncontroversial, and then I can open a PR here.

1. These assertions fail on 10.6, I had to patch them out:
[code]

2. This patch was required for an older version of `tbb` already for 10.5.8 and 10.6:
[c

[2022-05-06 00:30] Veronizlada commented on #822
I mean the thread will be doing the while looping while the queue is empty and this what I mean by ressources, the thread doing nothing but just looping because the queue is empty, I could make it sleep for example or use std::this_thread::yield() but I am not sure if there is a better way?

[2022-05-06 13:59] vossmjp commented on #822
Ok, I understand now. Yes, it is not good practice to block, sleep, or poll inside of the body of an input_node. As you have correctly pointed out, doing that holds onto a TBB worker thread that could be used elsewhere.

Is your application using the queue to create a producer-consumer relationship? If so, can you completely remove the queue and instead call try_put directly on the successor of th

[2022-05-06 14:05] vossmjp commented on #819
Yes we will take a look at it.

[2022-05-06 15:43] Veronizlada commented on #822
Thanks so much!! Will check the async_node and see if I can include it. I think maybe I describe in details what I am doing. The goal is to implement a join node that is a queue, call it run_time_queue_node, this new type of nodes can join other number of nodes at run time, meaning the number of input nodes (that there result will be queued is not known at compile time otherwise I would have used

[2022-05-07 01:39] barracuda156 commented on #819
@vossmjp Many thanks!

[2022-05-07 05:24] barracuda156 commented on #819
UPD. While it builds on 10.6 PPC (10A190) and 10.6.8 Rosetta, the build fails on 10.5.8 with:
[code]
I will look into that.

[2022-05-07 05:57] barracuda156 commented on #819
UPD2. Well, with this change to one of the patches `onetbb` builds on Leopard:
[code]
`ppc64` likewise complained about undefined symbols, so an identical patch to definitions has been added. Then,
[code]

[2022-05-07 08:47] barracuda156 commented on #819
@vossmjp An updated PR on Macports: https://github.com/macports/macports-ports/pull/14780 (I closed the original one due to messing up git rebase)

[2022-05-07 12:40] Veronizlada opened #825 "Weired behaviour changing captured atomic bool"
I am having a weired behaviour of TBB node [here](https://stackoverflow.com/questions/72152480/weired-behaviour-changing-captured-atomic-bool) Could you please help?

[2022-05-07 13:47] Veronizlada commented on #825
The problem was `std::ref, std::cref`, could please anyone explain what is happening, why didn't TBB throw? Is this a bug?

[2022-05-08 08:33] Veronizlada commented on #822
I ended up using try_put, works fine, but still have a problem when it's a priority queue? Any idea how to handle priority queue please? Is there a try put with a specific priority?

[2022-05-08 15:33] Veronizlada opened #826 "What is the difference between buffer node and queue node?"
What is the difference between tbb  buffer node and tbb  queue node please?

[2022-05-08 19:39] Veronizlada opened #827 "Documentation: Does buffer node respect single-push policy?"
The documentation says:
single-push - if the message is accepted by a successor, no further push of that message will occur. If a successor rejects the message, the next successor in the set is tried. This continues until a successor accepts the message, or all successors have been attempted. If no successor accepts the message, it will be retained for a possible future resend. Message that is suc

[2022-05-08 19:53] Veronizlada commented on #827
Problem solved, doc is correct!

[2022-05-08 19:53] #827 closed

[2022-05-09 01:40] #826 closed

[2022-05-09 01:40] Veronizlada commented on #826
Buffer does not order!

[2022-05-10 01:45] knoepfel commented on #139
I've run into needing this feature as well, and am planning on using the same solution that @Lawrencemm proposed above in the meantime.  If I were to create a PR that implemented this (I'd probably call it something like `flow::filter_node<Input, Output>`), would the oneTBB developers be interested in adopting it?

[2022-05-10 21:22] vossmjp commented on #822
There are two approaches to priorities in the flow graph. First there are node priorities but these apply to the nodes themselves. It seems like you are needing to assign priorities to messages not node, so this may not apply to your case.  There is also [priority_queue_node](https://spec.oneapi.io/versions/latest/elements/oneTBB/source/flow_graph/priority_queue_node_cls.html). Maybe you can try_p

[2022-05-10 21:47] Veronizlada commented on #822
Very useful stuff, thanks so much!! I really appreciate our time where you can just ask question like these and get answers. Thanks again. To confirm in the case of the rejecting function node, the msg will be held by the prioriy queue (sender) and lost forever if rejected?

[2022-05-10 21:48] Veronizlada commented on #825
I don't want to know anymore :) Thanks all, I have a function that works but I am still curious ;p !!

[2022-05-10 21:48] #825 closed

[2022-05-10 21:56] Veronizlada opened #829 "Serial Does not mean Order: What to do?"
Hello, I just discovered (sadly) that putting Serial in a node has nothing to do with the order of the received message, which I totally understand and couldn't think of a way to control this. However, one can use sequencer_node, I am just wondering if the sequencer has to be a sequence or just has to return a std::size_t? Meaning can I put timestamp converted to seconds in a sequencer? I want to

[2022-05-14 10:40] barracuda156 opened #830 "onetbb fails to build for x86_64 with gcc11 on 10.6.8: {standard input}:no such instruction"
Here is the failure:
[code]
macOS 10.6.8 Server
Xcode 3.2.6
`gcc11` @11.3.0

[2022-05-16 13:15] bubnikv opened #831 "callback to be evoked on thread creation"
We would enjoy a callback to be called on thread creation. Namely, we would love to
1) Set a thread name to be shown by the debugger.
2) Change locales to "C".

We thought we had a workaround by pre-spawning the same number of threads as physical threads of the system and setting the thread names and locales on those pre-spawned threads
https://github.com/prusa3d/PrusaSlicer/blob/dc3cf1f7b8db2a498

[2022-05-17 09:07] svigerske commented on #823
`-Wuninitialized` has been extended with GCC 12 to warn about using uninitialized variables in member initializer lists: https://developers.redhat.com/articles/2022/04/25/new-c-features-gcc-12#new_and_improved_warnings

Reordering the members makes the warning go away for me:
[code]

[2022-05-17 15:15] egfefey commented on #823
gcc12 is not currently part of the support matrix for oneTBB. We will support gcc12 in the future and provide a fix at the time.
For now, you can disable the -Wuninitialized warning by adding -Wno-error=uninitialized to the TBB_WARNING_LEVEL variable in the corresponding cmake file. This file is located at <tbb_sources>/cmake/compilers/GNU.cmake.
Re-ordering the members could work as well but that

[2022-05-17 20:02] kloczek commented on #823
I know that this can vbe used as woraround (and I'm using it already). However it would be rally way better tweak code to not generate thet warning 😝

BTW: IMO all that cmake code handling `TBB_WARNING_LEVEL` can be removed because cmake accepts OOTB standard set make env variables like $CC, $CXX, $RANLIB, $NM, $LD, $AR, $CFLAGS, $CXXFLAGS, $LDFLAGS.
In other words workaroud can be applied by `CXX

[2022-05-17 20:07] kloczek commented on #823
And another issue .. I just fount that my spec filer had no test suite execution.
After enable that I found that three test uniyts of the ctest suite are failing
[code]

[2022-05-17 20:10] kloczek commented on #823
Temporarry I've added those three units to ctest exclude list.

[2022-05-17 20:33] kloczek commented on #823
And yet another issue.
My prev tbb rpm package with 2021.4.0 had disabled building python binding (does't matter why).
After enable that I found a bit messsy content with python module.
Previouselly I was able tu use in %files
[code]
Now looks lik emodule name has changed
[code]
Metadata shoud be in `TBB-0.2-py3.8-linux-x86_64.-info-egg` or `TBB-0.2-py3.8-linux-x86_64.dist-egg`. Module name change

[2022-05-17 20:38] kloczek commented on #823
Back wrong .. was module `TBB` no is `TBB-0.2-py3.8-linux-x86_64.egg` and metadata instead been installed in python sitearch base directory are einstalled in `TBB-0.2-py3.8-linux-x86_64.egg/`.

I think that way better would be just remove pthon builkding from oneTBB and separate and make it as regular `pypi` project to be able build and install it using pep517 build procedure (instead cmake).

[2022-05-19 18:33] shangjiaxuan opened #832 "Is is intended behavior to have min max defined?"
Including tbb.h and global_control.h will pull in `min` `max` preprocessors from windows headers. This will occlude `std::min` and `std::max` usage in later code, and needs `#undef`. Is the preprocessors intended behavior? (Some downstream libraries breaks compilation on windows because of this.)

[2022-05-19 18:35] shangjiaxuan commented on #832
Related:  https://github.com/jrmadsen/PTL/issues/32

[2022-05-19 18:47] shangjiaxuan commented on #832
Although not in included directly, `enumerable_thread_specific.h` seems to contain a `#include <windows.h>` not guarded by `NOMINMAX`, locations of the winapi header that contributed to this issue is unknown.

[2022-05-19 19:52] phprus commented on #832
See previous issue and PR:
https://github.com/oneapi-src/oneTBB/issues/573
https://github.com/oneapi-src/oneTBB/pull/576

[2022-05-23 19:19] vossmjp commented on #829
A serial function node does maintain a queue at its input; so messages sent from the same thread will be processed in the order that they are put to the serial function_node from that thread. However, if multiple threads are putting messages to the function_node concurrently, there is no specific order between the threads. So, depending on your use case, this may be sufficient.
But you are right t

[2022-05-23 19:24] vossmjp commented on #831
I believe that [task_scheduler_observer](https://spec.oneapi.io/versions/latest/elements/oneTBB/source/task_scheduler/task_arena/task_scheduler_observer_cls.html) should cover this. Using it, you can observe and execute your code when either a thread joins TBB scheduling globally or enters a specific task arena.

[2022-05-25 07:09] gtkramer opened #837 "Missing 2021.6.0 release tag?"
For what it's worth, I work in Technology Development and members on the teams I work with use oneTBB internally for their software development.  We are in the process of upgrading all of the libraries we use from Intel's Software Development products.

As a part of this upgrade process, we started with the oneAPI Base Toolkit 2022.2.  This installs oneTBB 2021.6.0.  However, I only see a 2021.6.0

[2022-05-26 13:02] ValentinaKats commented on #837
Hello @gtkramer, the latest oneTBB version is 2021.6.0. GitHub release will be available later. If you need oneTBB 2021.6.0 from GitHub, please use 2021.6.0-rc1 tag.

[2022-05-26 17:22] fdiedler opened #839 "Build failed with GCC >=9.2"
Hi,

I was unabled to build the last version with GCC 9.2 or higher. There is a problem in the mutex source file...

`$ mingw32-make.exe compiler=gcc arch=intel64

[  0%] Building CXX object src/tbb/CMakeFiles/tbb.dir/address_waiter.cpp.obj
In file included from C:\build_oneTBB\oneapi-tbb-2021.5.0\src\tbb\concurrent_monitor_mutex.h:22,
                 from C:\build_oneTBB\oneapi-tbb-2021.5.0\src\

[2022-05-30 07:58] bubnikv commented on #831
@vossmjp Thanks Mike for your hint. Frankly I am quite lost. According to the manual, observer's on_scheduler_entry() callback is called when
1) for each thread that starts participating in oneTBB work
2) enters an arena after the observation is enabled

However I don't quite understand what 1) means. We made some experiments, thus it seems to us that when starting a parallel_for loop, 1) happens

[2022-05-30 23:15] stumarcus576 opened #841 "Installation directory not created"
I followed the example installation instructions (https://github.com/oneapi-src/oneTBB/blob/master/INSTALL.md) to install oneTBB with cmake on Ubuntu 18.04 in /tmp, but the installation directory /tmp/my_installed_onetbb is not created.

$ cd /tmp/oneTBB/build/
$ cmake -DCMAKE_INSTALL_PREFIX=/tmp/my_installed_onetbb -DTBB_TEST=OFF ..
-- IPO enabled
-- The tbbbind target will be configured using th

[2022-05-31 16:42] egfefey commented on #841
Thanks for the report. We'll look into it.
As a workaround, for installation please run "make install" instead of "cmake --install ."
Please let us know if you encounter any further issues.

[2022-05-31 16:43] gtkramer commented on #837
Thank you, @ValentinaKats!  One more question.  Are the sources on GitHub.com the same sources used to build the binaries for the oneTBB release in our oneAPI Base Toolkit?

[2022-06-01 03:34] stumarcus576 commented on #841
Thanks, "make install" installs oneTBB into /tmp/my_installed_onetbb. Is there a recommended way to uninstall oneTBB? Would "make uninstall" work or is "rm -rf /tmp/my_installed_onetbb" the proper way?

[2022-06-01 11:46] ValentinaKats commented on #837
@gtkramer, the sources on GitHub are the same sources used for building the binaries for Toolkit.

[2022-06-02 16:51] vossmjp commented on #839
Recent builds with GCC 9.4 on Linux do not show this issue (see for example the test results in [here](https://github.com/oneapi-src/oneTBB/runs/6710892588?check_suite_focus=true)).  Building with the gcc compiler on Windows is outside of our support matrix, so its not something we regularly test. Can you post the cmake options you used to create your makefiles so we can see if we can reproduce th

[2022-06-03 02:06] #837 closed

[2022-06-03 10:25] fdiedler commented on #839
@vossmjp Just use the default settings of Cmake and try to build it on **Windows 10 with GCC 9.2**

If you want to have the exact compiler I used, download the version 17.1 of Nuwen
https://nuwen.net/mingw.html

And you should have :
_$ ./gcc.exe -v
Using built-in specs.
COLLECT_GCC=C:\nuwen-17.1\bin\gcc.exe
COLLECT_LTO_WRAPPER=c:/nuwen-17.1/bin/../libexec/gcc/x86_64-w64-mingw32/9.2.0/lto-wrapper.

[2022-06-07 13:42] phprus commented on #745
Is there any news on this issue?

[2022-06-07 17:08] vossmjp commented on #831
The on_scheduler_entry callback is called each time a thread starts participating in executing tasks and on_scheduler_exit is called when it leaves. While TBB keeps threads in the arena for a short time looking for additional work, if there is a gap in work availability, the worker threads will leave the arena. So, if you are seeing the function called repeatedly at each parallel_for, the threads

[2022-06-10 10:46] nanoric opened #843 "build failure with gcc13: -Werror=stringop-overflow"
GCC Version:
gcc (GCC) 13.0.0 20220529 (experimental)

steps to reproduce:
[code]

error log :
[code]

[2022-06-10 18:56] dnmokhov commented on #843
gcc13 is not currently part of the support matrix for oneTBB. We will support gcc13 in the future and provide a fix at the time.
For now, you can disable the -Wstringop-overflow warning by adding -Wno-error=stringop-overflow to the TBB_WARNING_LEVEL variable in the corresponding cmake file. This file is located at <tbb_sources>/cmake/compilers/GNU.cmake.

See #823 for additional warnings you might

[2022-06-15 09:24] zhanglistar commented on #646
Thanks for your reply.

[2022-06-15 09:24] #646 closed

[2022-06-18 16:45] felixonmars opened #847 "tbb_remove_compile_flag removes part of flag"
In Arch Linux, our C/CXXFLAGS contains "-Werror=format-security". Unfortunately when passing `-DTBB_STRICT=OFF` the first part of the flag got removed by `tbb_remove_compile_flag`, left only an ill-formatted string `=format-security` as a flag, resulting in compilation errors.

[2022-06-19 05:20] thesamesam commented on #847
Fixed by #716, I think.

[2022-06-22 07:21] tier-cap commented on #383
also meet the same problem, even with -DCMAKE_CXX_FLAGS=-DTBB_ALLOCATOR_TRAITS_BROKEN, my g++ version is 8.3,
re-open need

[2022-06-23 04:47] egfefey commented on #847
Yes, the merged patch [#716](https://github.com/oneapi-src/oneTBB/pull/716) fixes this issue. Please update your repo. Please let us know if the issue persists for you after the update.

[2022-07-02 08:12] jiapei100 commented on #243
Yeah, I do need the help as well :  [https://github.com/heremaps/pptk/issues/58](https://github.com/heremaps/pptk/issues/58)

[2022-07-03 03:28] prcups opened #851 "'my_embedded_table’ is used uninitialized"
When I build tbb on Arch Linux with gcc 12.1.0,it said:
/home/prcups/archlinux/extra/tbb/src/oneTBB-2021.5.0/src/tbb/../../include/tbb/../oneapi/tbb/detail/_segment_table.h:63:63: error：member ‘tbb::detail::d1::segment_table<tbb::detail::d0::padded<tbb::detail::d1::ets_element<bool>, 128>, tbb::detail::d1::cache_aligned_allocator<tbb::detail::d0::padded<tbb::detail::d1::ets_element<bool>, 128> >,

[2022-07-03 04:06] #851 closed

[2022-07-08 19:01] mattpulver opened #853 "Any way to kill tbb's private_server?"
**Question:** How can one kill the `tbb::detail::r1::rml::private_server` that appears to be silently spawned by using a `tbb::task_arena`?

Motivation: We are experiencing many intermittent false positive tsan data race warnings in Google Tests due to two things:
 * The `tbb::detail::r1::rml::private_server` survives in between tests.
 * The stack depth exceeds the maximum limit (7) resulting in

[2022-07-11 09:43] willkk opened #854 "concurrent_hash_map::size() is slow?"
http://www.cis.uoguelph.ca/~wgardner/intel_docs/compilers/tbb/html/a00103.html#75bb57a153952ffadfcf2e4c73deabb1
![企业微信截图_1657531891468](https://user-images.githubusercontent.com/17777977/178234399-e662b949-9494-4bb2-a44b-a8d0f08777ac.png)
Is it right? I check the code and find that concurrent_hash_map uses an atomic variable to store member's count. It should be very fast, right?
And another quest

[2022-07-12 10:22] kboyarinov commented on #854
@willkk,

It seems like this documentation is outdated and can differ with the actual oneTBB state.
I would suggest to use [oneTBB specification](https://spec.oneapi.io/versions/latest/elements/oneTBB/source/nested-index.html) and [oneTBB Developer guide](https://oneapi-src.github.io/oneTBB/) to obtain the latest documentation.

As for the ``concurrent_hash_map::size()`` method - you are right, th

[2022-07-12 11:44] willkk commented on #854
Thank you so much.

[2022-07-13 13:38] #854 closed

[2022-07-13 14:44] Mr-whoz commented on #136
https://oneapi-src.github.io/oneTBB/main/reference/concurrent_lru_cache_cls.html

this is the document

[2022-07-15 08:59] mika-fischer commented on #779
Please consider making exporting of symbols configurable or disable exporting when comping tbb as a static library.

[2022-07-19 19:16] nh2 commented on #5
How does it apply to `tbbmalloc`, can that also be easily configured/linked with using the added `pkg-config` support?

[2022-07-20 01:30] 1003581 opened #857 "Use tbbmalloc_proxy"
I had a c++ code that uses tbbmalloc_proxy and this improved the performance alot on Windows 10
I packaged c++ code as python interfaceI using SWIG but it seems that SWIG ignores tbb and just uses the malloc implmenetation from ntddll.dll
Any ideas how to overcome this issue ?

[2022-07-23 05:18] mcmillan03 opened #859 "Build failure in VMs: Error: no such instruction: `tpause %ecx'"
We are pulling the latest on master branch (but have tried other recent tagged versions) as a submodule to another project.  The work is being done in an Ubuntu 18.04 LTS VM in VMWare Workstation on a Windows x86 machine and in VMWare Fusion on an x86 macBook.  We are using gcc/g++ 11.1.0.

We get the following error message on both systems (there is no such error when not using a VM):

[code]

To

[2022-07-27 15:26] no-ponomarev commented on #857
@1003581 did you try to use a linker option or header file option from [documentation](https://oneapi-src.github.io/oneTBB/main/tbb_userguide/Windows_C_Dynamic_Memory_Interface_Replacement.html)?

[2022-07-29 07:14] 1003581 commented on #857
I add tbbmalloc_proxy.h to my source code，but it dose not work.

[2022-07-29 15:51] ikabadzhov opened #861 "Help needed with linking tbb built from source"
Hello, I am trying to benchmark the performance of TBB on a remote machine (no sudo).
I tried to build it from source, closely following the installation guideline: https://github.com/oneapi-src/oneTBB/blob/master/INSTALL.md#example-of-installation.
TBB was successfully build and installed.

I had this minimal checker to see if I installed tbb successfully:
[code]

I successfully compiled this wit

[2022-07-31 10:42] kboyarinov commented on #861
@ikabadzhov

The problem is that your operation system is not aware on where the dynamic oneTBB library is located.
You can either update the `LD_LIBRARY_PATH` environment variable manually:

`export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/tmp/my_installed_onetbb/lib64`

or use the `vars.sh` script which is located in the `build` directory of the original oneTBB repository. In my case it is

`source /tm

[2022-07-31 11:30] Veronizlada opened #862 "How to reset a graph like if it was constructed for the first time"
Suppose I am doing something like:

[code]

This is kind of Singleton pattern. **The goal is that the ```reset_graph``` function, to really reset everything, meaning construct a new graph with a new context**, something like (which is not possible because graph nor the context can not be assigned/moved):
[code]

Could you please help? (I can do this with pointers? I would prefer references, but if

[2022-07-31 14:04] kboyarinov commented on #862
@Veronizlada,

I would recommend you to consider using `graph::reset` function. It also calls `reset()` method on the graph context.
You can pass one or several `reset_flags` to this member function to customize the reset.
Please find more information [here](https://spec.oneapi.io/versions/1.1-rev-1/elements/oneTBB/source/flow_graph/reset_flags_enum.html) and [here](https://spec.oneapi.io/versions

[2022-07-31 18:43] Veronizlada commented on #862
@kboyarinov

Thanks very much, but reading the descriptions, they don't clearly state that the graph nor the context will go back to there initial state, meaning construction state i.e. no nodes no edges no predefined or copied bodies. I really need to go bac to the initial state of the graph and the context. If this helps I give my specific case: User will be constructing the graph, and then they

[2022-08-01 09:09] kboyarinov commented on #862
@Veronizlada

Could you please explain in more details, what do you mean with "start a new session"? As I see in your example, the `graph_manager` class owns the `graph` and `task_group_context` objects, but who owns the nodes? I am asking because the all of the nodes are constructed with the `graph` arguments and holds the reference to this object and the `graph::reset()` method does not discard

[2022-08-01 09:11] kboyarinov commented on #859
@mcmillan03, thank you for reporting the issue.
I will investigate why such failure takes place and return back once some results would be obtained.

[2022-08-01 11:21] Du-Xinyi opened #863 "'_MCW_DN' was not declared in this scope"
I use mingw(version:8.1) to compile with cmake. Cmake works fine, but this problem occurs at Generate. What should I do
![U$K_V7JSSBP3DSC6$ QC$~1](https://user-images.githubusercontent.com/73220784/182137401-81a0d2c5-9241-44b8-afd6-28169f00b381.png)

[2022-08-01 18:53] jdumas commented on #358
@alexey-katranov What's the status on OneTBB supporting TSan properly?

[2022-08-02 18:46] ikabadzhov commented on #861
This was exactly what I was looking for. Thank you @kboyarinov !

[2022-08-02 18:46] #861 closed

[2022-08-02 18:55] ikabadzhov opened #865 "Help needed for a NUMA-effects reproducer"
Dear experts,
My question is whether there is a TBB benchmark to see NUMA effects. I have tried to do map reduces on long vectors, but I never saw any NUMA effects. Do I correctly understand from https://link.springer.com/chapter/10.1007/978-1-4842-4398-5_20, that TBB has its own mechanism to optimally decide where work is done?

Note is that, using OpenMP, NUMA problems are very visible.

[2022-08-04 15:15] ikabadzhov commented on #865
Update: Following the answer from https://community.intel.com/t5/Intel-oneAPI-Threading-Building/What-is-the-current-state-of-art-solution-to-NUMA-effects-with/m-p/1405677/emcs_t/S2h8ZW1haWx8dG9waWNfc3Vic2NyaXB0aW9ufEw2REUwNjBVNUtMSjhOfDE0MDU2Nzd8U1VCU0NSSVBUSU9OU3xoSw#M15138, I ran this benchmark: https://github.com/Apress/pro-TBB/blob/master/ch20/fig_20_05.cpp, with the only change that I instea

[2022-08-07 18:14] xamidi opened #869 "Builds under MinGW-w64 i686 fail with compiler error"
I tried to build both `oneTBB-2021.5.0` and the current snapshot (`oneTBB-master`) with i686 (i.e. 32-bit) versions of GCC under MinGW-w64. Compilers [i686-posix-dwarf-gcc-12.1.0](https://github.com/brechtsanders/winlibs_mingw/releases/tag/12.1.0-14.0.4-10.0.0-msvcrt-r2), [i686-posix-dwarf-gcc-11.2.0](https://github.com/brechtsanders/winlibs_mingw/releases/tag/11.2.0-9.0.0-msvcrt-r6), and [i686-po

[2022-08-10 21:07] Veronizlada opened #871 "LINK : fatal error LNK1104: cannot open file 'tbb12_debug.lib'"
Hello,

Could you please help me solve this issue, I am getting this issue when I build my solution in VS:

LINK : fatal error LNK1104: cannot open file 'tbb12_debug.lib'

Should I build the Tbb lib and generate the .lib? If yes isn't there a way to work with hpp only?

I don't want to only use the binaries :) I want the library copied in my folder.

Could you please help me? I have built the libr

[2022-08-10 21:14] Veronizlada commented on #862
@kboyarinov I see what you mean and I thought about it, the nodes will be destroyed when the session ends.
A session is an instance giving the user the possibiliy to add nodes based on some spec. The user does not own the nodes, I do, hence I manage them.

Now the user will be constructing the graph by adding some specs (details about the nodes), the user makes edges two using labels (std::string)

[2022-08-11 09:00] kboyarinov commented on #862
@Veronizlada, in this case I think you can just call the `reset()` without arguments after destroying all of the nodes in the end of the session. Current implementation of `graph` class holds the pointer to the `task_group_context` instance, pointer to `task_arena`, the list of node pointers and some other misc stuff. If all of the nodes are destroyed, the stored node list is empty and the call to

[2022-08-11 13:31] vossmjp commented on #865
@ikabadzhov have you seen that OpenMP is showing better bandwidth than oneTBB or you are just looking for a case that highlights that oneTBB can in some configurations shows poor performance without NUMA features activated?  There are some key differences in how oneTBB and OpenMP behave by default. By default oneTBB does not pin threads to cores, while OpenMP does. By default, oneTBB uses work-ste

[2022-08-12 12:23] phprus commented on #712
I was able to reproduce this bug locally.

Commit: bc7e83a2f081868ef6bd05acbdc767da5e0a0af3
Compiler: Visual Studio 2019 14.29
C++: 20
Arch: Win32
OS: Windows 7 SP1 with all updates
RAM: 4GB
CPU: 2 virtual core (1 physical core)

First - crash:
[code]

Second - hang:
``test_collaborative_call_once`` used one core at 100%

Backtrace thread 0:
[code]

Backtrace thread 1:
[code]

and crash ``conforma

[2022-08-12 13:20] phprus commented on #712
Compile and link command with all options:

``test_collaborative_call_once.exe``:
[code]

``conformance_collaborative_call_once.exe``:
[code]

[2022-08-12 20:03] phprus commented on #712
Build without LTO:

[code]

All test passed.

Build with LTO:

[code]

Crash:
[code]

[2022-08-13 09:38] phprus commented on #712
Reproduced in Github Actions!

Commit with new actions: https://github.com/phprus/oneTBB/commit/eeb0154a8ca95e7ec12e5d4209225cb22195372e
Branch: https://github.com/phprus/oneTBB/tree/msvc_vs_ci

Test logs:
https://github.com/phprus/oneTBB/runs/7818187404?check_suite_focus=true
https://github.com/phprus/oneTBB/runs/7818187463?check_suite_focus=true

[2022-08-13 10:01] Veronizlada commented on #862
@kboyarinov Thanks very much. "If all of the nodes are destroyed, the stored node  list is empty" [btw, destroyed I mean here deleting them as  my starting point are pointer to nodes, and I dereference them to get the node itself and play with them around], not sure how this works but I will take your word for it :) The list of the nodes I beleive will be a list of nullptrs? I Will do some digging

[2022-08-14 08:13] kboyarinov commented on #862
@Veronizlada
When I said that graph itself owns the list of the nodes, I mean that it holds the list of pointers to nodes that is organized in the list. Each node holds a reference to the graph.
Hence, you can have a graph without actually having any nodes associated with this graph.
When the node is created, the graph argument is necessarily provided as an argument - the node will hold this refer

[2022-08-14 12:34] Veronizlada commented on #639
I am having same issue. Is this in prod? Or I have to check out a specific commit?

[2022-08-14 13:12] Veronizlada commented on #862
@kboyarinov
Yes, my design is as what you desribed. **Thanks very much!! I think I got my answer.**

About: "Also, is it implied that the user may have several opened sessions simultaneously?" For now, NO but I would like to have this at some point however I think it's too much at this stage! I beleive if I do this, **I won't be using static at all**, which I am thinking about since now.

Thanks v

[2022-08-14 13:38] kboyarinov commented on #862
@Veronizlada, happy to hear that:)
I will close this issue for now. If you have any further questions, feel free to re-open this issue or create an other one.
Thank you very much!

[2022-08-14 13:38] #862 closed

[2022-08-14 20:07] Veronizlada opened #873 "Quick Question: Where can I find the Circula Buffer Please?"
Refered to here: https://oneapi-src.github.io/oneTBB/main/tbb_userguide/Using_Circular_Buffers.html

Could you please help me find the circula buffer in the tbb files?

Couldn't find it in the include director and not sure where the source file is?

Thanks Very Much!

[2022-08-15 00:39] Veronizlada commented on #829
thanks so much

[2022-08-15 13:58] pavelkumbrasev commented on #853
Hi @mattpulver,
If I understand correctly you have several tests where it is important that lifetime of tbb::detail::r1::rml::private_server ends with the end of the test case.
oneTBB provides interface to wait until all worker threads will finish their work that will result in call of tbb::detail::r1::rml::private_server destructor.
You can read task_scheduler_handle specification there: [spec_li

[2022-08-15 17:14] phprus commented on #712
cc @pavelkumbrasev, @kboyarinov

[2022-08-15 20:37] RobbieTheK commented on #376
is this a new set of errors I'm getting?
[code]

[2022-08-16 11:29] kboyarinov commented on #873
@Veronizlada,
Currently, oneTBB does not provide any API implementing Circular buffer.
I would suggest to use [Boost implementation](https://www.boost.org/doc/libs/1_45_0/libs/circular_buffer/doc/circular_buffer.html) if it is suitable for your use case.

[2022-08-17 15:51] kboyarinov commented on #859
@mcmillan03,
Unfortunately, currently we don't have the environment that exactly matches with the one you described. Similar configuration on Oracle VirtualBox did not show the issue.
But according to the log you provided, the error was occurred during the linkage stage with the enabled LTO.
Could you please try to disable the LTO by re-running cmake with `-DTBB_ENABLE_IPO=OFF` option?
Thank you i

[2022-08-17 22:32] mcmillan03 commented on #859
I tried this and got the following...tail of compilation:

[code]

[2022-08-17 22:57] Veronizlada commented on #862
OK! Thanks very muc :)

[2022-08-18 12:42] mattpulver commented on #853
Thank you @pavelkumbrasev this works perfectly. To kill the `tbb::detail::r1::rml::private_server` after each Google Test, we overrode the [Test Fixture](https://google.github.io/googletest/primer.html#same-data-multiple-tests) `TearDown()` method:
[code]

[2022-08-18 12:42] #853 closed

[2022-08-19 10:14] akukanov commented on #853
Hi @mattpulver,

It seems you use internal TBB interfaces. Please be aware that backward compatibility for these interfaces is not guaranteed, so they might get changed in a future version. To avoid potential problems, we recommend to use public oneTBB APIs as described in the specification. In your case, it could be:

[code]

[2022-08-19 14:22] mattpulver commented on #853
Yes unfortunately we are using [v2021.5.0](https://github.com/oneapi-src/oneTBB/blob/v2021.5.0/include/oneapi/tbb/global_control.h) which does not yet define `tbb::attach`, as this is the current version packaged w/ arch linux.

However in reviewing this version we see we can make a slight improvement w/ `detail::d1` -> `v1`:
[code]
In time we'll replace this w/ the published API calls.

[2022-08-19 20:43] BZandi opened #876 "Error during Built target PREFIX"
I am using oneTBB as a submodule in my project (Link: [https://github.com/openPupil/PyPupilEXT](https://github.com/openPupil/PyPupilEXT))

In the ``CMakeLists.txt``, the tbb libs are installed using the following command

[code]

However, when I try to build the program I receive the following error

[code]

I checked the directory and the folders are available. Interestingly, when running the CMa

[2022-08-19 21:46] Veronizlada commented on #873
@kboyarinov Thanks so much! DONE :)

[2022-08-19 21:59] markdewing commented on #859
I also saw this issue building TBB branch v2021.4.0 with gcc 11.1 on Ubuntu 18.04.  The binutils version is 2.30.   I worked around it by building a newer copy of binutils.

[2022-08-20 05:51] phprus commented on #859
``tpause %ecx`` supported by binutils >= 2.31.1

binutils commit:
  https://github.com/bminor/binutils-gdb/commit/ae1d38437284b31d5a1c

[2022-08-20 10:59] vlastaRW opened #877 "eliminating global variables"
I am redesigning my graphics editor and have been looking for library that would help with parallelization of tasks in various parts of my application.  I had a brief look at TBB and unfortunately found that it makes use of global variables, which makes me feel uneasy about using it. Correct me if I am wrong.

Are there any plans to remove them and replace them with a "context" structure that woul

[2022-08-21 08:48] Veronizlada opened #878 "Making Edges between nodes belonging to different graphs"
Hello,

How to make edges between nodes belonging to different graphs please? Say I have to graphs g1 and g2 and nodes n1(g1) and another node n2(g2) one referecing g1 and the other referening g2 with g1 != g2, is there a way to make an edge between n1(g1) and n2(g2)?

Thanks very much!

[2022-08-21 10:00] ilya-lavrenov opened #879 "tbbind in ubuntu 22.04"
Hi,

TBB uses plugin mechanism to try different HWLOC versions to understand system capabilities. Since HWLOC versions are not compatible sometimes, TBB uses several TBBBind versions tbbind, tbbbind_2_0, tbbbind_2_5.
For example, to understand whether processor has big / little cores tbbbind_2_5 is needed.

The question: how system TBB (installed via apt-get install libtbb-dev) understands HW capa

[2022-08-22 08:07] kboyarinov commented on #863
@Du-Xinyi, thank you for reporting the issue
I was able to reproduce it on my side and found that `_MCW_DN` and other `float.h` stuff are provided by MinGW only when `__STRICT_ANSI__` macro is not defined.
This problem moves away when compiling with `-U__STRICT_ANSI`.
But unfortunately, I saw other problems with oneTBB build using MinGW.

Currently, MinGW is outside of oneTBB [support matrix](http

[2022-08-22 08:08] kboyarinov commented on #873
@Veronizlada, I would close the issue for now.
Feel free to re-open the issue or create a separate one if needed:)

[2022-08-22 08:08] #873 closed

[2022-08-22 08:35] kboyarinov commented on #869
@xamidi, thank you for reporting the issue.
Unfortunately, MinGW compiler is not currently the part of [oneTBB support matrix](https://github.com/oneapi-src/oneTBB/blob/master/SYSTEM_REQUIREMENTS.md#:~:text=Android*%209-,Supported%20Compilers,Clang*%206.0.0%20%2D%2012.0.0,-Footer).
Some PRs from external customers were merged to the repo to fix some specific issues, but officially this compiler is

[2022-08-22 08:39] kboyarinov commented on #878
@Veronizlada,
Typically, connecting the nodes that belongs to different graphs is not recommended.
Consider this [oneTBB Developer Guide topic](https://oneapi-src.github.io/oneTBB/main/tbb_userguide/communicate_with_nodes.html) for more information.

[2022-08-22 09:51] pavelkumbrasev commented on #877
Hi @vlastaRW what global variables that you found in library make you uneasy? There are not so many global variables that exist in library.

[2022-08-22 10:03] pavelkumbrasev commented on #879
Hi @ilya-lavrenov, do you mean that TBBBind not being part of apt-get install libtbb-dev is a bug?

[2022-08-22 11:07] ilya-lavrenov commented on #879
Hi @pavelkumbrasev
Right. Or at least tbbbind needs to have its own package, but it's bot available at all.

[2022-08-22 20:30] Veronizlada commented on #878
@kboyarinov,
Thanks very much! Please, is it not recommended because of performance?
Because at the end of the day I can connect the two graphs using a common queue and one node in graph1 can push and the other node from graph2 will pull.
Please let me know if I really have to not use this even if I am careful.

[2022-08-23 07:01] vlastaRW commented on #877
There are some in main.cpp, theTLS looks suspicious, I cant even find, where the create and destroy is called. Then there are things related to the threadpool. These things should be controllable by the user of the library, not handled invisibly in DllMain and other places.

[2022-08-23 07:21] kboyarinov commented on #878
@Veronizlada,
It is not recommended to make edges between the graph because it can be hard to understand the interaction between two graphs and correctly handle exceptions caused by the nodes bodies and which exact tasks should be completed before the `g.wait_for_all()` call can be finished.
If you would be able to share some more details on why is the connection of two different graphs is require

[2022-08-23 08:15] kboyarinov commented on #871
@Veronizlada,

I would suggest to build or get the pre-built one from one of [oneTBB releases for Windows](https://github.com/oneapi-src/oneTBB/releases) because almost all the functionality uses .lib, such as `parallel_for` and other parallel algorithms as well as Flow Graph.
Some of TBB features are mostly header-based, but still uses .lib for exception handling, extra assertions and other stuff

[2022-08-23 10:34] pavelkumbrasev commented on #877
The entities that you have mentioned are parts of the internal details of the library and the lifetime of this entities is very hard question and it is also controlled by the library. As it a library details and internal properties, they should not be exposed to the user level. What do you think about it?

[2022-08-23 11:31] vlastaRW commented on #877
I think that is a fundamental flaw. You are trying to make the library appear simple to its users while it is not simple. That will work in some cases, but fail in other more complex scenarios. I did some digging and found for example this: https://community.intel.com/t5/Intel-oneAPI-Threading-Building/issue-with-nested-parallel-for/td-p/818051
That seems to be one case, where different parts of a

[2022-08-23 12:06] kopalja opened #881 "Memory leak when passing bigger data types between nodes"
Hi, I put together a minimal working example where I observe a memory leak. It is happening when I send struct of size 153 bytes (or larger) between two function nodes (the type of nodes does not matter I believe). Compiled with either `gcc 12.1.1` or `clang 14.0.6` on `5.19.2-arch1-1` memory usage goes to infinity (16Gb on my system).

[code]
Also, all cores are 100% utilized which seems suspicio

[2022-08-24 02:54] ywy2090 opened #882 "TBB crashed when loading libtbbxxx.so dynamic libs"
enviroment:
[code]

background：
I build and link tbb statically in my program, but if my server already install libtbb-dev, my program will crashed in load libtbb_xxx.so, here is the `strace` command output, and remove  libtbb-dev it works well:

[code]

TBB version: v2021.6.0-rc1

compile params:
[code]

Is anyone help?
Thanks first!

[2022-08-24 10:57] FloopCZ commented on #881
Hi everyone, thank you @kopalja for the issue, I am able to reproduce it on my machine and all our servers.
[code]
The leakage rate is about 80MB/s. With array size set to 152 bytes, the leak is gone indeed.

@kboyarinov Maybe a larger array, e.g., 500 would work for you? The first thing that came to mind after seeing this was the `small_object_pool`, but its threshold is set to 256 bytes which is

[2022-08-24 16:46] kopalja commented on #881
Thanks @kboyarinov for your response.
I built `oneTbb` from source and wasn't able to reproduce this issue either. Maybe it's time for a new release?
Thanks.

[2022-08-24 16:49] #881 closed

[2022-08-24 23:24] Veronizlada opened #884 "Stoping a running node"
Supose in **extreme** cases I have to stop a node from executing **queued** inputs and all inputs, is there a way to do so? Or even cancel all the graph while a node is running. Please note this an extreme case where things went wrong and need to stop **immediately**?

Thanks very much!

[2022-08-25 11:29] kboyarinov commented on #884
@Veronizlada,

Consider creating [`oneapi::tbb::task_group_context`](https://spec.oneapi.io/versions/1.1-rev-1/elements/oneTBB/source/task_scheduler/scheduling_controls/task_group_context_cls.html) and passing it into the constructor of the `graph`  object.
Calling `task_group_context::cancel_group_execution()` method will cancel the execution of all tasks created by all nodes belongs to the graph

[2022-08-25 13:00] kboyarinov commented on #829
@Veronizlada, I will close this issue for now.
Feel free to re-open it or create a separate one if necessary.

[2022-08-25 13:00] #829 closed

[2022-08-25 21:03] Veronizlada commented on #884
@kboyarinov Thanks so muc for your help, really appreciated!! This answer is what I needed.

[2022-08-26 18:05] VitorRamos opened #885 "concurrent_queue does not work when the object only has constructor with arguments"
The problem:

[code]
Compiler output
[code]

The problem is cause by the function clear of concurrent_queue (oneTBB/include/oneapi/tbb/concurrent_queue.h:152) that instantiates an object to to be popped and clear the queue.

[code]

Is it possible to use void* so that we can use concurrent_queue in these cases?

[code]

If that is ok, I can submit a PR.

[2022-08-26 23:30] mcmillan03 commented on #859
"ld -v" reports binutils 2.30.  Will try building a newer version next week.

[2022-08-28 07:34] #884 closed

[2022-08-28 11:07] kboyarinov commented on #885
@VitorRamos, thank you for reporting the issue and proposing the solution.
Unfortunately, it would not work because it results in undefined behavior - call to `malloc` only allocates the memory for `value` and then it would be assigned inside of `internal_try_pop`. It results in assigning the value that was not created by the constructor call.
We also cannot explicitly call the constructor because

[2022-08-28 18:01] VitorRamos commented on #885
@kboyarinov, thanks for the fix and explanation.

[2022-08-29 14:33] #807 closed

[2022-08-29 20:20] TrianglesPCT opened #889 "enqueue tasks never starting or taking forever to start/TBB scheduler spinning and doing nothing"
Is there any known reason why tasks started like this:

tbb::task::enqueue(*new(tbb::task::allocate_root()) TBB_Task<task_type>(std::move(task)), tbb::priority_normal);

Would not start for a very long time, or in some cases apparently never start?

The TBB threads are spinning like mad internally and using nearly 100% CPU but not doing any work.

Most seem to be spinning here:(various places in r

[2022-08-29 21:16] TrianglesPCT commented on #889
It seems related to task_arena, I had assumed TBB used a single arena internally for this global enqueue, but it appears that it does not, and each thread has a separate arena.. which it apparently does not handle well(seems like a bug, maybe too much spin locks or lock free methods that never go anywhere?). Forcing all of these tasks into a single arena seems to have fixed the problem.

[2022-08-30 09:17] pavelkumbrasev commented on #889
Hi @TrianglesPCT, it's strange behavior that enqueue task doesn't executed at all. First off all, It make sense to migrate to oneTBB because we fixed a lot bugs.
From you description I might guess that you have several external threads in your example. Each external thread that submit work into TBB (also oneTBB) via parallel_for, task_group, etc. will have implicit arena into library in which it s

[2022-08-31 02:46] zepingWww opened #890 "What's new of the tag of v2021.7.0-rc1?"
I noticed there was a newest tag of v2021.7.0-rc1, which is not the latest version of release. So I have two questions as following:
1. What's new of the tag of v2021.7.0-rc1?
2. Being compared with v2021.5.0, which is more stable or more worth using?

[2022-09-03 09:18] wangqiim opened #891 "Abnormal memory usage when introduce oneTBB as thirty_party"
When I build oneTBB as thirty_party like this
`CMakeLists.txt`
[code]
For my external `excutor`(add_excutor then link libaries), the memory usage is very different  from run oneTBB example builded excutor https://github.com/oneapi-src/oneTBB/blob/master/examples/concurrent_hash_map/count_strings/count_strings.cpp (I put the same code in this file) . My excutor will use much more memory usage. How

[2022-09-03 09:27] #891 closed

[2022-09-03 09:28] wangqiim commented on #891
It looks like I need to add the following code. And it works.
[code]

[2022-09-04 20:15] geertj opened #892 "2021.6 release tag"
It appears there's a 2021.6-rc1 release tag but no final release. Is that an oversight or was there a reason the final release was not done?

[2022-09-05 08:03] #885 closed

[2022-09-05 08:05] kboyarinov commented on #885
@VitorRamos, I have just merged the fix into oneTBB master.
Feel free to re-open the issue or create a separate one if it does not satisfy your use case.

[2022-09-06 09:12] bubnikv opened #896 "Apple Silicon (M1, M1Pro) support for QoS"
Apple Silicon M1 processors are equipped with 4 high efficiency and 4 high performance core. TBB does not make any effort as to hint the operating system on which core to schedule a task. The default behavior leads to an unfortunate results, where long running tasks may be scheduled to slow high efficiency cores leaving the high performance cores idle if the operating system decides that the task

[2022-09-06 09:57] pavelkumbrasev commented on #896
Hi @bubnikv, I did not fully understand the "First" suggestion. Do you suggest pass additional argument on threads creation on Apple system?
Second one, affinity_helper uses to respect affinity mask that was assigned to process if I am not mistaken. oneTBB on its own does not bind any thread until user explicitly ask about that via for example TBBBind interface.

Also, applications that use oneTBB

[2022-09-06 11:16] ValentinaKats commented on #892
@geertj, it is not an oversight, we're working on creating the final release.

[2022-09-06 11:29] ValentinaKats commented on #890
@zepingWww, thank for reaching us.

1.  v2021.7.0-rc1 tag is used to mark a release candidate of oneTBB 2021.7.0. However, it's not the final release yet.
2. If you can use source code and want to get the latest changes, feel free to use v2021.7.0-rc1 tag or code directly from master branch. If you want a built version of oneTBB, check the latest available release in https://github.com/oneapi-src/

[2022-09-06 11:30] zepingWww commented on #890
Thanks!

[2022-09-06 11:30] #890 closed

[2022-09-06 12:02] bubnikv commented on #896
No, I would just configure the thread on creation to use the CPU to its full extent. I suppose the purpose of the TBB thread pool is to accelerate processing as much as possible, thus the simple strategy is meaningful.

Thanks. That means it is the macOS system that maintains the thread affinity to the low performance core for the default QoS thread configuration.

We understand that and your argu

[2022-09-06 17:00] geertj commented on #892
I see, thank you. I was confused because a 2021.7-rc1 tag exists as well.

[2022-09-06 17:00] #892 closed

[2022-09-07 15:44] pavelkumbrasev commented on #896
In your case you can try to use task_arena constraints - [specification link](https://spec.oneapi.io/versions/1.1-rev-1/elements/oneTBB/source/task_scheduler/task_arena/task_arena_cls.html). You could create task_arena and decide which tasks would be executed on performance CPUs and which not.
If HWLOC is available on your system you should be able to build the TBBBind. (Read cmake [readme ](https

[2022-09-07 15:54] phprus commented on #756
@alexey-katranov
This is not ``utils::SpinBarrier`` issue on ARM.

I changed the test_arena_constraints test:

https://github.com/oneapi-src/oneTBB/blob/8155aaeb6baead9bd571bbb76a9b5dc56a1a9403/test/tbb/test_arena_constraints.cpp#L112-L150

1) Replace ``utils::SpinBarrier`` with C++20 ``std::barrier`` (https://en.cppreference.com/w/cpp/thread/barrier)
2) I have added output of one character from e

[2022-09-07 15:57] phprus commented on #756
cc @kboyarinov, @pavelkumbrasev

[2022-09-07 17:34] pavelkumbrasev commented on #756
Hi @phprus, the problem that Alex did not write all details that were behind the scene.
It was several month ago (so I might be mistaken in this case), there is a root cause:
They way oneTBB share the tasks across threads is some sort of weak ordering. I am talking about the task spawn and signal propagation inside the internal arena.
And while it is ok on arches like x86 it might lead to problems

[2022-09-07 18:48] phprus commented on #756
@pavelkumbrasev
Thanks for your reply!

On ARM this error occurs very frequently. On average, for a test to fail, it needs to be run less than 50 times.

I'm think the issue #712 might have the same reasons. And this issue is reproduced on x86.

In addition, for the ``test_collaborative_call_once`` test, I found a configuration to 100% hangs.
See my comment https://github.com/oneapi-src/oneTBB/iss

[2022-09-08 07:11] pavelkumbrasev commented on #756
With ARM it my happen because it is weak memory model too.
This problem generally similar to reduced example:
[code]
This example might hang on any system because oneTBB doesn't guaranteed parallelism and `g.wait()` should be called.
And this is key part of oneTBB design ("weak semantic" on signal propagation) this part is should be critical for performance.
However, I hope we will discuss and inv

[2022-09-08 07:12] pavelkumbrasev commented on #756
Also @isaevil could you please look at #712 and try to confirm that this is similar problem?

[2022-09-08 12:31] phprus commented on #756
@pavelkumbrasev
Is the assumption that ``tbb::parallel_for`` will be executed in ``tbb::this_task_arena::max_concurrency()`` threads a wrong?
The problem is not in ``utils::SpinBarrier``, but in the fact that such a barrier cannot be written for ``tbb::this_task_arena::max_concurrency()``  threads, because the real number of threads is not known?

[2022-09-08 12:52] pavelkumbrasev commented on #756
oneTBB does not guarantee that into parallel_for will be any thread except threads that started this parallel_for.
But we often use utils::SpinBarrier in our tests with assumption that threads will come into arena with almost 100%.

As you can see sometimes it is not true.

[2022-09-08 15:33] phprus commented on #756
@pavelkumbrasev @isaevil
Fix for failed test ``137 - test_malloc_overload_disable (Failed)`` (CI commit https://github.com/phprus/oneTBB/commit/eeb0154a8ca95e7ec12e5d4209225cb22195372e):
PR #870. Review it please.

[2022-09-08 16:10] isaevil commented on #756
@pavelkumbrasev @phprus `test_collaborative_call_once` and `conformance_collaborative_call_once` also have test cases that use barrier inside TBB parallel constructions in order to check the correctness of the algorithm and to stress test it. Based on the traces @phprus gave at #712 for hanging tests, looks like this is similar problem.

[2022-09-08 16:52] pavelkumbrasev commented on #896
In my point of view with current oneTBB design the solution with `task_scheduler_observer` + user_callback (with a thread_local) seems good.
Also you can suggest a patch with you think should be done in oneTBB via PR.

[2022-09-08 17:02] phprus commented on #756
@isaevil
Thanks for your research!
If it is a similar problem, then it is reproducible on x86 (on bare metal and in github actions).

[2022-09-09 15:35] bubnikv commented on #896
@pavelkumbrasev Thanks, we will consider using the proposed solution.
I would love to provide a patch but frankly the code is highly non trivial.

We are using
```tbb::enumerable_thread_specific<bool, tbb::cache_aligned_allocator<bool>, tbb::ets_key_usage_type::ets_key_per_instance>```
for our locales flag, however I wonder how costly it is. It would be great if the cost of the thread local storag

[2022-09-12 05:48] pavelkumbrasev commented on #896
In my understanding of `enumerable_thread_specific` after the first touch via `ets.local()` there should not be much overhead over standard TLS.
You might also try to use [thread_local](https://en.cppreference.com/w/cpp/keyword/thread_local) it should works in your case too.

[2022-09-13 06:47] andrewmabc opened #902 "limiter_node doesn't work in flow graph"
Hi,

I have one problem about the usage of limiter_node. I create three nodes, i.e. source node, decoder node, and image processor node, which correspond to input_node, multifunction_node, and multifunction_node.

source node read video packets, and send video packets to its successor, i.e. decoder node. Then decoder node decodes video packets and output raw frames, and send raw frames to image pr

[2022-09-13 06:49] andrewmabc opened #903 "one problem when throwing exception in flow graph"
Hi,

There is one problem when throwing exception in flow graph.

I have read the following webpages, and try to throw some exception in some nodes. main thread can succeed in catch some exception from some nodes. But the program is pending, when some exception is thrown from some nodes.

https://oneapi-src.github.io/oneTBB/main/tbb_userguide/Flow_Graph_exception_tips.html

Do you have this kind o

[2022-09-13 14:17] gvollant opened #905 "tag for release 2021.6.0"
Hello
on site https://www.intel.com/content/www/us/en/developer/articles/tool/oneapi-standalone-components.html#onetbb there is a "release 2021.6.0"

But there is no tag 6.0 on github

regards
Gilles Vollant

[2022-09-13 14:19] Hvass-Labs opened #906 "Parallel pipelines of serially dependent functions"
Hello,

Have I understood correctly from your [docs](https://spec.oneapi.io/versions/latest/elements/oneTBB/source/algorithms/functions/parallel_pipeline_func.html) and [tutorial](https://oneapi-src.github.io/oneTBB/main/tbb_userguide/Working_on_the_Assembly_Line_pipeline.html), that it is not possible to create a parallel pipeline that runs serially dependent functions / filters in parallel on mu

[2022-09-14 05:41] mcmillan03 commented on #859
Update: I am still trying to figure out how to upgrade binutils beyond version 2.30 on ubuntu 18.04.

[2022-09-15 12:38] kboyarinov commented on #902
@andrewmabc,

As I understood, you are using `std::atomic` counter to count the alive frames, decoder node increases the counter and processor node decreases the counter.
The number of video packs that passes into the decoder is not limited, so for each frame decoded from the video pack, the counter would be increased.
Then, the frame passes into the limiter node that limits the number of alive fr

[2022-09-15 13:55] BigBigos opened #908 "Clang UBSAN alignment error in tbb::concurrent_hash_map"
`tbb::concurrent_hash_map` uses an invalid pointer (`rehash_req_flag` == 3) to flag a node pointer that it should not be followed and rehash is required.

In `advance_to_next_bucket()` a pointer is loaded into a `node*` variable and then checked if it is valid:

[code]

However, at the point of the `static_cast` we already enter undefined behavior zone. It is undefined to have a pointer with a val

[2022-09-16 07:12] xamidi commented on #869
Ok, thanks for the clarification. I just would like to point out that there are now MinGW-w64 i686 binaries of the most recent oneTBB release (currently 2021.5.0) as MSYS2 packages at [packages.msys2.org/package/mingw-w64-i686-tbb](https://packages.msys2.org/package/mingw-w64-i686-tbb). [[x86_64 version](https://packages.msys2.org/package/mingw-w64-x86_64-tbb)]

According to `strings - *.dll | gre

[2022-09-17 12:18] de-gozaru opened #909 "oneTBB compilation takes forever"
Hi,

I'm trying to install a previous version of `oneTBB`, specifically `2018_U5`.
I used the following steps:
[code]

However, after 1h of `make`, a small window started rendering some balls, and it took more than 20 hours and still going, it appears that this because of the command `./tachyon.tbb dat/balls.dat`.

Is this normal? how to correct this?

Thank you in advance!

[2022-09-17 18:12] ilya-lavrenov opened #910 "oneTBB cannot be compiled as universal binary on OSX 12.5"
Steps to reproduce:
[code]
Compilation errors:
[code]

[2022-09-18 08:46] pavelkumbrasev commented on #358
@jdumas sorry for long response. Which platforms are you interested in?

[2022-09-18 15:12] jdumas commented on #358
Both Linux and macOS.

[2022-09-18 17:52] pavelkumbrasev commented on #358
On Linux we have 100% pass rate with ThreadSanitizer. However, on macOS we have issues mentioned above.
With proposed by @phprus changes I have successfully ran basics test with no false positives on macOS. (I ran tests without tbbmalloc)

[2022-09-20 13:12] kboyarinov commented on #903
@andrewmabc,

Could you please add more details on which nodes are you using and what scenario causes an issue.
Thank you in advance.

[2022-09-21 05:01] thesamesam commented on #905
The tarballs seem to have rc1 in them -- is that intentional? Thanks!

[2022-09-21 07:45] jdumas commented on #358
Hmm I'm still observing a lot of TSan issues running tests in parallel with Catch2 and OneTBB. I'll try to provide a more concrete example in the upcoming weeks.

[2022-09-21 11:17] ValentinaKats commented on #905
@thesamesam, thanks for noticing! It was an overlook, the release tag is updated. The difference between tags is documentation updates.

[2022-09-22 05:48] thesamesam commented on #905
Thank you!

[2022-09-22 05:59] gvollant commented on #905
Thank you also.
As I understand, 7.0 is currently really at "rc" stade?

[2022-09-22 10:43] ValentinaKats commented on #905
@gvollant, yes, oneTBB 2021.7.0 is at "rc" stage. rc stands for release candidate.

[2022-09-23 08:13] ilya-lavrenov commented on #879
Waiting for https://launchpad.net/ubuntu/+source/onetbb

[2022-09-24 12:31] dirkmueller commented on #776
@ekovanova @alexey-katranov ping please..

[2022-09-25 10:01] pavelkumbrasev commented on #906
Hi @Hvass-Labs, I kind of don't understand what type of pipeline do you want to implement.
Will it be something like this-> read_data -> process F() -> process G() -> "other functions" -> save result?
For proposed pipeline it could be implemented via passing for example index `i` between stages. Hence, computation will be done in parallel and read and save in serial manner,

[2022-09-25 10:03] pavelkumbrasev commented on #909
@de-gozaru It is possible that there is some issue in example or even in library. Could you please test the same with latest version of oneTBB?

[2022-09-25 10:05] pavelkumbrasev commented on #910
@isaevil Could you please take a look?

[2022-09-26 14:09] isaevil commented on #910
@ilya-lavrenov Could you please clarify, what version of oneTBB are you trying to build? Is that Mac the one with x86 CPU?

[2022-09-26 14:14] #377 closed

[2022-09-26 14:29] ilya-lavrenov commented on #910
latest master

[2022-09-26 16:19] phprus commented on #910
For a multi-arch configuration (if the CMAKE_OSX_ARCHITECTURES variable is defined), we need to check the CMAKE_OSX_ARCHITECTURES array items, not the value of the CMAKE_SYSTEM_PROCESSOR variable.

https://github.com/oneapi-src/oneTBB/blob/2eccd5f998aba26ba4a6be4c9a3ec33a057507ea/cmake/compilers/AppleClang.cmake#L34-L37

Suggested fix:

[code]

@ilya-lavrenov, please check it.

[2022-09-26 19:37] alokpr opened #918 "Bazel build fails with gcc 11.2 due to -mwaitpkg"
TBB version: 2021.5.0
OS: Ubuntu 22.04
GCC version: Ubuntu 11.2.0-19ubuntu1

[code]

[2022-09-26 21:07] kloczek commented on #823
Just tested 2021.6.0 and test suite is failing in two units
<details>

[code]
</details>

[2022-09-26 21:09] alokpr commented on #918
Sorry the description of the bug should have said "due to missing -mwaitpkg".

Upgrading to 2021.6.0 fixes the issue.

[2022-09-26 21:09] #918 closed

[2022-09-26 21:35] ilya-lavrenov commented on #910
At least compilation has passed.

[2022-09-27 06:34] phprus commented on #910
PR: #919

[2022-09-27 11:15] #910 closed

[2022-09-27 14:06] cguentherTUChemnitz opened #920 "Debug assertion fails during static linking of onetbb 2021.6.0, but does not on 2021.3.0"
Hi there,

i am trying to get an onetbb conan package update through. The ci-testing system ensures working different configurations and environments. As far as i can the the problem is not restricted to specific compiler versions and i was able to reproduce this assert fail on different gcc and clang versions.
https://github.com/conan-io/conan-center-index/pull/13116

As far as i can see the prob

[2022-09-27 14:35] Hvass-Labs commented on #906
Thanks for taking a look!

It is perhaps better explained in the PDF paper that is also available in the repository linked to above.

Briefly stated, the idea is to improve multi-core CPU efficiency for audio software (e.g. Ableton Live, BitWig, Cubase, Logic, Reaper, etc.) which are normally only "naively" parallelized as they let the different audio tracks and their effects run in different CPU

[2022-09-27 15:26] bubnikv commented on #896
@pavelkumbrasev

Thanks Pavel. I agree that for parallel for loops enumerable_thread_specific is fine, it executes the callback on each thread entering the parallel_for just once.

However we have found out that for tbb::parallel_pipeline() the callback is called every time a task gets executed by the parallel_pipeline, thus the callback gets called many times over the same thread. In our particul

[2022-09-28 20:06] JohnJScott opened #921 "Compiling in Windows with Unicode Enabled"
Downloaded, compiled, implemented -> thread contention fixed and our app runs about 20x quicker!

The only code change I made was fixing some API calls in dynamic_link.cpp when Unicode is enabled.

GetModuleHandleEx -> GetModuleHandleExA
LoadLibrary -> LoadLibraryA
GetModuleFileName -> GetModuleFileNameA

The reason I enabled Unicode is to follow the conventions mentioned here - https://utf8everyw

[2022-09-29 10:32] isaevil commented on #847
@felixonmars please update your repo to have latest update and feel free to reopen if issue still exists.

[2022-09-29 10:32] #847 closed

[2022-09-29 16:15] vlserov commented on #639
Commit [6edb5c3](https://github.com/oneapi-src/oneTBB/commit/6edb5c3ae98c86cd42453b7241dcbcba49dc80c8) was not became part of [v2021.5.0](https://github.com/oneapi-src/oneTBB/releases/tag/v2021.5.0).
Should be included in latest [v2021.6.0](https://github.com/oneapi-src/oneTBB/releases/tag/v2021.6.0) release.

[2022-09-30 15:55] #420 closed

[2022-10-01 13:24] fdiedler opened #923 "Compiling tbb 2021.6.0 with TBB_ENABLE_IPO flag : error plugin needed to handle lto object"
Hi,

I try to compile under Windows 10 with GCC 11.2 the last current version of TBB with the TBB_ENABLE_IPO flag using Cmake like depicted int he screenshot.

![cmake](https://user-images.githubusercontent.com/42271872/193411513-b21488be-3bb7-435c-ac22-b716747729cb.png)

I got this error

C:\nuwen-18.0\bin\ar.exe: CMakeFiles/tbb.dir/address_waiter.cpp.obj: plugin needed to handle lto object
make[

[2022-10-02 05:33] ouliuquan opened #925 "Why the Intel oneAPI tbb::blocked_range3d run code many times have different value?"
I run this example many time, every time blocked_range3d has different value? I test this because I make my blocked_range2d+for to blocked_range3d, and it make a lot error vaule. Is it my code have some bug? Can someone help me findout?
I alse post this issue in [stackoverflow ](https://stackoverflow.com/questions/73923572/why-the-intel-oneapi-tbbblocked-range3d-run-code-many-times-have-different-

[2022-10-02 08:17] ouliuquan commented on #925
Mainly I need the values of i, j, k to calculate the coordinates of the matrix, once I change to `blocked_range3d`, the matrix like:
`a[i]+b[j]+c[k]` don't act as `blocked_range2d`+`for`, it seems wired.

[2022-10-02 10:00] Hvass-Labs commented on #906
I think I know what caused the confusion, so let me elaborate.

We want to compute `y[i] = G(F(x[i]))` in parallel where the functions `F` and `G` are run in two different threads and `x[i]` is the input stream and `y[i]` is the output stream.

In the description I had written that the functions are **serially dependent**. Perhaps I should clarify that this means we **must** work on the data in th

[2022-10-03 21:41] mcmillan03 commented on #859
The only way I found to upgrade binutils was to upgrade my Ubuntu to 20.04 LTS.  The code the compiled without the modification described above.

[2022-10-04 08:28] pavelkumbrasev commented on #906
Oh, I see. I think the proposed idea kind of a basic pipeline concept and could be implemented with oneTBB using series of serial filters that would be executed one by one but in different threads.
[code]
The proposed implementation should show similar performance as parallel version.

[2022-10-05 05:03] guyuezuntinggithub opened #927 "cmake-gui compile errors on Windows"
hi guys
I build tbb project with cmake gui on windows.
when I build it , coccurs many errors like the following

4>已完成生成项目“_test_malloc_used_by_lib.vcxproj”的操作 - 失败。
11>------ 已启动生成: 项目: test_malloc_used_by_lib, 配置: Debug x64 ------
3>LINK : fatal error LNK1104: 无法打开文件“..\..\msvc_19.16_cxx_64_md_debug\tbbmalloc_debug.lib”
3>已完成生成项目“tbbmalloc_proxy.vcxproj”的操作 - 失败。
12>------ 已启动生成: 项目: _test_mallo

[2022-10-05 07:50] isaevil commented on #381
@kiplingw You can check [here](https://repology.org/project/onetbb/versions) which version of TBB different distros use.
You also can obtain oneDPL or other products via package manager using this [Installation Guide](https://www.intel.com/content/www/us/en/develop/documentation/installation-guide-for-intel-oneapi-toolkits-linux/top/installation/install-using-package-managers.html#install-using-pa

[2022-10-05 07:50] #381 closed

[2022-10-05 11:12] isaevil commented on #903
@andrewmabc is this issue still relevant for you? Could you please respond?

[2022-10-05 11:14] isaevil commented on #905
Seems like the problem is solved. If any other questions are left, feel free to reopen this issue.

[2022-10-05 11:14] #905 closed

[2022-10-05 11:15] isaevil commented on #889
@TrianglesPCT is this issue still relevant for you? Could you please respond?

[2022-10-05 11:17] isaevil commented on #879
Seems like the problem is on Ubuntu maintainers' side. If any other questions are left, feel free to reopen this issue.

[2022-10-05 11:17] #879 closed

[2022-10-05 11:19] isaevil commented on #878
@Veronizlada is this question still relevant for you? Could you please respond?

[2022-10-05 11:22] isaevil commented on #822
@kboyarinov Could you please take a look?

[2022-10-05 11:23] isaevil commented on #871
@Veronizlada is this issue still relevant for you? Could you please respond?

[2022-10-05 11:24] isaevil commented on #814
@Veronizlada is this issue still relevant?

[2022-10-05 11:25] isaevil commented on #865
@ikabadzhov is this issue still relevant for you? Could you please respond?

[2022-10-05 11:29] isaevil commented on #863
@MehdiChinoune @jschueller could you please take a look?

[2022-10-05 11:31] isaevil commented on #788
@ycollet is this issue still relevant for you? Could you please respond?

[2022-10-05 11:33] isaevil commented on #841
Seems like the problem is solved. If any other questions are left, feel free to reopen this issue.

[2022-10-05 11:34] isaevil commented on #740
@wujiazheng2020  is this issue still relevant for you? Could you please respond?

[2022-10-05 11:35] isaevil commented on #696
@Enjoysnow is this issue still relevant for you? Could you please respond?

[2022-10-05 11:36] jschueller commented on #863
retry with v2021.6.0, that one is ok, I use a more recent mingw though (10.0.0 / gcc 12)

[2022-10-05 11:38] isaevil commented on #414
Seems like the problem is solved. If any other questions are left, feel free to reopen this issue.

[2022-10-05 11:39] #414 closed

[2022-10-05 11:40] isaevil commented on #336
@AGreat1 is this issue still relevant for you? Could you please respond?

[2022-10-05 11:41] isaevil commented on #320
@Lastique is this issue still relevant for you? Could you please respond?

[2022-10-05 11:57] Lastique commented on #320
As far as I can see, fine grained headers were not added yet, not in the latest TBB release. So yes, this is still relevant.

[2022-10-05 11:59] isaevil commented on #358
@jdumas could you please share your status?

[2022-10-05 12:05] isaevil commented on #921
@JohnJScott I don't quite understand what you mean. Could you please share more details?

[2022-10-05 12:05] gvollant commented on #905
I'll reopen the same issue for 7.0...

[2022-10-05 12:07] gvollant opened #929 "tag for release 2021.7.0"
Hello
on site https://www.intel.com/content/www/us/en/developer/articles/tool/oneapi-standalone-components.html#onetbb there is a "release 2021.7.0"

But there is no tag 7.0 on github (there is only 7.0rc1)

regards
Gilles Vollant

It look like #905 for 6.0 @ValentinaKats

[2022-10-05 13:08] isaevil commented on #863
@Du-Xinyi seems like it works on newer versions of MinGW. Please reopen issue if your problem persists.

[2022-10-05 13:08] #863 closed

[2022-10-05 13:15] isaevil commented on #654
@ilya-lavrenov is it fine for you if make `-DTBB_USE_ITT_NOTIFY` option for CMake but leave it untested?

[2022-10-05 13:16] isaevil commented on #278
@Shaquille-Wu is this issue still relevant for you? Could you please respond? Have you considered using oneTBB?

[2022-10-05 13:17] isaevil commented on #264
@tmwnewbold is this issue still relevant for you? Could you please respond?

[2022-10-05 13:23] isaevil commented on #320
@Lastique did you have a chance to check how noticeable the improvement of compile time in your environment as Anton asked?

[2022-10-05 13:25] #216 closed

[2022-10-05 13:46] tmwnewbold commented on #264
I'm now mostly convinced that global_control does what we need -- so long as it is constructed prior to any usage of TBB. We're suffering from a somewhat sprawling architecture that has made it extremely difficult to ensure that the construction of global_control takes place before any usage. Auto-initialization is great, but it makes it difficult to maintain the level of control we'd like across

[2022-10-05 13:48] isaevil commented on #768
Seems like the problem is solved in [v2021.6.0](https://github.com/oneapi-src/oneTBB/releases/tag/v2021.6.0). If any other questions are left, feel free to reopen this issue.

[2022-10-05 13:48] #768 closed

[2022-10-05 13:58] JohnJScott commented on #921
By default, LoadLibrary (for example) is macro'd to be LoadLibraryW( wide string ) when the unicode character set is enabled, and LoadLibraryA( multibyte string ) when the multibyte character set is enabled.

Following the conventions mentioned in https://utf8everywhere.org/ the best practice is to use utf8 everywhere, enable the unicode character set (image below), and convert utf8 parameters to

[2022-10-05 14:04] bubnikv commented on #831
@isaevil @vossmjp Thanks for your support. For now, we solved the issue with the callback you have suggested. Similarly, we used the same callback for https://github.com/oneapi-src/oneTBB/issues/896.

We still believe an "on create" callback would be valuable, however the on_scheduler_entry() you have suggested seems to fulfill our needs suffuciently.

[2022-10-05 14:09] isaevil commented on #418
@willkk Since 2021.5 oneTBB can be compiled statically without issues just using `cmake -DBUILD_SHARED_LIBS=OFF`.
 If any other questions are left, feel free to reopen this issue.

[2022-10-05 14:09] #418 closed

[2022-10-05 14:22] isaevil commented on #831
@bubnikv If these issues are resolved could you please close them?
If you feel that "on create" callback is still useful feature - any patches are welcomed :)

[2022-10-05 14:24] isaevil commented on #297
@jdumas is this issue still relevant? Could you please respond or close issue if it is not?

[2022-10-05 14:26] isaevil commented on #346
@Dr15Jones is this issue still relevant for you, did you had a chance to try proposed solution? Could you please respond?

[2022-10-05 14:27] isaevil commented on #489
Seems like the problem is solved. If any other questions are left, feel free to reopen this issue.

[2022-10-05 14:27] #489 closed

[2022-10-05 14:28] isaevil commented on #686
Closing since the error is not reproduced on gcc-8 and newer.

[2022-10-05 14:28] #686 closed

[2022-10-05 14:30] Lastique commented on #320
No, I did not perform the test.

[2022-10-05 14:56] #831 closed

[2022-10-05 14:56] #896 closed

[2022-10-05 16:09] stumarcus576 commented on #841
Does "cmake --install " work now?

[2022-10-05 16:58] jdumas commented on #297
Hmm yeah since v2021.6.0-rc1 (and now v2021.6.0) I think we're good. Let me close the issue then.

[2022-10-05 16:58] #297 closed

[2022-10-05 19:41] MehdiChinoune commented on #863
Fixed by https://github.com/mingw-w64/mingw-w64/commit/c6e13e0c105eab7797c2373819b49fff6b05566c, So you need mingw-w64>=8.0.1
The MINGW GCC 8.1.0 compiler from https://sourceforge.net/p/mingw-w64 was built against mingw-w64 6.0.0

[2022-10-05 20:50] ilya-lavrenov commented on #654
Yes, sure

[2022-10-06 07:45] isaevil commented on #841
I tried to do it via `cmake --install`.
[code]

[2022-10-06 09:19] isaevil commented on #788
Our release packages are built with internal and non-trivial way so it can't be put publicly documented. I would kindly suggest you to do that manually.

[2022-10-06 09:19] #788 closed

[2022-10-06 12:58] isaevil commented on #804
The issue is not reproducible it with gcc 11.2.

[2022-10-06 12:58] #804 closed

[2022-10-06 14:09] isaevil opened #932 "Improve usability of flow_graph to task_arena attachment"
This is a usability issue. The problem that attachment of `flow_graph` to specific `task_arena` looks confusing for users (see #419).
Consider simplifying oneTBB API in this sense. For example, one possible way is to accept `task_arena` instance in `flow_graph` constructor.
Also consider improving [documentation for flow_graph](https://oneapi-src.github.io/oneTBB/main/tbb_userguide/attach_flow_gra

[2022-10-06 14:15] isaevil commented on #419
@diablodale please take a look at this documentation page https://oneapi-src.github.io/oneTBB/main/tbb_userguide/attach_flow_graph_to_arena.html. This page was added as the result of #785.

We also have created #932 to track request for usability improvement of `flow_graph` to `task_arena` attachment.
I am closing that issue. Feel free to reopen if any questions are left.

[2022-10-07 06:50] andrewmabc commented on #903
I can't reproduce the issue now. I will post the sample code if I have the issue again.

[2022-10-07 07:54] andrewmabc commented on #902
How to get the number of messages on some edge between two nodes? Is there any effective way to get the value?

[2022-10-07 08:01] isaevil commented on #859
@mcmillan03 is upgrading `binutils` an acceptable solution of your issue?

[2022-10-07 15:38] omalyshe commented on #929
v2021.7 tag has been created https://github.com/oneapi-src/oneTBB/tree/v2021.7.0.

[2022-10-07 21:01] mcmillan03 commented on #859
It is an acceptable workaround for now.  Is there a decision not to support binutils <= version 2.30?

[2022-10-08 07:56] gvollant commented on #929
thank you, but page https://github.com/oneapi-src/oneTBB did not list 7.0

[2022-10-08 21:30] phprus opened #935 "Test test_dynamic_link failed on gcc-10 with LTO"
Commit: 6bfd29bde7e9c47bdfc3ae8a1670ea961c95c78c (current master)

g++:
[code]

CMake options:
[code]

Error:
[code]

``test_dynamic_link`` stacktrace:
[code]

[2022-10-10 08:19] isaevil commented on #859
There wasn't such decision but I actually don't really see a straightforward way how to check `binutils` version in CMake. I would suggest just upgrading binutils version if you are going to use gcc-11.

[2022-10-10 16:33] ikabadzhov commented on #865
Thanks a lot for the replies. The issue could be closed. My main goal was to observe NUMA effects in the ROOT's dataframe. For that I used tests from [here](https://github.com/root-project/rootbench). After inspecting the behaviour of ROOT with and without NUMA-aware TBB arena: brief conclusions: 1. we see NUMA effects (within the ROOT's dataframe) only on low core counts, and those effects decrea

[2022-10-10 16:33] #865 closed

[2022-10-12 12:42] pradyunsg opened #940 "Don't use the `.data/data` directory in Python wheels for shared object files"
Currently, the `tbb` wheels on PyPI have a layout like the following:

[code]

[code]

These wheels use the `.data/data` directory which is meant for data and not for shared objects or importable Python libraries. It would be preferable for these files to instead be placed under `.data/platlib` instead.

See https://docs.python.org/3/library/sysconfig.html#installation-paths for more details.

Cur

[2022-10-12 12:43] pradyunsg commented on #940
I couldn't locate the source code for how these wheels are generated, otherwise I would've made a concrete suggestion for what code changes are needed to make this happen.

[2022-10-12 13:02] omalyshe commented on #940
Are you referring to https://pypi.org/project/tbb/ packages? The process of generating them is out of the GitHub source code scope for oneTBB.
Anyway, thanks for notifying us about this issue. We'll pass it to the appropriate team.

[2022-10-12 13:09] rheavr commented on #370
Has there ever been a resolution or workaround to building TBB with GCC11?

[2022-10-12 13:30] pradyunsg commented on #940
I'm guessing that the logic is using `data_files` in a `setup.py` file, which is not the right mechanism for this (based on the wheel generator being bdist_wheel).

I'm gonna treat the fact that the code for generating those isn't open source, to indicate that you don't want community contributions/suggestions on it.

[2022-10-12 16:58] TrianglesPCT commented on #889
No I was able to work around by using only a single arena

[2022-10-13 07:51] isaevil commented on #889
@TrianglesPCT so I guess this issue can be closed? Feel free to reopen if any questions are left.

[2022-10-13 07:51] #889 closed

[2022-10-13 07:59] isaevil commented on #878
Closing it since no response.

[2022-10-13 07:59] #878 closed

[2022-10-13 08:00] isaevil commented on #871
Closing it since no response.

[2022-10-13 08:00] #871 closed

[2022-10-13 08:01] isaevil commented on #814
Closing it since no response.

[2022-10-13 08:01] #814 closed

[2022-10-13 08:02] isaevil commented on #740
Closing it since no response. Feel free to reopen if any questions are left.

[2022-10-13 08:02] #740 closed

[2022-10-13 08:03] isaevil commented on #696
Closing this issue since no response. Feel free to reopen if any questions are left.

[2022-10-13 08:03] #696 closed

[2022-10-13 08:07] isaevil commented on #336
Closing it since no response. Feel free to reopen if this is still an issue.

[2022-10-13 08:07] #336 closed

[2022-10-13 08:09] isaevil commented on #358
@jdumas any updates?

[2022-10-13 08:10] isaevil commented on #278
Closing it since no response. Feel free to reopen if any questions are left.

[2022-10-13 08:10] #278 closed

[2022-10-13 08:29] isaevil commented on #370
@rheavr I would kindly ask you to create a separate issue with description of your problem with details (your system and environment, what kind of problem with building you are actually facing, what version of `oneTBB`). It can be not related with the original problem of this closed issue.

[2022-10-13 13:32] BenFrantzDale opened #941 "Use collaborative_once_flag in LRU cache"
I mentioned this here: https://github.com/oneapi-src/oneTBB/pull/939#issuecomment-1275237601

I'd recommend reworking `concurrent_lru_cache` it to use `tbb::collaborative_once_flag` (that Henry and I instigated) to avoid a potential moonlighting deadlock in `operator[]`:
[code]
I think that would mean changing
[code]
to
[code]
and then `operator[]` is more like
[code]
that way rather than spin-wai

[2022-10-15 09:13] kambala-decapitator commented on #920
happens when building without Conan as well. Info from lldb:
[code]

[2022-10-16 14:34] phprus commented on #712
On win32:
https://github.com/oneapi-src/oneTBB/blob/13544f9432c946d11cbdd39b4726407c8aa9e3a9/include/oneapi/tbb/collaborative_call_once.h#L190

``shared_runner->m_storage.task_arena`` has bad values (from visual studio debugger):
[code]

[2022-10-16 15:17] p12tic opened #942 "task_group::wait() waits for tasks in unrelated task groups"
Documentation for `task_group::wait()` states that it "waits for all tasks in the group to complete or be cancelled". However, this is not exactly correct, because this function will also wait for tasks added to unrelated task groups. Consider this example (downloadable code here: https://github.com/p12tic/tbb_task_group_wait_bug/blob/master/task.cc):

[code]

One would expect that A1 task is sche

[2022-10-16 15:21] phprus commented on #712
@pavelkumbrasev, @isaevil,

Commit 07415c5e0ad86a5fe5a20c647ef68145c1e5c8a0 from branch https://github.com/phprus/oneTBB/tree/msvc_vs_ci-1 (with new CI tasks for this issue).

Error:
[code]

Stacktrace:
[code]

Dump with heap and pdb files:
[dump.zip](https://github.com/oneapi-src/oneTBB/files/9795008/dump.zip)

[2022-10-17 08:32] isaevil commented on #712
@phprus thanks for your logs and investigation.
Based on our investigation we can tell that alignment of `collaborative_once_runner` doesn't work when LTO is enabled for Windows. The implementation counts on the fact that after alignment on `2^N` bytes there are free N lower bits available. But when LTO is enabled on Windows it looks like that it is broken and it leads to Segmentation Fault so han

[2022-10-17 09:03] phprus commented on #712
@isaevil
Hangs happen not only in Windows, but also in ubuntu (in github actions CI).
When using Visual Studio 2019 (Win32) with LTO enabled, a hang or crash occurs on every launch.

[2022-10-17 09:24] isaevil commented on #712
@phprus I mean that hangs on Windows caused by issue I have mentioned above. For Ubuntu it seems like that it is different issue.

[2022-10-17 10:49] pavelkumbrasev commented on #942
Basically, this is problem of `task_group::wait()` description. There is no mention that the thread executing  `task_group::wait()` might participate in another tasks that are not related to particular task_group.

[2022-10-17 11:45] isaevil commented on #909
@de-gozaru do you experience any issues like that with oneTBB?

[2022-10-17 12:03] #691 closed

[2022-10-17 17:59] phprus commented on #712
@isaevil
You're right! This will not work in Win32.

Source: https://www.boost.org/doc/libs/1_80_0/libs/type_traits/doc/html/boost_typetraits/reference/aligned_storage.html

What do you think of a next workaround for Visual Studio:

[code]

And use ``collaborative_once_runner_stackholder`` instead of ``collaborative_once_runner``?

I can make a PR.

[2022-10-17 18:19] #935 closed

[2022-10-18 08:34] #776 closed

[2022-10-18 09:32] pavelkumbrasev commented on #712
We will discuss this problem. Thank you for proposed solution, on first glance it should be not be used for all configurations. If this issue related only to MSVC + LTO it should wrap only this case.

[2022-10-18 09:44] phprus commented on #712
Yes, only for MSVC.
Unfortunately, LTO cannot be detected using predefined macros.

[2022-10-18 14:43] phprus commented on #712
@isaevil , @pavelkumbrasev
Commit with workaround: https://github.com/phprus/oneTBB/commit/d7055c53d601af8914dea0ef2ed1807b33fa907b
All tests passed.
Should I create an RR?

Pre Requirement: #870 because the current build system sets the invalid working directory for tests.

[2022-10-18 22:03] cguentherTUChemnitz commented on #920
@kambala-decapitator how were you able to trigger it? When i compile onetbb from source in debug and static mode, i am able to run ctest with all tests without an error. So i am very curious, why this happens like in every setup of the conan tests instead. I am at the moment not able to trigger the problem here on onetbb direct compilation without conan. Can you provide steps to reproduce?

[2022-10-19 07:26] kambala-decapitator commented on #920
I compiled tbb manually and then used it when building Conan's example.

btw the above stack trace is from the [official Getting Started example](https://oneapi-src.github.io/oneTBB/GSG/get_started.html#example).

[2022-10-19 10:45] heitbaum opened #943 "Build error of tbb-2021.7.0 with gcc-12.2.0 (works with gcc-10.3)"
https://github.com/oneapi-src/oneTBB/blob/9e15720bc7744f85dff611d34d65e9099e077da4/test/common/concurrent_lru_cache_common.h#L117

[code]

[2022-10-19 11:53] cguentherTUChemnitz commented on #920
Ok in my eyes is then the interesting part here, why this fail is not part of just running cmake build and ctest in debug and static setup. So either we have discovered a problem, that should als be part of the onetbb test setup, or we do still some unintended usage with our cmake test_package project with or without conan.

[2022-10-19 12:18] kambala-decapitator commented on #920
here's the Getting Started example as CMake project for testing: https://github.com/kambala-decapitator/onetbb-assert-debug-static

[2022-10-20 08:30] #531 closed

[2022-10-20 11:28] Hvass-Labs commented on #906
Thanks very much for the code-sample, and I'm sorry for my late response!

I was under the impression that filters designated with `filter_mode::serial_in_order` were executed in serial-mode and not parallel-mode, so that a serialized "bottle-neck" is created for those filters? Or am I wrong, so your code-sample creates exactly the kind of buffered parallel pipeline that I need to process streams

[2022-10-20 11:49] pavelkumbrasev commented on #906
It is a basic pipeline idea, when one stage is ready next one could be executed and in this moment both of stages might be executed in parallel.
We might consider this example for parallel_pipeline, so if you don't mind you can create a PR [there ](https://github.com/oneapi-src/oneTBB/tree/master/doc/main/tbb_userguide).

[2022-10-21 13:02] #265 closed

[2022-10-21 16:43] ilya-lavrenov opened #944 "Compilation error on arm32"
[code]
Docker image to reproduce https://github.com/openvinotoolkit/openvino_contrib/blob/master/modules/arm_plugin/dockerfiles/Dockerfile.RPi32_stretch

[2022-10-23 04:00] fake-name commented on #370
As far as I know, this is still a problem.

I solved it by just pinning GCC10, since I needed to make things work (this is a transitive dependency in a project I'm working on). I don't have the time to debug further.

[2022-10-23 13:39] Hvass-Labs commented on #906
Thanks again for your help!

It would be helpful with an example in your docs of how to create this kind of parallel pipeline, but I am not really familiar with your library so your dev-team better write it themselves. And please post a link in this thread so I get notified, and it may also help others find it in the future.

[2022-10-23 13:39] #906 closed

[2022-10-25 09:30] isaevil commented on #346
@Dr15Jones kindly ping you.

[2022-10-25 18:53] Dr15Jones commented on #346
@isaevil sorry, the messages from this GitHub repository are being sent to my spam filter so I'm not seeing them promptly.

Using `tbb::task_group::defer` did allow us to wait in the way we needed. The only funny bit is we always pass a _do nothing_ lambda to defer since we only need it to keep the `task_group` waiting.

https://github.com/cms-sw/cmssw/blob/9976f1e5c7451f1d2e1ff9f3213ef87e3bf9ff28

[2022-10-26 12:53] isaevil commented on #346
@Dr15Jones glad that proposed solution worked out. If this issue is successful, I would kindly ask you to close it :)

[2022-10-28 21:40] isaevil commented on #929
https://github.com/oneapi-src/oneTBB/releases/tag/v2021.7.0 is now available on main page.

[2022-10-28 21:40] #929 closed

[2022-11-01 17:59] Tim1797 opened #948 "TBB with hyperthreading"
Hi,
I am currently working with TBB for my master thesis. I tested my implementations on two different hardware systems. One uses a CPU with 8 cores without hyperthreading, and the other has 16 cores with hyperthreading. The problem I ran into is that the speedups differ significantly depending on which hardware system I use. On the system with 16 cores, the speedups are worse than they are with j

[2022-11-02 05:40] pobin6 opened #949 "tbb 2020.3 src/tbb/scheduler.cpp，the func "cleanup_scheduler" will make memory leak"
oneTBB-2020.3\src\tbb\scheduler.cpp:330
[code]
this code will make memory leak, if `my_small_task_count` not equal `k`
[code]
how fix it ?

[2022-11-02 08:34] pavelkumbrasev commented on #949
Hi @pobin6, it seems that you are using old TBB version (2020 U3) that was not tested with AddressSanitizer.  On first glance hard to tell what really lead to such memory leak.
Is it possible in your case use oneTBB? (which is in current master or newer releases)  oneTBB support multiple sanitizers like Thread, Address etc.

[2022-11-02 08:46] pavelkumbrasev commented on #948
Hi @Tim1797, in your case it might be several factors that lead to worse scaling. (hyperthreading shouldn't be a problem)
It is hard to give a exact answer without all data but there are some ideas and assumptions:
Your algorithm might not scale on more than 8 threads.
The hyperthreading will not give perfect scaling. What results do you observe?

[2022-11-02 09:06] pobin6 commented on #949
Becase some reason, I am using this version and want to fixed it.
Is this OK? if I destroy it when the  `k` < `my_small_task_count` , like:
[code]
if not, I attention the `my_small_task_count` must be equal `k`, and the `k` is defined here
[code]
I want to know where the `my_free_list` was changed, if a task is over where the task be added to the list.
thank you.

[2022-11-02 09:26] pavelkumbrasev commented on #949
I'm not a expert in old TBB. So I can not say a lot about this problem without additional investigation. (but we does not support old TBB version)
It is clean up code and `if( __TBB_FetchAndAddW( &my_small_task_count, -k )==k )` tries to synchronize threads on clean up. It is possible that one of worker thread will call destroy in some near future but main thread is gone and Address Sanitizer repo

[2022-11-02 10:30] Tim1797 commented on #948
My algorithm do not scale very well which could explain why the speedups are worse if I use 16 or 32 threads (with hyperthreading), but what confuses me is the fact that the speedups are also worse with 8 threads. On the machine with 8 cores, I see speedups of around 6 which are reduces on the other machine to around 2 even though I limit the available threads to 8.

[2022-11-02 10:46] isaevil commented on #903
Closing this since we didn't hear from you for some time. If any other questions are left, feel free to reopen this issue

[2022-11-02 10:46] #903 closed

[2022-11-02 10:51] pavelkumbrasev commented on #948
It might be dependent on CPU frequency, so you might calculate max scaling by yourself.
You might also experiment with taskset if you use Linux or process affinity if Windows.

[2022-11-02 10:57] #346 closed

[2022-11-02 11:20] Tim1797 commented on #948
Even if I limit to 8, the affinity mask always shows that all processors #0 through #31 are used. If I look with htop, 7 threads are created.

![image](https://user-images.githubusercontent.com/53017505/199476677-3d7d722c-5a6b-45c4-a6dc-2684b4b45fd9.png)

I am not sure what you mean with the dependence on CPU frequency...

[2022-11-02 11:59] pavelkumbrasev commented on #948
Some processors might work faster than other because of higher frequency that why they are not scaling even on 8 threads it is not enough work for them.

[2022-11-02 12:09] Tim1797 commented on #948
The 16 core system has 3.2 GHz and the 8 core system has 3.8 GHz, so I guess this should not be the issue.

[2022-11-02 12:38] Tim1797 commented on #948
![image](https://user-images.githubusercontent.com/53017505/199490771-39e51d53-d85d-4d13-9818-b0dc2c8ebbb3.png)
![image](https://user-images.githubusercontent.com/53017505/199491461-17922040-eed3-4e38-a745-f67e3abe5d84.png)

[2022-11-02 12:52] pavelkumbrasev commented on #948
On the first machine there is two NUMA nodes that might lead to problem with memory access.
Please try to use taskset -c 0-7 ./app_name. It will execute your application on first NUMA node on 8 first cores.
If it is NUMA effects you might use also[ task_arena API](https://spec.oneapi.io/versions/latest/elements/oneTBB/source/task_scheduler/task_arena/task_arena_cls.html) to specify particular NUMA

[2022-11-02 13:25] Tim1797 commented on #948
Ok that probably makes sense. Thank you!

[2022-11-02 13:25] #948 closed

[2022-11-02 20:27] jdumas commented on #358
Hi, sorry I haven't been able to build a MWE yet. I have setup a github action on my repository ([here](https://github.com/adobe/lagrange/actions/runs/3380258563)) that shows a bunch of TSan issues. At this point I am still working through the code to determine if it's a data within my code (I've already fixed a few of those) or an issue with OneTBB (which I have not been able to isolate separatel

[2022-11-03 12:20] astrojuanlu opened #950 "`error: no type named ‘size_type’` when building with GCC 10.2 on CentOS 7-like"
I'm trying to compile TBB inside a `quay.io/pypa/manylinux2014_x86_64:2022-10-25-fbea779` Docker image ([the `manylinux2014` spec is based on CentOS 7](https://peps.python.org/pep-0599/), but this image ships GCC 10.2) with the objective of creating manylinux wheels of pygmo2 (see https://github.com/esa/pygmo2/pull/110/). At the moment I am getting this error:

[code]

To reproduce:

[code]

[2022-11-03 12:34] bluescarni commented on #950
Can you try perhaps with a stable version rather than the git head?

The conda package for pagmo compiled fine with this TBB version:

https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=600240&view=logs&j=656edd35-690f-5c53-9ba3-09c10d0bea97&t=e5c8ab1d-8ff9-5cae-b332-e15ae582ed2d&l=88

(TBB version 2021.6.0)

[2022-11-03 18:07] peteschroed opened #951 "Test `test_concurrent_queue_whitebox` fails on Apple Silicon"
Encountered this issue while running tests on an M1 Macbook Pro against oneTBB 2021.7.

Build arm64:
[code]

Run test 100x:
`ctest --repeat-until-fail 100 . -R test_concurrent_queue_whitebox --output-on-failure --timeout 60
`

Result:
Most of the time, the test fails at some point during the 100x run with this error.
[code]

[2022-11-03 21:50] pavelkumbrasev commented on #951
It should be fixed with this [PR](https://github.com/oneapi-src/oneTBB/pull/782).

[2022-11-03 23:21] peteschroed opened #952 "Test `test_task_arena` times out on Apple Silicon"
Encountered this issue while running tests on an M1 Macbook Pro against oneTBB 2021.7.

Build arm64:
[code]

Run test 100x:
`ctest --repeat-until-fail 100 . -R test_task_arena --output-on-failure --timeout 60`

Result:
Test times out after ~20 iterations.

[code]

[2022-11-04 08:32] pavelkumbrasev commented on #952
Could you please provide threads call stacks?

[2022-11-04 08:40] phprus commented on #952
@pavelkumbrasev
Maybe this is another issue with utils::SpinBarrier?
(https://github.com/oneapi-src/oneTBB/issues/756#issuecomment-1041874173)

[2022-11-04 08:41] pavelkumbrasev commented on #952
Yes, I think the same.

[2022-11-04 09:40] pavelkumbrasev commented on #951
I merged this PR. Could you please verify current master?

[2022-11-04 11:29] phprus commented on #951
@pavelkumbrasev
Current master work without error on M1 (1000 iterations).

[2022-11-04 11:48] pavelkumbrasev commented on #951
Please reopen this issue if you can reproduce the problem.

[2022-11-04 11:48] #951 closed

[2022-11-04 14:05] astrojuanlu commented on #950
The error is present both on TBB `v2021.3.0`, `v2021.6.0`, and on the most recent one, `v2021.7.0`. Checked it with

[code]

If I add ` -DCMAKE_CXX_FLAGS=-DTBB_ALLOCATOR_TRAITS_BROKEN`, it makes the compilation slower but it seems to have gone past that step. The only other mention I see of that flag in this tracker is gh-383. I have no idea of C++ so I don't know if it's related or not.

[2022-11-07 18:51] p-groarke opened #957 "[feature] tbb::combinable combine_each should offer a const overload."
The `combine_each` should likely offer a const overload, where one can accept a `const T&` (or copy) in one's callback.

https://github.com/oneapi-src/oneTBB/blob/eac9465052ed3697d88219e3e9869617bf67d80a/include/oneapi/tbb/combinable.h#L56

[2022-11-09 12:30] kboyarinov commented on #383
@Hugh5632
@tier-cap
@fabiencastan
@yusxu
@kunlinyu

We have made a more detailed check and it seems like the error in `basic_string.h` refers to the elder implementation of `basic_string` class that is designed for backward compatibility with C++03 (see [Dual ABI](https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_dual_abi.html) for more info).
Setting [`_GLIBCXX_USE_CXX11_ABI`](https://gcc.gnu

[2022-11-09 12:32] kboyarinov commented on #950
@astrojuanlu, could you please check if the newer GLIBCXX ABI can be used as described [here](https://github.com/oneapi-src/oneTBB/issues/383#issuecomment-1308681786)?

[2022-11-10 08:23] pavelkumbrasev commented on #949
@pobin6 Hi, any updates in your case?

[2022-11-10 08:35] pavelkumbrasev commented on #839
Hi @fdiedler, Is this issue still relevant no you? If yes could you please refer to [issue#863](863).

[2022-11-10 08:36] pavelkumbrasev commented on #830
Hi @barracuda156, Is this issue still relevant to you? If yes could you please check it with current master?

[2022-11-10 09:19] barracuda156 commented on #830
@pavelkumbrasev Sure, I will do it today–tomorrow.

(I will also rebase my PR to restore PPC support, and hope someone can help me with reviewing it.)

[2022-11-10 10:55] pavelkumbrasev commented on #813
@e4lam Is this problem still relevant to you?
If yes, what do you think about combined approach `task_group` + `arena enqueue`. You might submit single functions (task) via `arena enqueue` and wait for completion on `atomic` (for example) and for group of task use `task_ group`.

[2022-11-10 15:23] e4lam commented on #813
Yes, this is still an issue and I'm suffering for it. I don't see this "combined" approach helps because the point is to NOT keep around a `task_group` at all.

Rolling my own synchronization is not better because we used to have the low-level API so I presume all the infrastructure to wait on a task still exists in the library, except that it's been made all private.

[2022-11-10 15:30] isaevil commented on #927
@guyuezuntinggithub is this still an issue? Could you please respond?

[2022-11-10 15:33] isaevil commented on #925
@ouliuquan is this still an issue? Could you please respond?

[2022-11-10 15:36] ouliuquan commented on #925
I still thinking what @kboyarinov saying, I will make a repo about this issue this weekend.

[2022-11-11 03:12] barracuda156 commented on #830
@pavelkumbrasev I will try latest-commit a bit later, but version 2021.7.0 is completely broken: it fails not only with GCC, but also with Clang (though differently):
[code]
Logs for both builds here: https://trac.macports.org/ticket/66222

[2022-11-12 10:14] fdiedler commented on #839
@pavelkumbrasev Hi, I don't know I switch to another GCC version and it works fine. I think you can close the issue, people need to use GCC >= 10 with the last version of oneTBB.

[2022-11-13 01:19] astrojuanlu commented on #950
@kboyarinov Setting `_GLIBCXX_USE_CXX11_ABI=0` everywhere did not seem to help. This is the `Dockerfile`:

[code]

And the error is the same.

[2022-11-13 09:58] kboyarinov commented on #950
@astrojuanlu,
There was a typo in the comment I linked above. Setting `_GLIBCXX_USE_CXX11_ABI` to `1`, not `0` should force libstdc++ to use the newest version of `std::string`. Sorry for this mess.
We will also discuss internally how can we support this use case in oneTBB implementation.

[2022-11-13 09:59] kboyarinov commented on #383
There was a typo in the comment above. Setting `_GLIBCXX_USE_CXX11_ABI` to `1` not `0` should workaround the issue.
Sorry for the mess. I have edited the comment, just wanted to highlight the change.

[2022-11-13 13:43] ouliuquan commented on #925
I did some new example tests today and did not find the error I expected, my previous test example was mainly related to matrix calculation, so I used array coordinates. If so, can you make the `blocked_range3d` same calculation order as `blocked_range2d`+`for`? And thanks for @kboyarinov again, today I read your answer again and have a new understanding.

[2022-11-13 14:00] #925 closed

[2022-11-13 14:49] asmaloney opened #961 "Clarify TBB/oneTBB relationship in README"
I landed on the oneTBB GitHub page having used TBB but not having heard of oneTBB. So the first question I had was: Is this a fork or an official replacement for TBB?

It took quite a bit of searching to find the relationship between TBB and oneTBB. I looked all over the oneAPI site - but that didn't tell me anything (about anything, really 😄 - lots of buzzwords). I found an answer... on [StackOve

[2022-11-13 14:55] kboyarinov commented on #925
@ouliuquan, I would be happy to help you with your question about `blocked_range_2d`, but I am not sure that I understood it correctly. Could you please explain it in details? You can open a separate issue to track this request if you want.

[2022-11-13 16:08] ouliuquan commented on #925
@kboyarinov Maybe this is the best performance it can do, if I can use `blocked_range_3d` that will be faster than `blocked_range_2d`+`for` 2x, I want the `blocked_range_3d` have the same output sequence
[code]
to be the same:
[code]
as my wrote here #https://github.com/oneapi-src/oneTBB/issues/925#issue-1393648994, but maybe this is the  `blocked_range_3d`'s way: It must be out of order.

[2022-11-13 21:32] Timmmm commented on #961
Yeah this was also the first question I had when I just discovered oneTBB. The readme should really clarify the relationship between oneTBB and TBB, and what the differences are, who is behind it etc.

[This page](https://www.intel.com/content/www/us/en/developer/tools/oneapi/onetbb.html#gs.io7w8j) has a very concise answer:

I have no idea what oneAPI is but it answers all the questions: it's not

[2022-11-14 08:53] pavelkumbrasev commented on #839
Closing this issue as it was solved by switching to newer version.

[2022-11-14 08:53] #839 closed

[2022-11-14 13:08] astrojuanlu commented on #950
Hi @kboyarinov, no worries. Unfortunately, I still get the same error.

[code]

[2022-11-14 13:16] aavbsouza commented on #961
Hello, I believe that would be useful to link to this document (about some expected changes https://www.intel.com/content/www/us/en/developer/articles/technical/tbb-revamp.html. I do not know if this is the latest version of this document).

[2022-11-14 14:04] kboyarinov commented on #950
@astrojuanlu, I am not sure that setting the `_GLIBCXX_USE_CXX11_ABI` environment variable will fix the issue.
I guess it should necessarily be a macro.
It can be defined by

- `#define _GLIBCXX_USE_CXX11_ABI 1` in the code, before including any STL/TBB headers
- Adding `-D_GLIBCXX_USE_CXX11_ABI=1` into the compilation command
- Adding `-D_GLIBCXX_USE_CXX11_ABI=1` into the `CXXFLAGS` environment v

[2022-11-14 15:18] isaevil commented on #909
@de-gozaru have you considered trying latest version of oneTBB? Could you please respond?

[2022-11-14 15:48] isaevil commented on #908
Fixed by https://github.com/oneapi-src/oneTBB/pull/959.

[2022-11-14 15:48] #908 closed

[2022-11-14 16:31] #869 closed

[2022-11-14 16:34] isaevil commented on #859
@markdewing I would like to advise to stick with proposed workaround (updating binutils). Closing this issue. Feel free to reopen if any questions are left.

[2022-11-15 11:19] isaevil commented on #675
@omalyshe @alexandraepan Could you please take a look?

[2022-11-15 11:26] kboyarinov commented on #902
@andrewmabc, there is no special API for getting the number of messages on the edge, because in fact there is no edge entity - it is just a logical relationship between the nodes. The only way I can propose to count is to place an additional node (e.g. `function_node`) that will count the messages and forward the message to further successors.
If you would be able to share more details on your use

[2022-11-15 13:16] pavelkumbrasev commented on #707
Hi @e4lam, I'm not so proficient as @anton-potapov in old TBB and can not give you all answers.
After a quick check seems that it should be ok to just comment the assert. Have you already tested this approach?

[2022-11-15 13:25] alexandraepan commented on #675
@isaevil will add info and request review

[2022-11-15 14:03] cdluminate commented on #777
Not yet. Will try it for the next time of package upload

[2022-11-15 14:13] e4lam commented on #707
Hi @pavelkumbrasev I've long worked around this issue by using `tbb::parallel_invoke()` instead. At this point, no one is going back to TBB 2020 so I'll just close this issue as wontfix.

[2022-11-15 14:13] #707 closed

[2022-11-15 16:20] isaevil commented on #325
@ashutoshvarma As I can see, tbb4py for py3.8 is now listed https://pypi.org/project/tbb4py/#files. Do you still experience this issue?

[2022-11-15 19:02] astrojuanlu commented on #950
@kboyarinov I'm not 100 % sure I'm passing the parameters correctly, but this is what I tried now, and I keep getting the same error:

[code]

[2022-11-16 06:36] peteschroed opened #963 "Mac: oneTBB build fails with XCode 14 installed due to sprintf() deprecation error"
I'm building latest oneTBB on an M1 MBP with MacOS Monterey 12.6.1.  After upgrading from XCode 13.4.1 to 14.1, oneTBB fails to build due to two sprintf() deprecation errors.

[Apple developer forum thread with more info](https://developer.apple.com/forums/thread/714675)

**Build commands:**

[code]

**Build errors:**

[test/common/doctest.h:3698](https://github.com/oneapi-src/oneTBB/blob/master/t

[2022-11-16 06:54] phprus commented on #963
This issue can be fixed with PR: #954

[2022-11-16 09:14] pavelkumbrasev commented on #405
Hi @e4lam Is this issue still relevant?

[2022-11-16 11:41] isaevil commented on #322
Hi @brycelelbach. Is this issue still relevant? Does using `find_package` resolve this issue?

[2022-11-16 12:42] isaevil commented on #272
@JackBoosY sorry for late reply. Is this still a problem for latest oneTBB? Can you please try?

[2022-11-16 13:10] pavelkumbrasev commented on #269
Hi @Dr15Jones is this issue still relevant? Are you ok to use explicit task_arena for oversubscription tests? To my mind task_arena is direct API for such stuff.

[2022-11-16 15:10] e4lam commented on #405
It's just annoying that we have debug prints for this because in an ecosystem of libraries using TBB (ie. the [VFX Platform](https://vfxplatform.com)). The application can be limiting the number of threads, the libraries can be requesting some level of natural max concurrency and we get these print outs as a result on debug builds when they're not issues at all.

[2022-11-16 15:59] #961 closed

[2022-11-16 16:02] alexandraepan commented on #961
@asmaloney @Timmmm @aavbsouza Thanks for your feedback! Have added a note to README.md, let us know if something is wrong :)

[2022-11-16 21:01] Dr15Jones commented on #269
The use of task_arena for oversubscribtion has worked just fine.

[2022-11-16 21:01] #269 closed

[2022-11-17 00:27] brycelelbach commented on #322
I haven't had a chance to try, I'm no longer the one maintaining the
software in question.

On Wed, Nov 16, 2022 at 8:41 PM Ilya Isaev ***@***.***> wrote:

--
Bryce Adelstein Lelbach aka wash (he/him/his)
US Programming Language Standards Chair
ISO C++ Library Evolution Chair
Principal Architect @ NVIDIA
--

[2022-11-17 01:39] barracuda156 commented on #830
@pavelkumbrasev By the way malloc introspect errors are due to SDK limitations and are fixed by my PR here: https://github.com/oneapi-src/oneTBB/pull/840

Assembler errors on x86_64 are yet to be dealt with by someone.

[2022-11-17 08:29] pavelkumbrasev commented on #405
What about proposed by you solution is it work in your case?
[code]
It should work fine in terms of debug prints.

[2022-11-17 10:23] Cheney-W commented on #272
I can't reproduce this issue.
`-DTBB_STRICT=OFF` is now the default option for `tbb` installation, and `tbb` could install successfully.

[2022-11-17 11:57] jeffhammond opened #965 "why did you break parallel_reduce?"
I've been supporting TBB in the [PRK project](https://github.com/ParRes/Kernels/) for years.  Now it seems you've completely changed `parallel_reduce` such that none of the code compiles anymore.

Why do you keep doing this?  Is there a migration documentation?

[code]

[2022-11-17 12:14] isaevil commented on #272
@Cheney-W @JackBoosY if issue is resolved may I ask you to close this issue?

[2022-11-17 12:20] kboyarinov commented on #965
@jeffhammond, error you sent is caused by adding C++20 constraints into oneTBB APIs to provide early diagnostics of named requirements violations.
For your particular case, there is a violation of [ParallelReduceFunc requirement](https://spec.oneapi.io/versions/1.1-rev-1/elements/oneTBB/source/named_requirements/algorithms/par_reduce_func.html). It should accept `const Range&`, while the function

[2022-11-17 14:51] isaevil commented on #322
@brycelelbach is there someone you know who maintains and can answer or should we just close it?

[2022-11-18 01:55] brycelelbach commented on #322
Yah I'll ask the relevant engineers.

On Thu, Nov 17, 2022 at 11:51 PM Ilya Isaev ***@***.***>
wrote:

--
Bryce Adelstein Lelbach aka wash (he/him/his)
US Programming Language Standards Chair
ISO C++ Library Evolution Chair
Principal Architect @ NVIDIA
--

[2022-11-18 02:32] Cheney-W commented on #272
I think the issue author should be consulted.

[2022-11-18 02:33] JackBoosY commented on #272
I'm not the author so I can't close this issue.

[2022-11-18 03:38] e4lam commented on #405
No, it does not because the code creating the arena is in some third party library. Individually, each library is doing something reasonable, but altogether, it results in the extraneous debug output.

[2022-11-18 09:23] #272 closed

[2022-11-18 12:19] pavelkumbrasev commented on #949
Closing this issue since there is no response. Please reopen in case you still have a questions.

[2022-11-18 12:19] #949 closed

[2022-11-18 15:45] MoeMod opened #966 "Cannot compile on Windows ARM64EC"
oneTBB\include\oneapi\tbb\detail\_machine.h(39): warning C4163: '__rdtsc': not available as an intrinsic function
Tested on MSVC 14.34.31931
Seems like there is no __rdtsc intrinsic on ARM64EC

[2022-11-18 17:12] Dr15Jones opened #967 "Memory not being release after call to tbb::task_arena::execute"
In order to isolate different sets of tasks from one another (so that task from one set do not get execute by the thread running `tbb::task_group::wait` of another set)  we make use of `tbb::task_arena::execute`. This worked fine until I used such isolation in a case that was being called frequently. In that case, I noted that under Linux the VSize of the job was growing alarmingly fast and eventu

[2022-11-18 18:16] Dr15Jones commented on #967
As a follow up, moving the construction of the inner `tbb::task_arena` to be outside of the inner most for loop and then reusing it inside the loop also avoids the rapid memory increase (but there is still a much slower increase).

In addition, switching to `tbb::this_task_arena::isolate` also works (and is actually what we tend to do in other places of our code).

[2022-11-18 19:31] allisonvacanti commented on #322
We can close this. We have a working TBB import system in place.

[2022-11-19 15:46] astrojuanlu commented on #950
And I don't know where should I add `#define _GLIBCXX_USE_CXX11_ABI 1`, since the problem is not on my code calling oneTBB, but on oneTBB itself.

[2022-11-20 08:14] mkoeppe commented on #383
This workaround does not seem to work for me. This is on ubuntu-trusty with GCC 9 from toolchain ppa.  https://github.com/mkoeppe/PySCIPOpt/actions/runs/3506612801/jobs/5873770057

[2022-11-21 09:37] pavelkumbrasev commented on #396
Should be fixed with PR#758

[2022-11-22 18:09] peteschroed commented on #952
Here's the debug/thread info for test_task_arena hang:

[code]

[2022-11-24 00:56] barracuda156 commented on #819
@vossmjp Could you or someone take a look please?

https://github.com/oneapi-src/oneTBB/pull/840

[2022-11-24 12:35] CRD1998 commented on #857
Was this issue resolved? I am having a similar issue. I have a DLL which includes 'tbbmalloc_proxy.h' and when called from Python, TBB's allocator is not being used. Is there anyway to use 'tbbmalloc_proxy.dll' without linking Python against it? I am only concerned with allocations inside the DLL in which I have included 'tbbmalloc_proxy.h'.

[2022-11-25 10:52] isaevil commented on #909
@de-gozaru Closing it since no response. Feel free to reopen if any questions are left. Our default suggestion is to use newer versions like 2021.7 (latest), these are currently supported versions.

[2022-11-25 10:52] #909 closed

[2022-11-25 10:54] isaevil commented on #927
@guyuezuntinggithub we weren't able to reproduce this issue. Closing it since no response. Feel free to reopen with more details and steps on how to reproduce such error.

[2022-11-25 10:54] #927 closed

[2022-11-28 15:36] ilya-lavrenov opened #970 "Integrate patch from brew TBB formula"
Let's integrate patch from here https://github.com/Homebrew/homebrew-core/commit/ea7c5a51ab9fc0321aa30b79143c01b642c86faa to remove WA on brew side.

[2022-11-28 15:37] ilya-lavrenov commented on #879
BTW, in Ubuntu 22.10 tubing library is present

[2022-11-28 17:53] ilya-lavrenov opened #971 "TBBMalloc unversioned library is loaded on macOS"
Here we can see:
https://github.com/oneapi-src/oneTBB/blob/5e91b2c07d82e2b983551d26a24d13f5155f794b/src/tbb/allocator.cpp#L120-L125
That TBBMalloc is loaded differently on macOS and Linux systems. For some reason on macOS unversioned library is loaded, while it's actually versioned. Is it done explicitly? can / should the behavior be aligned?

Why is it needed? .so / .dylib unversioned files are j

[2022-11-29 09:30] IlgarLunin commented on #920
Same issue

[2022-11-29 17:22] jeffhammond commented on #965
Sure. Thanks for your help.

[2022-11-30 09:23] #965 closed

[2022-11-30 12:36] sukeya opened #972 "[Document] Wrong namespace of filter mode of pipeline."
Hello,
The following document says the filter modes of pipeline in namespace `filter`, but the actual namespace is `filter_mode` in /include/oneapi/tbb/parallel_pipeline.h.

/main/tbb_userguide/Working_on_the_Assembly_Line_pipeline.html
line 118, 121, 124

[2022-11-30 14:39] isaevil commented on #972
It is also `filter_mode` in [spec](https://spec.oneapi.io/versions/latest/elements/oneTBB/source/algorithms/functions/parallel_pipeline_func/filter_mode_enum.html).
@alexandraepan can you take a look?

[2022-11-30 21:40] FloopCZ opened #973 "New Release"
Hi, would it be possible to draft a new release? It has been quite some time since 2021.7.0 with plenty of bug fixes and improvements and some distributions are still waiting for an official version.